<section style="z-index: 100;position:relative">
    <div class="container text-center font-weight-bold">
        <div class="row g-4 py-5 row-cols-1 row-cols-sm-3">
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ users }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : users }}</div>
                <p>{{ 'users'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ magazines }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : magazines }}</div>
                <p>{{ 'magazines'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ votes }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : votes }}</div>
                <p>{{ 'votes'|trans|upper }}</p>
            </div>
        </div>
    </div>

    <div class="container text-center font-weight-bold">
        <div class="row g-4 py-5 row-cols-1 row-cols-sm-3">
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ entries }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : entries }}</div>
                <p>{{ 'threads'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ comments }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : comments }}</div>
                <p>{{ 'comments'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <div class="display-1 font-weight-bold"
                     data-controller="animated-number"
                     data-animated-number-start-value="0"
                     data-animated-number-end-value="{{ posts }}"
                     data-animated-number-duration-value="1000">{{ kbin_js_enabled ? '0' : posts }}</div>
                <p>{{ 'posts'|trans|upper }}</p>
            </div>
        </div>
    </div>
</section>
