<section style="z-index: 100;position:relative">
    <div class="container text-center font-weight-bold">
        <div class="row g-4 py-5 row-cols-1 row-cols-sm-3">
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ users }}</span>
                <p>{{ 'users'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ magazines }}</span>
                <p>{{ 'magazines'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ votes }}</span>
                <p>{{ 'votes'|trans|upper }}</p>
            </div>
        </div>
    </div>

    <div class="container text-center font-weight-bold">
        <div class="row g-4 py-5 row-cols-1 row-cols-sm-3">
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ entries }}</span>
                <p>{{ 'threads'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ comments }}</span>
                <p>{{ 'comments'|trans|upper }}</p>
            </div>
            <div class="feature col">
                <span class="display-1 font-weight-bold">{{ posts }}</span>
                <p>{{ 'posts'|trans|upper }}</p>
            </div>
        </div>
    </div>
</section>
