{% extends 'base.html.twig' %}

{%- block title -%}{{- 'stats'|trans -}}{%- endblock -%}

{% block body %}
    {%- set TYPE_GENERAL = constant('App\\Repository\\StatsRepository::TYPE_GENERAL') -%}
    {%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
    {%- set TYPE_VIEWS = constant('App\\Repository\\StatsRepository::TYPE_VIEWS') -%}
    {%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}
    <div class="kbin-stats">
        <h1 class="font-weight-bold mb-3 display-none">{{ 'stats'|trans }}</h1>

        <ul class="nav nav-pills mb-5">
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_GENERAL) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_GENERAL) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'general'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_CONTENT) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_CONTENT) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'threads'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_VOTES) }}" class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VOTES) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'votes'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_VIEWS) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VIEWS) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'views'|trans }}</a>
            </li>
        </ul>

        {% if type is same as TYPE_GENERAL %}
            {% include 'page/_instance_stats.html.twig' %}
        {% else %}
            <div class="mb-3">
                <label>
                    <select onchange="location = this.value;">
                        <option value="{{ get_stats_page_path(null) }}">{{ 'all'|trans }}</option>
                        <option value="{{ get_stats_page_path(null, 7) }}" {{ period is same as '7' ? 'selected' : '' }}>{{ 'week'|trans }}</option>
                        <option value="{{ get_stats_page_path(null, 14) }}" {{ period is same as '14' ? 'selected' : '' }}>
                            2 {{ 'weeks'|trans }}</option>
                        <option value="{{ get_stats_page_path(null, 31) }}" {{ period is same as '31' ? 'selected' : '' }}>{{ 'month'|trans }}</option>
                        <option value="{{ get_stats_page_path(null, 183) }}" {{ period is same as '183' ? 'selected' : '' }}>
                            6 {{ 'months'|trans }}</option>
                        <option value="{{ get_stats_page_path(null, 256) }}" {{ period is same as '256' ? 'selected' : '' }}>{{ 'year'|trans }}</option>
                    </select>
                </label>
            </div>

            <div>
                {{ render_chart(chart) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
