{% block comment %}
    {% from 'user/_macros.html.twig' import avatar %}
    {% from 'vote/_macros.html.twig' import vote %}

    <blockquote id="{{ comment.id }}"
                class="kbin-comment {{ extra_classes }} kbin-comment--nested kbin-comment-level--2"
                data-controller="comment"
                data-comment-post-id="{{ comment.post.id }}"
                data-comment-level-value="2"
                data-comment-url-value="{{ path('post_comment_create', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id, 'parent_comment_id': comment.id}) }}">
        <div class="kbin-comment-header mb-2">
            {{ vote(comment, {user: app.user, form_dest: 'post_comment_vote', base_class: 'comment', hide_downvote: true}) }}

            <div class="kbin-comment-avatar">
                {{ avatar(comment.user) }}
            </div>

            <aside class="kbin-comment-meta">
                <ul class="kbin-comment-meta-list list-inline m-0">
                    <li class="kbin-comment-meta-date kbin-comment-meta-list-item list-inline-item">
                        {% if not is_post_page() %}
                        <a href="{{ path('post_single', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id }) }}">
                            {% endif %}
                            <small class="text-muted">dodany
                                <time>{{ comment.createdAt|ago }}</time>
                            </small>
                            {% if not is_post_page() %}
                        </a>
                        {% endif %}
                    </li>

                    <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                        <small class="text-muted">przez
                            <a class="font-weight-bold" href="{{ path('user', {username: comment.user.username}) }}">
                                {{ comment.user.username }}
                            </a>
                        </small>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="kbin-comment-main">
            <div class="kbin-comment-content">
                {{ comment.body|markdown|raw }}
            </div>

            <aside class="kbin-comment-meta">
                <ul class="kbin-comment-meta-list  list-inline mb-0">
                    <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                        <small class="text-muted">
                            <a data-action="comment#reply"
                               class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert{% endif %}"
                               href="{{ path('post_comment_create', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id, 'parent_comment_id': comment.id}) }}">
                                odpowiedz
                            </a>
                        </small>
                    </li>

                    <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                        <small class="text-muted">
                            <a href="#">link</a>
                        </small>
                    </li>

                    <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                        <small class="text-muted"><a href="#">zgłoś</a></small>
                    </li>

                    {% if is_granted('edit', comment) %}
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('post_comment_edit', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id, 'comment_id': comment.id}) }}">
                                    edytuj
                                </a>
                            </small>
                        </li>
                    {% endif %}
                </ul>
            </aside>

            <div data-comment-target="reply" class=""></div>

        </div>
        <div class="clearfix"></div>
    </blockquote>
{% endblock comment %}
