{% block comment %}
    {% from 'user/_macros.html.twig' import avatar %}
    {% from 'vote/_macros.html.twig' import vote %}

    {% if not app.user or (app.user and not app.user.isBlocked(comment.user)) %}
        <blockquote id="{{ comment.id }}"
                    class="kbin-comment {{ extra_classes }} kbin-comment--nested kbin-comment-level--2"
                    data-controller="comment report"
                    data-comment-level-value="2">
            <div class="kbin-comment-header mb-2">
                {{ vote(comment, {user: app.user, form_dest: 'post_comment_vote', base_class: 'comment', hide_downvote: true}) }}

                <div class="kbin-comment-avatar">
                    {{ avatar(comment.user) }}
                </div>

                <aside class="kbin-comment-meta">
                    <ul class="kbin-comment-meta-list list-inline m-0">
                        <li class="kbin-comment-meta-date kbin-comment-meta-list-item list-inline-item">
                            {% if not is_post_page() %}
                            <a href="{{ path('post_single', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id }) }}">
                                {% endif %}
                                <small class="text-muted">dodany
                                    <time>{{ comment.createdAt|ago }}</time>
                                </small>
                                {% if not is_post_page() %}
                            </a>
                            {% endif %}
                        </li>

                        <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                            <small class="text-muted">przez
                                <a class="font-weight-bold" href="{{ path('user', {username: comment.user.username}) }}">
                                    {{ comment.user.username }}
                                </a>
                            </small>
                        </li>
                    </ul>
                </aside>
            </div>
            <div class="kbin-comment-main">
                <div class="kbin-comment-content" data-controller="show-more" data-action="image:thumbSelected->show-more#expand" data-action="image:thumbLoaded->show-more#checkHeight">
                    {% if comment.visibility is same as 'visible' %}
                        {{ comment.body|markdown|raw }}
                        {% if comment.image %}
                            <img data-controller="image"
                                 data-image-loading-class="loading-cursor"
                                 data-image-full-value="{{ uploaded_asset(comment.image.getFilePath()) }}"
                                 data-image-thumb-value="{{ asset(comment.image.getFilePath()) | imagine_filter('post_thumb') }}"
                                 data-action="click->image#toggle"
                                 src="{{ asset(comment.image.getFilePath()) | imagine_filter('post_thumb') }}"
                                 alt="{{ comment.title }}">
                        {% endif %}
                    {% elseif comment.visibility is same as 'trashed' %}
                        <p class="text-muted">[Treść usunięta przez moderatora]</p>
                    {% elseif comment.visibility is same as 'soft_deleted' %}
                        <p class="text-muted">[Treść usunięta przez użytkownika]</p>
                    {% endif %}
                </div>

                {% if comment.visibility is same as 'visible' %}
                    <aside class="kbin-comment-meta">
                        <ul class="kbin-comment-meta-list  list-inline mb-0">
                            <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                <small class="text-muted">
                                    <a data-action="comment#reply"
                                       class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert{% endif %}"
                                       href="{{ path('post_comment_create', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id, 'parent_comment_id': comment.id}) }}">
                                        odpowiedz
                                    </a>
                                </small>
                            </li>

                            <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                <small class="text-muted"><a href="{{ path('post_comment_report', {id: comment.id}) }}"
                                                             class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert{% endif %}"
                                                             data-action="report#report">zgłoś</a></small>
                            </li>

                            {% if is_granted('edit', comment) %}
                                <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                    <small class="text-muted">
                                        <a href="{{ path('post_comment_edit', {'magazine_name': comment.post.magazine.name, 'post_id': comment.post.id, 'comment_id': comment.id}) }}">
                                            edytuj
                                        </a>
                                    </small>
                                </li>
                            {% endif %}

                            {% if is_granted('moderate', comment.magazine) %}
                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <small class="kbin-entry-meta-edit text-muted">
                                        <a href="{{ path('magazine_panel_ban', {'magazine_name': comment.post.magazine.name, 'user_username': comment.user.username}) }}">zbanuj</a>
                                    </small>
                                </li>
                            {% endif %}
                        </ul>
                    </aside>
                {% endif %}
                <div data-comment-target="form" data-report-target="form" class=""></div>

            </div>
            <div class="clearfix"></div>
        </blockquote>
    {% endif %}
{% endblock comment %}
