{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_comment'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-comment-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('post', {
        post: post,
        isSingle: true,
        showMagazineName: false
    }) }}
    <div class="alert alert__info">
        <p>{{ 'browsing_one_thread'|trans }}</p>
        <p><a href="{{ post_url(post) }}"><i class="fa-solid fa-arrow-left"></i> {{ 'return'|trans }}</a></p>
    </div>
    {% if parent is defined and parent %}
        {{ component('post_comment', {
            comment: parent,
            showEntryTitle: false,
            showNested: false
        }) }}
    {% endif %}
    {% include 'layout/_flash.html.twig' %}
    <div id="content">
        <section class="section">
            {% include 'post/comment/_form_comment.html.twig' %}
        </section>
    </div>
{% endblock %}
