{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit_comment'|trans }} - {{ get_short_sentence(comment.body, 80) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-comment-edit{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {{ component('post_comment', {
        comment: comment
    }) }}
    {% include 'layout/_flash.html.twig' %}
    <div class="alert alert__info">
        <p>{{ 'browsing_one_thread'|trans }}</p>
        <p><a href="{{ post_url(comment.post) }}"><i class="fa-solid fa-arrow-left"></i> {{ 'return'|trans }}</a></p>
    </div>
    <div id="content">
        <section class="section">
            {% include 'post/comment/_form_comment.html.twig' with {edit: true} %}
        </section>
    </div>
{% endblock %}
