{% block vote %}
    <div class="kbin-{{ base_class }}-vote">
        <ul class="kbin-{{ base_class }}-vote-list">
            <li class="kbin-{{ base_class }}-vote-list-item kbin-vote-uv">
                <form action="{{ path(form_dest, {id: votable.id,choice:1}) }}" method="POST">
                    <button type="submit">
                        {{ votable.countUpvotes }}<span class="fa fa-arrow-up"></span>
                    </button>
                    <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
                </form>
            </li>

            <li class="kbin-{{ base_class }}-vote-list-item kbin-vote-dv">
                <form action="{{ path(form_dest, {id: votable.id,choice:-1}) }}" method="POST">
                    <button type="submit">
                        {{ votable.countDownvotes }}<span class="fa fa-arrow-down"></span>
                    </button>
                    <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
                </form>
            </li>
        </ul>
    </div>
{% endblock vote %}
