{% block modlog %}
    {% from '_layout/_not_found.html.twig' import not_found %}

    <div class="kbin-modlog">
        {% if logs|length %}
            <div class="alert alert-danger" role="alert">
                W modlogu możesz trafić na <strong>drastyczne treści</strong> usunięte przez moderatorów. Upewnij się, że wiesz co robisz...
            </div>

            <div class="table-responsive">
                <table class="table align-middle">
                    <tbody>
                    {% for log in logs %}
                        <tr>
                            <td>{{ block(log.type) }}</td>
                            <td class="text-end text-"><small class="text-muted">{{ log.createdAt|ago }}</small></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if(logs.haveToPaginate) %}
                {{ pagerfanta(logs, null, {'pageParameter':'[strona]'}) }}
            {% endif %}
        {% else %}
            {{ not_found() }}
        {% endif %}
    </div>
{% endblock modlog %}

{% block log_entry_deleted %}
    {% from 'magazine/_macros.html.twig' import magazine %}
    {% from 'user/_macros.html.twig' import user %}

    {{ user(log.user) }} usunął treść autorstwa {{ user(log.entry.user) }}{% if show_magazine %} w {{ magazine(log.entry.magazine) }}{% endif %} -
    <a href="{{ path('entry_single', { 'magazine_name':log.entry.magazine.name, 'entry_id': log.entry.id}) }} }}">{{ log.entry.shortTitle }}</a>
{% endblock log_entry_deleted %}

{% block log_entry_comment_deleted %}
    {% from 'magazine/_macros.html.twig' import magazine %}
    {% from 'user/_macros.html.twig' import user %}

    {{ user(log.user) }} usunął komentarz autorstwa {{ user(log.comment.user) }}{% if show_magazine %} w {{ magazine(log.comment.magazine) }}{% endif %} - {{ log.comment.shortTitle }}
{% endblock log_entry_comment_deleted %}

{% block log_post_deleted %}
    {% from 'magazine/_macros.html.twig' import magazine %}
    {% from 'user/_macros.html.twig' import user %}

    {{ user(log.user) }} usunął post autorstwa {{ user(log.post.user) }}{% if show_magazine %} w {{ magazine(log.post.magazine) }}{% endif %} -
    <a href="{{ path('post_single', {'magazine_name': log.post.magazine.name, 'post_id': log.post.id }) }}">{{ log.post.shortTitle }}</a>
{% endblock log_post_deleted %}

{% block log_post_comment_deleted %}
    {% from 'magazine/_macros.html.twig' import magazine %}
    {% from 'user/_macros.html.twig' import user %}

    {{ user(log.user) }} usunął post autorstwa {{ user(log.comment.user) }}{% if show_magazine %} w {{ magazine(log.comment.magazine) }}{% endif %} - {{ log.comment.shortTitle }}
{% endblock log_post_comment_deleted %}

{% block log_ban %}
    {% from 'magazine/_macros.html.twig' import magazine %}
    {% from 'user/_macros.html.twig' import user %}

    {{ user(log.user) }} {% if log.meta is same as 'ban' %}zbanował{% else %}odbanował{% endif %} użytkownika {{ user(log.ban.user) }}
    {% if log.ban.reason %}{% if show_magazine %} w {{ magazine(log.ban.magazine) }}{% endif %} - {{ log.ban.reason }}{% endif %}
{% endblock log_ban %}
