<ul class="nav nav-pills mb-5">
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_magazine_blocks') ? 'active': '' }}" aria-current="page"
           href="{{ path('user_profile_magazine_blocks') }}">{{ 'magazines'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_user_blocks') ? 'active': '' }}"
           href="{{ path('user_profile_user_blocks') }}">{{ 'people'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_domain_blocks') ? 'active': '' }}"
           href="{{ path('user_profile_domain_blocks') }}">{{ 'domains'|trans }}</a>
    </li>
</ul>
