{{ form_start(form) }}

<h2 class="font-weight-bold mb-4">{{ 'appearance'|trans }}</h2>

<div class="mb-3">
    {{ form_label(form.darkTheme, 'dark_mode'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.darkTheme, {name: 'dark_mode'|trans}) }}
    </div>

    {{ form_label(form.turboMode, 'turbo_mode'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.turboMode, {name: 'turbo_mode'|trans}) }} <small class="ms-1 text-muted">(experimental)</small>
    </div>

    <div class="input-group input-group-lg">
        <div class="form-check"><input id="adult" type="checkbox" name="" disabled="disabled" novalidate="novalidate" class="form-check-input">
            <label class="form-check-label required" for="adult">{{ 'hide_nsfw'|trans }}</label>
        </div>
    </div>

    {{ form_label(form.hideImages, 'hide_images'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.hideImages, {name: 'hide_images'|trans}) }}
    </div>
</div>

<hr class="mb-4">

<h2 class="font-weight-bold mb-4">{{ 'privacy'|trans }}</h2>

<h5 class="">{{ 'profile'|trans }}</h5>
{{ form_label(form.showProfileSubscriptions, 'show_profile_subscriptions'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.showProfileSubscriptions, {name: 'show_profile_subscriptions'|trans}) }}
</div>

{{ form_label(form.showProfileFollowings, 'show_profile_followings'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.showProfileFollowings, {name: 'show_profile_followings'|trans}) }}
</div>

<hr class="mb-4">

<h2 class="font-weight-bold mb-4">{{ 'notifications'|trans }}</h2>

<h5 class="">{{ 'your_content'|trans }}</h5>
{{ form_label(form.notifyOnNewEntryReply, 'notify_on_new_entry_reply'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewEntryReply, {name: 'notify_on_new_entry_reply'|trans}) }}
</div>

{{ form_label(form.notifyOnNewEntryCommentReply, 'notify_on_new_entry_comment_reply'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewEntryCommentReply, {name: 'notify_on_new_entry_comment_reply'|trans}) }}
</div>

{{ form_label(form.notifyOnNewPostReply, 'notify_on_new_post_reply'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewPostReply, {name: 'notify_on_new_post_reply'|trans}) }}
</div>

{{ form_label(form.notifyOnNewPostCommentReply, 'notify_on_new_post_comment_reply'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewPostCommentReply, {name: 'notify_on_new_post_comment_reply'|trans}) }}
</div>

<h5 class="mt-3">{{ 'subscriptions'|trans }}</h5>

{{ form_label(form.notifyOnNewEntry, 'notify_on_new_entry'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewEntry, {name: 'notify_on_new_entry'|trans}) }}
</div>

{{ form_label(form.notifyOnNewPost, 'notify_on_new_posts'|trans) }}
<div class="input-group input-group-lg">
    {{ form_widget(form.notifyOnNewPost, {name: 'notify_on_new_posts'|trans}) }}
</div>

<hr>

<div class="mb-12 text-end">
    {{ form_row(form.submit, { 'label': 'done'|trans }) }}
</div>

<hr>

{{ form_end(form) }}
