{{ form_start(form) }}
<div class="col-xs-12">
    <div class="kbin-comment-create-form my-3">
        <div class="mb-3">
            {{ form_label(form.body, 'Wiadomość') }}
            {{ form_widget(form.body, {'attr': {'class': 'kbin-editor'}}) }}
        </div>

        <div class="mb-12 text-end btn-group float-end">
            {{ form_row(form.submit, { 'label': 'Gotowe', 'attr': {'class': 'kbin-comment-send btn-primary'} }) }}
        </div>
    </div>
</div>
<div class="clearfix"></div>
{{ form_end(form) }}

