{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.username, 'username'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.username) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.email, 'email'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.email) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.plainPassword.first, 'password'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.plainPassword.first) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.plainPassword.second, 'repeat_password'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

{% if form.avatar is defined %}
    <div class="mb-3">
        {{ form_label(form.avatar, 'avatar'|trans) }}
        <div class="input-group input-group-lg">
            {{ form_widget(form.avatar, {'attr':{ 'class': 'form-control' }}) }}
        </div>
    </div>
{% endif %}

<div class="mb-3">
    {{ form_label(form.agreeTerms, 'consent_terms'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.agreeTerms, {name: 'consent_terms'|trans}) }}
    </div>
</div>

<div class="mb-12 text-end">
    {{ form_row(form.submit, { 'label': 'done'|trans }) }}
</div>
{{ form_end(form) }}
