{{ form_start(form) }}

<h3 class="mb-4">Powiadomienia</h3>

<h5 class="mb-3">Twoje treści</h5>

<div class="mb-3">
    {{ form_label(form.notifyOnNewEntryCommentReply, 'Powiadamiaj mnie o odpowiedziach na komentarze w treściach') }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.notifyOnNewEntryCommentReply, {name: 'Powiadamiaj mnie o odpowiedziach na komentarze w treściach'}) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.notifyOnNewPostCommentReply, 'Powiadamiaj mnie o odpowiedziach na komentarze we wpisach') }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.notifyOnNewPostCommentReply, {name: 'Powiadamiaj mnie o odpowiedziach na komentarze we wpisach'}) }}
    </div>
</div>

<h5 class="mb-3">Obserwowane</h5>

<div class="mb-3">
    {{ form_label(form.notifyOnNewEntry, 'Powiadamiaj mnie o nowych treściach w obserwowanym magazynie') }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.notifyOnNewEntry, {name: 'Powiadamiaj mnie o nowych treściach w obserwowanym magazynie'}) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.notifyOnNewPost, 'Powiadamiaj mnie o nowych wpisach w obserwowanym magazynie') }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.notifyOnNewPost, {name: 'Powiadamiaj mnie o nowych wpisach w obserwowanym magazynie'}) }}
    </div>
</div>

<h5 class="mb-3">Wygląd</h5>

<div class="mb-3">
    {{ form_label(form.darkTheme, 'Ciemny motyw') }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.darkTheme, {name: 'Ciemny motyw'}) }}
    </div>
</div>

<div class="mb-12 text-end">
    {{ form_row(form.submit, { 'label': 'Gotowe' }) }}
</div>
{{ form_end(form) }}
