{{ form_start(form) }}
<div class="mb-3">
    {{ form_label(form.plainPassword.first, 'password'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.plainPassword.first) }}
    </div>
</div>

<div class="mb-3">
    {{ form_label(form.plainPassword.second, 'repeat_password'|trans) }}
    <div class="input-group input-group-lg">
        {{ form_widget(form.plainPassword.second) }}
    </div>
</div>

<div class="mb-12 text-end">
    {{ form_row(form.submit, { 'label': 'done'|trans }) }}
</div>
{{ form_end(form) }}
