<ul class="nav nav-pills mb-5">
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_magazine_subscriptions') ? 'active bg-gradient': '' }}" aria-current="page"
           href="{{ path('user_profile_magazine_subscriptions') }}">{{ 'subscriptions'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_magazine_blocks') ? 'active bg-gradient': '' }}"
           href="{{ path('user_profile_magazine_blocks') }}">{{ 'blocks'|trans }}</a>
    </li>
</ul>
