{% from 'user/_macros.html.twig' import user %}
{% from 'user/_macros.html.twig' import avatar %}

<blockquote id="{{ message.id }}" class="kbin-comment shadow-sm">
    <div class="kbin-comment-header mb-2">
        {% if message.sender.avatar %}
            <div class="kbin-comment-avatar">
                {{ avatar(message.sender) }}
            </div>
        {% endif %}

        <aside class="kbin-comment-meta">
            <ul class="kbin-comment-meta-list list-inline m-0">
                <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                    <small class="text-muted">{{ 'by'|trans }} {{ user(message.sender, {prefix: false, bolded: true}) }} {# @todo bold username #}
                        <time data-controller="timeago"
                              data-timeago-refresh-interval-value="10000"
                              data-timeago-datetime-value="{{ message.createdAt|date('c') }}">{{ message.createdAt|ago }}</time>
                    </small>
                </li>
            </ul>
        </aside>
    </div>
    <div class="kbin-comment-main">
        <blockquote class="kbin-comment-content">
            {{ message.body|markdown|raw }}
        </blockquote>
    </div>
</blockquote>
