{% from 'user/_macros.html.twig' import user %}
{% from 'user/_macros.html.twig' import avatar %}

<blockquote id="{{ message.id }}" class="kbin-comment shadow-sm">
    <div class="kbin-comment-header mb-2">
        <div class="kbin-comment-avatar">
            {{ avatar(message.sender) }}
        </div>

        <aside class="kbin-comment-meta">
            <ul class="kbin-comment-meta-list list-inline m-0">
                <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                    <small class="text-muted">przez {{ user(message.sender, {prefix: false, bolded: true}) }} {# @todo bold username #}
                        {{ message.createdAt|ago }}
                    </small>
                </li>
            </ul>
        </aside>
    </div>
    <div class="kbin-comment-main">
        <blockquote class="kbin-comment-content">
            {{ message.body|markdown|raw }}
        </blockquote>
    </div>
</blockquote>
