<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_front') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_front') }}"><i class="fas fa-chart-line"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_notifications') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_notifications') }}"><i class="fas fa-bell"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_messages') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_messages') }}"><i class="fas fa-envelope"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_reports') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_reports') }}">{{ 'reports'|trans }}</a>
    </li>

    {# todo: nojs #}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{ is_active_route('user_profile_magazine_subscriptions') or is_active_route('user_profile_user_subscriptions') ? 'active font-weight-bold' : '' }}"
           data-bs-toggle="dropdown"
           role="button" aria-expanded="false" href="{{ path('user_profile_user_subscriptions') }}">{{ 'subscriptions'|trans }}</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('user_profile_magazine_subscriptions') }}">{{ 'magazines'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('user_profile_user_subscriptions') }}">{{ 'people'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('user_profile_domain_subscriptions') }}">{{ 'domains'|trans }}</a></li>
        </ul>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle {{ is_active_route('user_profile_magazine_blocks') or is_active_route('user_profile_user_blocks') ? 'active font-weight-bold' : '' }}"
           data-bs-toggle="dropdown"
           role="button" aria-expanded="false" href="{{ path('user_profile_magazine_subscriptions') }}">{{ 'blocks'|trans }}</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('user_profile_magazine_blocks') }}">{{ 'magazines'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('user_profile_user_blocks') }}">{{ 'people'|trans }}</a></li>
            <li><a class="dropdown-item" href="{{ path('user_profile_domain_blocks') }}">{{ 'domains'|trans }}</a></li>
        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_tips') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_tips') }}">ADA</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_settings') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_settings') }}">{{ 'settings'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('user_profile_edit') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('user_profile_edit') }}">{{ 'edit_profile'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page"
           href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
    </li>
</ul>
