{% extends 'base.html.twig' %}

{% block title %}{{ 'profile'|trans }} | {{ user.username }}{% endblock %}

{% block body %}
    {%- set TYPE_GENERAL = constant('App\\Repository\\StatsRepository::TYPE_GENERAL') -%}
    {%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
    {%- set TYPE_VIEWS = constant('App\\Repository\\StatsRepository::TYPE_VIEWS') -%}
    {%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}

    <div class="kbin-magazine-moderators-page">
        {% include 'user/profile/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}

        <ul class="nav nav-pills mb-5">
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_CONTENT, null, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_CONTENT, TYPE_CONTENT) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'threads'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_VOTES, null, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VOTES) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'votes'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_VIEWS, null, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VIEWS) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'views'|trans }}</a>
            </li>
        </ul>

        <div class="mb-3">
            <label>
                <select onchange="location = this.value;">
                    <option value="{{ get_stats_page_path(null, null, user) }}">{{ 'all'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 7, user) }}" {{ period is same as '7' ? 'selected' : '' }}>{{ 'week'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 14, user) }}" {{ period is same as '14' ? 'selected' : '' }}>
                        2 {{ 'weeks'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 31, user) }}" {{ period is same as '31' ? 'selected' : '' }}>{{ 'month'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 183, user) }}" {{ period is same as '183' ? 'selected' : '' }}>
                        6 {{ 'months'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 256, user) }}" {{ period is same as '256' ? 'selected' : '' }}>{{ 'year'|trans }}</option>
                </select>
            </label>
            <label>
                <select onchange="location = this.value;">
                    <option value="">Przyznane głosy</option>
                </select>
            </label>
        </div>

        <div class="tab-content">
            <div>
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig'with {user: app.user} %}
    </div>
{% endblock %}
