{% extends 'base.html.twig' %}

{% block title %}{{ 'profile'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-profile kbin-profile-page">
        {% include 'user/profile/_tabs.html.twig' %}

        <ul class="nav nav-pills mb-5">
            <li class="nav-item" role="presentation">
                <button class="nav-link active text-reset" id="pills-activity-tab" data-bs-toggle="pill" data-bs-target="#pills-activity"
                        type="button" role="tab" aria-controls="pills-activity" aria-selected="true">{{ 'activity'|trans }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-reset" aria-selected="false">{{ 'votes'|trans }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-reset" aria-selected="false">{{ 'views'|trans }}</button>
            </li>
        </ul>

        <div class="mb-3">
            <label>
                <select name="forma" onchange="location = this.value;">
                    <option value="{{ path('user_profile_front') }}">Wszystkie</option>
                    <option value="{{ path('user_profile_front', {type: '-', period: 7}) }}"  {{ period is same as '7' ? 'selected' : '' }}>{{ 'week'|trans }}</option>
                    <option value="{{ path('user_profile_front', {type: '-', period: 14}) }}" {{ period is same as '14' ? 'selected' : '' }}>2 {{ 'weeks'|trans }}</option>
                    <option value="{{ path('user_profile_front', {type: '-', period: 31}) }}" {{ period is same as '31' ? 'selected' : '' }}>{{ 'month'|trans }}</option>
                    <option value="{{ path('user_profile_front', {type: '-', period: 183}) }}" {{ period is same as '183' ? 'selected' : '' }}>6 {{ 'months'|trans }}</option>
                    <option value="{{ path('user_profile_front', {type: '-', period: 256}) }}" {{ period is same as '256' ? 'selected' : '' }}>{{ 'year'|trans }}</option>
                </select>
            </label>
        </div>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
                {{ render_chart(contentChart) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig'with {user: app.user} %}
    </div>
{% endblock %}
