{% extends 'base.html.twig' %}

{% use 'user/profile/_notifications.html.twig' %}

{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ 'notifications'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-profile kbin-profile-notifications-page">
        {% include 'user/profile/_tabs.html.twig' %}

        <div class="kbin-profile-edit mt-lg-4">
            {% if app.user.notifications.count > 0 %}
                <div class="mb-4 btn-group">
                    <form action="{{ path('user_profile_notifications_read') }}" method="POST" class="me-2">
                        <input type="hidden" name="token" value="{{ csrf_token('read_notifications') }}">
                        <button class="btn btn-sm btn-primary" type="submit">
                            {{ 'read_all'|trans }}
                        </button>
                    </form>
                    <form method="post" action="{{ path('user_profile_notifications_clear') }}"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('clear_notifications') }}">
                        <button class="btn btn-sm btn-danger" type="submit">
                            <span>{{ 'purge'|trans }}</span>
                        </button>
                    </form>
                </div>
            {% else %}
                {{ not_found() }}
            {% endif %}
            <div class="kbin-notifications table-responsive">
                <table class="table align-middle small">
                    <tbody>
                    {% for notification in notifications %}
                        <div class="{{ notification.status is same as 'new' ? '' : 'opacity-50' }}">{{ block(notification.type) }}</div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if(notifications.haveToPaginate) %}
                {{ pagerfanta(notifications, null, {'pageParameter':'[p]'}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' with {user: app.user} %}
    </div>
{% endblock %}
