{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}Notyfikacje | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-profile kbin-profile-notifications-page">
        {% include 'user/profile/_tabs.html.twig' %}

        <div class="kbin-profile-edit mt-lg-4">
            {% if app.user.notifications.count > 0 %}
                <div class="mb-4 btn-group">
                    <form action="{{ path('user_profile_notifications_read') }}" method="POST" class="me-2">
                        <input type="hidden" name="token" value="{{ csrf_token('read_notifications') }}">
                        <button class="btn btn-sm btn-primary" type="submit">
                            Odczytaj wszystkie
                        </button>
                    </form>
                    <form action="{{ path('user_profile_notifications_clear') }}" method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('clear_notifications') }}">
                        <button class="btn btn-sm btn-danger" type="submit">
                            <span>Wyczyść</span>
                        </button>
                    </form>
                </div>
            {% else %}
                {{ not_found() }}
            {% endif %}
            <div class="table-responsive">
                <table class="table align-middle small">
                    <tbody>
                    {% for notification in notifications %}
                        <tr>
                            <td class="{{ notification.status is same as 'new' ? '' : 'opacity-50' }}">{{ block(notification.type) }}</td>
                            <td class="text-end text-"><small class="text-muted">{{ notification.createdAt|ago }}</small></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if(notifications.haveToPaginate) %}
                {{ pagerfanta(notifications, null, {'pageParameter':'[strona]'}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' with {user: app.user} %}
    {% include 'user/profile/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig'with {user: app.user} %}
    </div>
{% endblock %}

{% block entry_created_notification %}
    {% include 'user/profile/notification/_entry_created_notification.html.twig' %}
{% endblock entry_created_notification %}

{% block entry_deleted_notification %}
    {% include 'user/profile/notification/_entry_deleted_notification.html.twig' %}
{% endblock entry_deleted_notification %}

{% block entry_comment_created_notification %}
    {% include 'user/profile/notification/_entry_comment_created_notification.html.twig' %}
{% endblock entry_comment_created_notification %}

{% block entry_comment_deleted_notification %}
    {% include 'user/profile/notification/_entry_comment_created_notification.html.twig' %}
{% endblock entry_comment_deleted_notification %}

{% block post_created_notification %}
    {% include 'user/profile/notification/_post_created_notification.html.twig' %}
{% endblock post_created_notification %}

{% block post_deleted_notification %}
    {% include 'user/profile/notification/_post_deleted_notification.html.twig' %}
{% endblock post_deleted_notification %}

{% block post_comment_created_notification %}
    {% include 'user/profile/notification/_post_comment_created_notification.html.twig' %}
{% endblock post_comment_created_notification %}

{% block post_comment_deleted_notification %}
    {% include 'user/profile/notification/_post_comment_deleted_notification.html.twig' %}
{% endblock post_comment_deleted_notification %}

{% block message_notification %}
    {% include 'user/profile/notification/_message_notification.html.twig' %}
{% endblock message_notification %}

{% block magazine_ban_notification %}
    {% include 'user/profile/notification/_ban_notification.html.twig' %}
{% endblock magazine_ban_notification %}
