{% extends 'base.html.twig' %}

{%- block title -%}
    {{ domain.name }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-domain-entry-front{% endblock %}

{% block header_nav %}
    {% include 'domain/_header_nav.html.twig' %}
{% endblock %}

{% block sidebar_top %}
    {{ component('domain', {domain: domain}) }}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ domain.name }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    </header>
    {% include 'layout/_options.html.twig' %}
    <div id="content">
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}

