{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block body %}
    <h1 class="font-weight-bold mb-5">{{ 'reset_password'|trans }}</h1>

    <p>
        {{ 'reset_check_email_desc'|trans }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{{ 'reset_check_email_desc2'|trans }} <a href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans }}</a>.</p>
{% endblock %}
