{% extends 'base.html.twig' %}

{% block mainClass %}page-reset-password-email-sent{% endblock %}

{% block body %}
    <div id="content" class="section section--top">
        <div class="container">
            <h1>{{ 'check_email'|trans }}</h1>
            <p>{{ 'reset_check_email_desc'|trans({'%expire%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}</p>
            <p>{{ 'reset_check_email_desc2'|trans }}</p>
            <p><a class="btn btn__secondry" href="{{ path('app_forgot_password_request') }}">{{ 'try_again'|trans }}</a></p>
        </div>
    </div>
{% endblock %}
