<h1>{{ 'email_confirm_header'|trans }}</h1>

<p>{{ 'reset_visit_link'|trans }}</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{{ 'email_confirm_expire'|trans }}</p>

<p>Cheers!</p>
