{% extends 'base.html.twig' %}

{% block title %}{{ 'reset_password'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-reset-password-page">
        <div class="kbin-reset mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h1 class="font-weight-bold mb-5">{{ 'reset_password'|trans }}</h1>

                    {{ form_start(requestForm) }}
                    {{ form_row(requestForm.email) }}

                    <div class="py-3">
                        <small>
                            {{ 'reset_password_desc'|trans }}
                        </small>
                    </div>

                    <div class="text-end">
                        <button class="btn btn-primary">{{ 'done'|trans }}</button>
                    </div>

                    {{ form_end(requestForm) }}

                    <p class="mt-5">{{ 'dont_have_account'|trans }} <a href="{{ path('app_register') }}">{{ 'register'|trans }}.</a></p>
                    <p class="mb-5">{{ 'already_have_account'|trans }} <a href="{{ path('app_login') }}">{{ 'login'|trans }}.</a></p>

                    {% include 'user/_oauth_social.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
