{% extends 'base.html.twig' %}

{% block mainClass %}kbin-page-reset-password{% endblock %}

{% block body %}
    <div id="kbin-content" class="kbin-section kbin-section--top">
        <div class="container">
            {{ form_start(form) }}
            {% for flash_error in app.flashes() %}
                <div class="kbin-alert kbin-alert__danger">{{ flash_error }}</div>
            {% endfor %}
            <h1>{{ 'reset_password'|trans }}</h1>
            {{ form_row(form.email, {
                label: 'email'

            }) }}

            <div>
                <button class="kbin-btn kbin-btn__primary" type="submit">{{ 'reset_password'|trans }}</button>
            </div>
            {{ form_end(form) }}

            <div class="kbin-actions">
                <p>{{ 'already_have_account'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_login') }}">{{ 'login'|trans }}</a></p>

                <p>{{ 'dont_have_account'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_register') }}">{{ 'register'|trans }}</a></p>
            </div>
            {% include 'user/_login_socials.html.twig' %}
        </div>
    </div>
{% endblock %}
