{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'general'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-general{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include('user/settings/_options.html.twig') %}
    {% include 'layout/_flash.html.twig' %}
    <div id="content" class="section">
        <div class="container">
            <h1 hidden>{{ 'general'|trans }}</h1>
            {{ form_start(form) }}
            <h2>{{ 'appearance'|trans }}</h2>
            {{ form_row(form.customCss, {label: 'custom_css', row_attr: {class: 'textarea'}}) }}
            {{ form_row(form.ignoreMagazinesCustomCss, {label: 'ignore_magazines_custom_css', row_attr: {class: 'checkbox'}}) }}
            <h2>{{ 'feed'|trans }}</h2>
            {{ form_row(form.homepage, {label: 'homepage'}) }}
            {{ form_row(form.preferredLanguages, {label: 'preferred_languages'}) }}
            {{ form_row(form.featuredMagazines, {label: 'featured_magazines'}) }}
            {{ form_row(form.hideAdult, {label: 'hide_adult', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.markNewComments, {label: 'mark_new_comments', row_attr: {class: 'checkbox'}}) }}
            <h2>{{ 'sub_channel'|trans }}</h2>
            {{ form_row(form.showSubscribedUsers, {label: 'show_subscribed_users', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.showSubscribedMagazines, {label: 'show_subscribed_magazines', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.showSubscribedDomains, {label: 'show_subscribed_domains', row_attr: {class: 'checkbox'}}) }}
            <h2>{{ 'writing'|trans }}</h2>
            {{ form_row(form.addMentionsEntries, {label: 'add_mentions_entries', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.addMentionsPosts, {label: 'add_mentions_posts', row_attr: {class: 'checkbox'}}) }}
            <h2>{{ 'privacy'|trans }}</h2>
            {{ form_row(form.showProfileSubscriptions, {label: 'show_profile_subscriptions', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.showProfileFollowings, {label: 'show_profile_followings', row_attr: {class: 'checkbox'}}) }}
            <h2>{{ 'notifications'|trans }}</h2>
            {{ form_row(form.notifyOnNewEntryReply, {label: 'notify_on_new_entry_reply', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.notifyOnNewEntryCommentReply, {label: 'notify_on_new_entry_comment_reply', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.notifyOnNewPostReply, {label: 'notify_on_new_post_reply', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.notifyOnNewPostCommentReply, {label: 'notify_on_new_post_comment_reply', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.notifyOnNewEntry, {label: 'notify_on_new_entry', row_attr: {class: 'checkbox'}}) }}
            {{ form_row(form.notifyOnNewPost, {label: 'notify_on_new_posts', row_attr: {class: 'checkbox'}}) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2>{{ 'request_account_deletion_title'|trans }}</h2>
            <p>{{ 'request_account_deletion_description'|trans }}</p>
            {% if app.user.getVisibility() is same as 'trashed' %}
                <form action="{{ path('user_delete_request_revoke', {username: app.user.username}) }}" method="POST"
                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');"
                      class="mb-2">
                    <input type="hidden" name="token" value="{{ csrf_token('user_delete') }}">
                    <button type="submit" class="btn btn__danger">
                        <i class="fa-solid fa-dumpster-fire"></i> {{ 'request_account_deletion_revoke_button'|trans }}
                    </button>
                </form>
            {% else %}
                <form action="{{ path('user_delete_request', {username: app.user.username}) }}" method="POST"
                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');"
                      class="mb-2">
                    <input type="hidden" name="token" value="{{ csrf_token('user_delete') }}">
                    <button type="submit" class="btn btn__danger">
                        <i class="fa-solid fa-dumpster-fire"></i> {{ 'request_account_deletion_button'|trans }}
                    </button>
                </form>
            {% endif %}

{#            <p>{{ 'user_suspend_desc'|trans }}</p>#}
{#            {% if app.user.getVisibility() is same as 'trashed' %}#}
{#                <form action="{{ path('user_reinstate', {username: app.user.username}) }}" method="POST"#}
{#                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">#}
{#                    <input type="hidden" name="token" value="{{ csrf_token('user_suspend') }}">#}
{#                    <button type="submit" class="btn btn__primary">#}
{#                        <i class="fa-solid fa-dumpster"></i> {{ 'reinstate_account'|trans }}#}
{#                    </button>#}
{#                </form>#}
{#            {% else %}#}
{#                <form action="{{ path('user_suspend', {username: app.user.username}) }}" method="POST"#}
{#                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');"#}
{#                      class="mb-2">#}
{#                    <input type="hidden" name="token" value="{{ csrf_token('user_suspend') }}">#}
{#                    <button type="submit" class="btn btn__primary">#}
{#                        <i class="fa-solid fa-dumpster"></i> {{ 'suspend_account'|trans }}#}
{#                    </button>#}
{#                </form>#}
{#            {% endif %}#}
        </div>
    </div>
{% endblock %}
