{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'password'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-password{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include('user/settings/_options.html.twig') %}
    <div id="content" class="section">
        <div class="container">
            <h1 hidden>{{ 'password_and_2fa'|trans }}</h1>
            <h2>{{ 'change_password'|trans }}</h2>
            {{ form_start(form) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>{{ 'two_factor_authentication'|trans }}</h2>
            
                {% if has2fa %}
                    <form action="{{ path('user_settings_2fa_disable') }}"
                        method="POST"
                        onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_2fa_remove') }}">
                        <div class="row">
                            <button type="submit" class="btn btn__primary">
                                {{ '2fa.disable'|trans }}
                            </button>
                        </div>
                    </form>

                    <p id="backup-create-help" class="mt-4">{{ '2fa.backup-create.help' | trans }}</p>

                    <form action="{{ path('user_settings_2fa_backup') }}"
                          method="POST">
                        <input type="hidden" name="token" value="{{ csrf_token('user_2fa_backup') }}">
                        <div class="row">
                            <button type="submit" class="btn btn__primary" aria-describedby="backup-create-help">
                                {{ '2fa.backup-create.label' | trans }}
                            </button>
                        </div>
                    </form>
                {% else %}
                    <div class="row params__left">
                        <a href="{{ path('user_settings_2fa') }}" class="btn btn__primary" role="button">{{ '2fa.enable'|trans }}</a>
                    </div>
                {% endif %}
        </div>
    </div>
{% endblock %}
