{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'password'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-password{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include('user/settings/_options.html.twig') %}
    <div id="content" class="section">
        <div class="container">
            <h1 hidden>{{ 'profile'|trans }}</h1>
            <h2>{{ 'change_password'|trans }}</h2>
            {{ form_start(form) }}
            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
