{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'reports'|trans }} - {{ app.user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-settings page-settings-reports{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'user/settings/_options.html.twig' %}
    <h1 hidden>{{ 'reports'|trans }}</h1>
    {{ component('report_list', {reports: reports, routeName: 'user_settings_reports'}) }}
{% endblock %}
