{% from 'user/_macros.html.twig' import user %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td>{{ 'name'|trans }}</td>
            <td>{{ 'reason'|trans }}</td>
            <td>{{ 'created'|trans }}</td>
            <td>{{ 'expires'|trans }}</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for ban in bans %}
            <tr>
                <td>{{ user(ban.user) }}</td>
                <td>{{ ban.reason }}</td>
                <td>
                    <time data-controller="timeago"
                          data-timeago-refresh-interval-value="10000"
                          data-timeago-datetime-value="{{ ban.createdAt|date('c') }}">{{ ban.createdAt|ago }}</time>
                </td>
                <td>{{ ban.expiredAt ? ban.expiredAt|ago : 'Nigdy' }}</td>
                <td>
                    <form method="post"
                          action="{{ path('magazine_panel_unban', {magazine_name: ban.magazine.name, user_username: ban.user.username}) }}"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('magazine_unban') }}">
                        <button class="btn btn-sm btn-danger">{{ 'delete'|trans }}</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(bans.haveToPaginate) %}
    {{ pagerfanta(users, null, {'pageParameter':'[p]'}) }}
{% endif %}
