{% from 'user/_macros.html.twig' import avatar %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td></td>
            <td>Nazwa</td>
            <td>Powód</td>
            <td>Utworzono</td>
            <td>Wygasa</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for ban in bans %}
            <tr>
                <td>{{ avatar(ban.user) }}</td>
                <td>/u/<a href="{{ path('user', {'username': ban.user.username}) }}">{{ ban.user.username }}</a></td>
                <td>{{ ban.reason }}</td>
                <td>{{ ban.createdAt|ago }}</td>
                <td>{{ ban.expiredAt ? ban.expiredAt|ago : 'Nigdy' }}</td>
                <td>
                    <form action="{{ path('magazine_panel_unban', {magazine_name: ban.magazine.name, user_username: ban.user.username}) }}" method="post">
                        <input type="hidden" name="token" value="{{ csrf_token('magazine_unban') }}">
                        <button class="btn btn-sm btn-danger">usuń</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(bans.haveToPaginate) %}
    {{ pagerfanta(users, null, {'pageParameter':'[strona]'}) }}
{% endif %}
