{{ form_start(form) }}
<div class="col-lg-6 mb-3">
    <div class="kbin-magazine-theme-form">
        <div class="kbin-magazine-background"></div>

        <div class="mb-3">
            {{ form_label(form.cover, 'cover'|trans) }}
            {{ form_widget(form.cover, {'attr':{ 'class': 'form-control' }}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.customCss, 'CSS') }}
            {{ form_widget(form.customCss) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.customJs, 'JS') }}
            {{ form_widget(form.customJs) }}
        </div>

        <div class="input-group input-group-lg me-2">
            {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': {'class': 'kbin-theme-send btn-primary'} }) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
