{{ form_start(form) }}
<div class="kbin-magazine-create-form">
    <div class="mb-3">
        {{ form_label(form.reason, 'reason'|trans) }}
        <div class="input-group">
            {{ form_widget(form.reason) }}
        </div>
    </div>

    <div class="mb-3">
        {{ form_label(form.expiredAt, 'expires'|trans) }}
        <div class="input-group">
            {{ form_widget(form.expiredAt, { 'attr': {'class': 'kbin-date kbin-ban', 'autocomplete': 'off'}}) }}
        </div>
    </div>

    <div class="mb-12 text-end">
        {{ form_row(form.submit, { 'label': 'done'|trans }) }}
    </div>
</div>
{{ form_end(form) }}
