{% from 'user/_macros.html.twig' import user %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td>{{ 'name'|trans }}</td>
            <td>{{ 'added'|trans }}</td>
            <td></td>
            {% if is_granted('edit', magazine) %}
                <td></td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for moderator in moderators %}
            <tr>
                <td>{{ user(moderator.user) }}</td>
                <td>
                    <time data-controller="timeago"
                          data-timeago-refresh-interval-value="10000"
                          data-timeago-datetime-value="{{ moderator.createdAt|date('c') }}">{{ moderator.createdAt|ago }}</time>
                </td>
                <td>{% include 'user/_follow_button.html.twig' with {'user': moderator.user} %}</td>
                <td>
                    {% if is_granted('edit', magazine) and not moderator.isOwner %}
                        <form method="post"
                              action="{{ path('magazine_panel_moderator_purge', {magazine_name: magazine.name, moderator_id: moderator.id}) }}"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('remove_moderator') }}">
                            <button class="btn btn-sm btn-danger">{{ 'delete'|trans }}</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(moderators.haveToPaginate) %}
    {{ pagerfanta(moderators, null, {'pageParameter':'[p]'}) }}
{% endif %}
