{% from 'user/_macros.html.twig' import avatar %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td></td>
            <td>Nazwa</td>
            <td>Dodno</td>
            <td></td>
            {% if is_granted('edit', magazine) %}
                <td></td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for moderator in moderators %}
            <tr>
                <td>{{ avatar(moderator.user) }}</td>
                <td>/u/<a href="{{ path('user', {'username': moderator.user.username}) }}">{{ moderator.user.username }}</a></td>
                <td>{{ moderator.createdAt|ago }}</td>
                <td>{% include 'user/_follow_button.html.twig' with {'user': moderator.user} %}</td>
                <td>
                    {% if is_granted('edit', magazine) and not moderator.isOwner %}
                        <form action="{{ path('magazine_panel_moderator_purge', {magazine_name: magazine.name, moderator_id: moderator.id}) }}"
                              method="post">
                            <input type="hidden" name="token" value="{{ csrf_token('remove_moderator') }}">
                            <button class="btn btn-sm btn-danger">usuń</button>
                        </form>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(moderators.haveToPaginate) %}
    {{ pagerfanta(moderators, null, {'pageParameter':'[strona]'}) }}
{% endif %}
