{% from 'user/_macros.html.twig' import user %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            {# <td>Zgłosił</td> #}
            <td>{{'reason'|trans}}</td>
            <td>{{'threads'|trans}}</td>
            <td>{{ 'author'|trans }}</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
            <tr>
                {# <td>{{ user(report.reporting) }}</td> #}
                <td>{{ report.reason }}</td>
                <td>{% include '_layout/_subject_link.html.twig' with {subject: report.subject} %}</td>
                <td>{{ user(report.reported) }}</td>
                <td>
                    <div class="btn-group btn-group-sm" role="group" aria-label="Zgłoszenie">
                        <form method="post"
                              action="{{ path('magazine_panel_report_approve', {'magazine_name': report.subject.magazine.name, 'report_id': report.id} ) }}"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('report_approve') }}">
                            <button type="submit" class="btn btn-danger btn-sm rounded-0 rounded-start">{{'delete'|trans}}</button>
                        </form>
                        <a href="{{ path('magazine_panel_ban', {'magazine_name': report.subject.magazine.name,'user_username': report.reported.username}) }}"
                           class="btn btn-sm btn-dark">{{ 'ban'|trans }}</a>
                        <form method="post"
                              action="{{ path('magazine_panel_report_reject', {'magazine_name': report.subject.magazine.name, 'report_id': report.id}) }}">
                            <input type="hidden" name="token" value="{{ csrf_token('report_decline') }}">
                            <button type="submit" class="btn btn-primary btn-sm rounded-0 rounded-end">{{'reject'|trans}}</button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(reports.haveToPaginate) %}
    {{ pagerfanta(users, null, {'pageParameter':'[p]'}) }}
{% endif %}
