{% if is_granted('edit', magazine) %}
    <div class="kbin-add kbin-magazine-panel d-grid gap-2 mb-5"
         data-controller="reveal"
         data-reveal-hidden-class="visually-hidden">
        <button type="button"
                class="btn btn-secondary btn-lg mb-1 kbin-add-btn font-weight-bold {{ not kbin_js_enabled() or is_magazine_panel_page() ? 'visually-hidden' : '' }}"
                data-reveal-target="item"
                data-action="click->reveal#toggle">
            {{ 'magazine_panel'|trans }}
        </button>
        <button type="button" class="btn-close visually-hidden"
                aria-label="Close"
                data-reveal-target="item"
                data-action="click->reveal#toggle"></button>

        <div class="list-group w-auto {{ not kbin_js_enabled() or is_magazine_panel_page() ? '' : 'visually-hidden' }}" data-reveal-target="item">
            <a href="{{ path('magazine_panel_front', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_front') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'stats'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_reports', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_reports') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'reports'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_moderators', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_moderators') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'moderators'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_badges', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_badges') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'badges'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_bans', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_bans') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'bans'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_trash', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_trash') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'trash'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_theme', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_theme') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'appearance'|trans }}</span>
                    </div>
                </div>
            </a>
            <a href="{{ path('magazine_panel_edit', {'name': magazine.name}) }}"
               class="list-group-item list-group-item-action d-flex gap-3 py-3 {{ is_active_route('magazine_panel_edit') ? 'active' : '' }}" aria-current="true">
                <div class="d-flex gap-2 w-100 justify-content-between">
                    <div>
                        <span class="mb-0 h6">{{ 'general'|trans }}</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endif %}
