{% if is_granted('edit', magazine) %}
    <div class="kbin-add kbin-magazine-panel d-grid gap-2 mb-5"
         data-controller="reveal"
         data-reveal-hidden-class="visually-hidden">
        <button type="button"
                class="btn btn-light btn-lg mb-1 kbin-add-btn {{ not kbin_js_enabled or is_magazine_panel_page() ? 'visually-hidden' : '' }}"
                data-reveal-target="item"
                data-action="click->reveal#toggle">
            {{ 'magazine_panel'|trans }}
        </button>
        <button type="button" class="btn-close visually-hidden"
                aria-label="Close"
                data-reveal-target="item"
                data-action="click->reveal#toggle"></button>

        <div class="kbin-quick-links list-group {{ not kbin_js_enabled or is_magazine_panel_page() ? '' : 'visually-hidden' }}"
             data-reveal-target="item">
            <a href="{{ path('magazine_panel_front', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_front') ? 'active' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'stats'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_reports', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_reports') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'reports'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_moderators', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_moderators') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'moderators'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_badges', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_badges') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'badges'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_bans', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_bans') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'bans'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_trash', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_trash') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'trash'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_theme', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_theme') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'appearance'|trans }}</h4>
            </a>

            <a href="{{ path('magazine_panel_edit', {'name': magazine.name}) }}"
               class="list-group-item {{ is_active_route('magazine_panel_edit') ? 'active font-weight-bold' : '' }}">
                <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{'general'|trans}}</h4>
            </a>
        </div>
    </div>
{% endif %}
