{%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
{%- set TYPE_VIEWS = constant('App\\Repository\\StatsRepository::TYPE_VIEWS') -%}
{%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}
{% set lang = app.request.locale %}
<div class="pills">
    <menu>
        <li>
            <a href="{{ path('magazine_panel_stats', {name: magazine.name, statsType: lang is same as 'pl' ? TYPE_CONTENT|trans|lower : TYPE_CONTENT}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', lang is same as 'pl' ? TYPE_CONTENT|trans|lower : TYPE_CONTENT) or get_route_param('statsType') is same as null}) }}">
                {{ TYPE_CONTENT|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('magazine_panel_stats', {name: magazine.name, statsType: lang is same as 'pl' ? TYPE_VOTES|trans|lower : TYPE_VOTES}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', lang is same as 'pl' ? TYPE_VOTES|trans|lower : TYPE_VOTES)}) }}">
                {{ TYPE_VOTES|trans }}
            </a>
        </li>
        <li>
            <a href="{{ path('magazine_panel_stats', {name: magazine.name, statsType: lang is same as 'pl' ? TYPE_VIEWS|trans|lower : TYPE_VIEWS}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', lang is same as 'pl' ? TYPE_VIEWS|trans|lower : TYPE_VIEWS)}) }}">
                {{ TYPE_VIEWS|trans }}
            </a>
        </li>
    </menu>
</div>