<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_front') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_front', {'name': magazine.name}) }}"><i class="fas fa-chart-line"></i></a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_reports') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_reports', {'name': magazine.name}) }}">{{ 'reports'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_moderators') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_moderators', {'name': magazine.name}) }}">{{ 'moderators'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_badges') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_badges', {'name': magazine.name}) }}">{{ 'badges'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_bans') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_bans', {'name': magazine.name}) }}">{{ 'bans'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_trash') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_trash', {'name': magazine.name}) }}">{{ 'trash'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_theme') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_theme', {'name': magazine.name}) }}">{{ 'appearance'|trans }}</a>
    </li>

    <li class="nav-item">
        <a class="nav-link {{ is_active_route('magazine_panel_edit') ? 'active font-weight-bold' : '' }}" aria-current="page"
           href="{{ path('magazine_panel_edit', {'name': magazine.name}) }}">{{ 'general'|trans }}</a>
    </li>
</ul>
