{% extends 'base.html.twig' %}

{% block title %}{{ 'badges'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    {% from '_layout/_not_found.html.twig' import not_found %}

    <div class="kbin-magazine-bans-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        {% if(badges|length) %}
            <div class="kbin-magazine-bans mt-lg-4">
                {% include 'magazine/panel/_badges_list_table.html.twig' %}
            </div>
        {% else %}
            {{ not_found() }}
        {% endif %}
        <div class="col-lg-6">
            {% include 'magazine/panel/_form_badge.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
