{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'bans'|trans }} - {{ 'magazine_panel'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazine-panel page-magazine-bans{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'magazine/panel/_options.html.twig' %}
    {% include 'magazine/_visibility_info.html.twig' %}

    <h1 hidden>{{ 'ban'|trans }}</h1>
    <section class="section">
        {{ component('user_box', {user: user}) }}
    </section>
    <section class="section ban-add">
        <div class="container">
            {{ form_start(form) }}
            <div>
                {{ form_label(form.reason, 'reason') }}
                {{ form_widget(form.reason) }}
            </div>
            <div>
                {{ form_label(form.expiredAt, 'expired_at') }}
                {{ form_widget(form.expiredAt) }}
            </div>
            <div class="actions">
                {{ form_row(form.submit, { 'label': 'ban', attr: {class: 'btn btn__primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
