{% extends 'base.html.twig' %}

{% block title %}{{ 'bans'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    {% from '_layout/_not_found.html.twig' import not_found %}

    <div class="kbin-magazine-bans-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        {% if(bans|length) %}
            <div class="kbin-magazine-bans mt-lg-4">
                {% include 'magazine/panel/_bans_list_table.html.twig' %}
            </div>
        {% else %}
            {{ not_found() }}
        {% endif %}
        <div class="col-lg-6">
            <form method="post" action="{{ path('magazine_panel_bans', {'name': magazine.name }) }}">
                <div class="mb-3">
                    <label for="user">{{ 'username'|trans }}</label>
                    <input name="user" id="user" class="form-control" required>
                </div>
                <div class="text-end">
                    <button class="btn btn-primary" type="submit">
                        {{ 'add'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
