{% extends 'base.html.twig' %}

{% block title %}{{ 'edit_magazine'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-edit-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        <div class="kbin-magazine-edit mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <p class="kbin-magazine-create-lead lead mb-5">{{ 'what_magazine_is'|trans }}</p>

            {% include 'magazine/_form.html.twig' %}
            {% include 'magazine/_form_delete.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
