{% extends 'base.html.twig' %}

{% block title %}{{ 'stats'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    {%- set TYPE_GENERAL = constant('App\\Repository\\StatsRepository::TYPE_GENERAL') -%}
    {%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
    {%- set TYPE_VIEWS = constant('App\\Repository\\StatsRepository::TYPE_VIEWS') -%}
    {%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}

    <div class="kbin-magazine-moderators-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}

        <ul class="nav nav-pills mb-5">
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_CONTENT, null, null, magazine) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_CONTENT, TYPE_CONTENT) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'threads'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#" class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VOTES) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'votes'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_stats_page_path(TYPE_VIEWS, null, null, magazine) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_stats_type(TYPE_VIEWS) ? 'active' : '' }}" tabindex="-1" role="button"
                   aria-disabled="true">{{ 'views'|trans }}</a>
            </li>
        </ul>

        <div class="mb-3">
            <label>
                <select onchange="location = this.value;">
                    <option value="{{ get_stats_page_path(null, null, null, magazine) }}">{{ 'all'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 7, null, magazine) }}" {{ period is same as '7' ? 'selected' : '' }}>{{ 'week'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 14, null, magazine) }}" {{ period is same as '14' ? 'selected' : '' }}>
                        2 {{ 'weeks'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 31, null, magazine) }}" {{ period is same as '31' ? 'selected' : '' }}>{{ 'month'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 183, null, magazine) }}" {{ period is same as '183' ? 'selected' : '' }}>
                        6 {{ 'months'|trans }}</option>
                    <option value="{{ get_stats_page_path(null, 256, null, magazine) }}" {{ period is same as '256' ? 'selected' : '' }}>{{ 'year'|trans }}</option>
                </select>
            </label>
        </div>

        <div class="tab-content">
            <div>
                {{ render_chart(contentChart) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
