{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'general'|trans }} - {{ 'magazine_panel'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazine-panel page-magazine-general{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'magazine/panel/_options.html.twig' %}
    {% include 'magazine/_visibility_info.html.twig' %}
    
    <h1 hidden>{{ 'general'|trans }}</h1>
    <div id="content" class="section theme">
        <div class="container">
            {{ form_start(form) }}
            <div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                {{ form_label(form.title) }}
                {{ form_widget(form.title) }}
            </div>
            <div>
                {{ component('editor_toolbar', {id: 'magazine_description'}) }}
                {{ form_row(form.description, {label: false, attr: {placeholder: 'description', 'data-entry-link-create-target': 'magazine_description'}}) }}
            </div>
            <div>
                {{ component('editor_toolbar', {id: 'magazine_rules'}) }}
                {{ form_row(form.rules, {label: false, attr: {placeholder: 'rules', 'data-entry-link-create-target': 'magazine_rules'}}) }}
            </div>
            <div class="checkbox">
                {{ form_label(form.isAdult) }}
                {{ form_widget(form.isAdult) }}
            </div>
            <div class="actions">
                {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': {'class': 'btn btn__primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2>{{ 'magazine_deletion'|trans }}</h2>
            <div>
                <div class="mb-2">
                    {% if magazine.visibility is same as 'visible' %}
                        <form action="{{ path('magazine_delete', {name: magazine.name}) }}" method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('magazine_delete') }}">
                            <button type="submit" class="btn btn__primary">
                                <i class="fa-solid fa-dumpster"></i> {{ 'delete_magazine'|trans }}
                            </button>
                        </form>
                    {% else %}
                        <form action="{{ path('magazine_restore', {name: magazine.name}) }}" method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('magazine_restore') }}">
                            <button type="submit" class="btn btn__primary">
                                <i class="fa-solid fa-dumpster"></i> {{ 'restore_magazine'|trans }}
                            </button>
                        </form>
                    {% endif %}
                </div>
                {% if is_granted('purge', magazine) %}
                    <div class="mb-2">
                        <form action="{{ path('magazine_purge_content', {name: magazine.name}) }}" method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('magazine_purge_content') }}">
                            <button type="submit" class="btn btn__danger">
                                <i class="fa-solid fa-dumpster"></i> {{ 'purge_content'|trans }}
                            </button>
                        </form>
                    </div>
                    <div>
                        <form action="{{ path('magazine_purge', {name: magazine.name}) }}" method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('magazine_purge') }}">
                            <button type="submit" class="btn btn__danger">
                                <i class="fa-solid fa-dumpster-fire"></i> {{ 'purge_magazine'|trans }}
                            </button>
                        </form>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
