{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'moderators'|trans }} - {{ 'magazine_panel'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazine-panel page-magazine-moderators{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'magazine/panel/_options.html.twig' %}
    {% include 'magazine/_visibility_info.html.twig' %}

    <h1 hidden>{{ 'moderators'|trans }}</h1>
    {% include 'magazine/_moderators_list.html.twig' %}
    {% if(moderators.haveToPaginate is defined and moderators.haveToPaginate) %}
        {{ pagerfanta(moderators, null, {'pageParameter':'[p]'}) }}
    {% endif %}
    {% if not moderators|length %}
        <aside class="section section--muted">
            <p>{{ 'empty'|trans }}</p>
        </aside>
    {% endif %}
    <div class="section moderator-add">
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                {{ form_errors(form.user) }}
            </div>
            <div>
                {{ form_label(form.user, 'username') }}
                {{ form_widget(form.user) }}
            </div>
            <div class="actions row">
                {{ form_row(form.submit, { 'label': 'add_moderator', attr: {class: 'btn btn__primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
