{% extends 'base.html.twig' %}

{% block title %}{{ 'reports'|trans }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

{% block body %}
    {% from '_layout/_not_found.html.twig' import not_found %}

    <div class="kbin-magazine-bans-page">
        {% include 'magazine/panel/_tabs.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        {% if(reports|length) %}
            <div class="kbin-magazine-bans mt-lg-4">
                {% include 'magazine/panel/_reports_list_table.html.twig' %}
            </div>
        {% else %}
            {{ not_found() }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
