{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'reports'|trans }} - {{ 'magazine_panel'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazine-panel page-magazine-reports{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'magazine/panel/_options.html.twig' %}
    {% include 'magazine/_visibility_info.html.twig' %}

    <h1 hidden>{{ 'reports'|trans }}</h1>
    {{ component('report_list', {reports: reports, routeName: 'magazine_panel_reports', magazineName: magazine.name}) }}
{% endblock %}
