{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'federation'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-admin-federation{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'admin/_options.html.twig' %}
    <div class="section" id="content">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.instances, {label: 'banned_instances'}) }}
            <div class="actions">
                {{ form_row(form.submit, { 'label': 'save'|trans, attr: {class: 'btn btn__primary'} }) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
