{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'settings'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-admin-settings page-settings{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% include 'admin/_options.html.twig' %}
    {% include 'admin/_pages.html.twig' %}
    <div class="section" id="content">
        <div class="container">
            {{ form_start(form) }}
            {{ form_row(form.title, {label: false, attr: {placeholder: 'title'}}) }}
            {{ component('editor_toolbar', {id: 'page_body'}) }}
            {{ form_row(form.body, {label: false, attr: {placeholder: 'body', 'data-controller': 'rich-textarea autogrow', 'data-entry-link-create-target': 'admin_pages'}}) }}
            <div class="row actions">
                {{ form_row(form.submit, {label: 'save', attr: {class: 'btn btn__primary'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
