{% extends 'base.html.twig' %}

{%- block title -%}{{ 'settings'|trans }} - {{ 'admin_panel'|trans }}{%- endblock -%}

{% block body %}
    <h1 class="mb-5">{{ 'settings'|trans }}</h1>

    <div class="col-lg-6 mb-3">
        <div class="kbin-magazine-theme-form">
            <div class="kbin-magazine-background"></div>

            <div class="mb-5">
                <h3 class="font-weight-bold">{{ 'general'|trans }}</h3>

                <div class="mb-3">
                    {{ form_label(form.KBIN_DOMAIN, 'domain'|trans ) }}
                    {{ form_widget(form.KBIN_DOMAIN) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.KBIN_CONTACT_EMAIL, 'contact_email'|trans ) }}
                    {{ form_widget(form.KBIN_CONTACT_EMAIL) }}
                </div>
            </div>

            <div class="mb-5">
                <h3 class="font-weight-bold">{{ 'meta'|trans }}</h3>

                <div class="mb-3">
                    {{ form_label(form.KBIN_META_TITLE, 'title'|trans ) }}
                    {{ form_widget(form.KBIN_META_TITLE) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.KBIN_META_DESCRIPTION, 'description'|trans ) }}
                    {{ form_widget(form.KBIN_META_DESCRIPTION) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.KBIN_META_KEYWORDS, 'keywords'|trans ) }}
                    {{ form_widget(form.KBIN_META_KEYWORDS) }}
                </div>
            </div>

            <div class="float-end">
                <div class="input-group input-group-lg me-2">
                    {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': {'class': 'kbin-theme-send btn-primary ms-3'} }) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'admin/_sidebar.html.twig' %}
{% endblock %}
