{% extends 'base.html.twig' %}

{%- block title -%}{{ 'settings'|trans }} - {{ 'admin_panel'|trans }}{%- endblock -%}

{% block body %}
    <h1 class="mb-5">{{ 'terms'|trans }}</h1>

    <div class="mb-3">
        <div class="kbin-magazine-theme-form" data-controller="editor">
            {{ form_start(form) }}
            <div class="mb-5">
                <div class="mb-3">
                    {{ form_label(form.terms, 'terms'|trans ) }}
                    {{ form_widget(form.terms, {'attr': {'class': 'kbin-editor'}}) }}
                </div>

            </div>

            <div class="mb-5">
                <div class="mb-3">
                    {{ form_label(form.privacyPolicy, 'privacy_policy'|trans ) }}
                    {{ form_widget(form.privacyPolicy, {'attr': {'class': 'kbin-editor'}}) }}
                </div>
            </div>

            <div class="float-end">
                <div class="input-group input-group-lg me-2">
                    {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': {'class': 'kbin-theme-send btn-primary ms-3'} }) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'admin/_sidebar.html.twig' %}
{% endblock %}
