{% extends 'base.html.twig' %}

{%- block title -%}{{ 'users'|trans }} - {{ 'admin_panel'|trans }}{%- endblock -%}

{% block body %}
    <h1 class="mb-5">{{ 'users'|trans }}</h1>

    <div class="table-responsive kbin-users">
        <table class="table align-middle">
            <thead>
            <tr>
                <td>{{ 'username'|trans }}</td>
                <td>{{ 'email'|trans }}</td>
                <td>{{ 'created'|trans }}</td>
                <td>{{ 'reputation_points'|trans }}</td>
                <td>{{ 'is_banned'|trans }}</td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>
                        {% include 'user/_avatar.html.twig' with { width: 35, height: 35 } %}
                        {{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
                    <td>{{ get_reputation_total(user) }}</td>
                    <td>{{ user.isBanned ? '+' : '' }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if(users.haveToPaginate) %}
        {{ pagerfanta(users, null, {'pageParameter':'[p]'}) }}
    {% endif %}

{% endblock %}

{% block sidebar %}
    {% include 'admin/_sidebar.html.twig' %}
{% endblock %}
