{% block entry %}
    {% from 'vote/_macros.html.twig' import vote %}

    <article id="{{ entry.id }}"
             class="kbin-entry {{ extra_classes }}"
             data-controller="embed"
             data-embed-id-value="{{ entry.id }}"
             data-embed-is-visible-value="false"
             data-embed-hidden-class="display-none"
             data-embed-loading-class="spinner-border"
             data-embed-reply-class="fa-photo-video">
        <div class="kbin-entry-header">
            {{ vote(entry, {user: app.user, form_dest: 'entry_vote'}) }}

            {% if (entry.image) %}
                <div class="kbin-entry-image">
                    <a href="{{ path('entry_single', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">
                        <img class="lazy" src="{{ asset(entry.image.getFilePath()) |imagine_filter('entry_thumb') }}" alt="{{ entry.title }}"/>
                    </a>
                </div>
            {% endif %}

            <div class="kbin-entry-main">
                {% include 'entry/_entry_title.html.twig' %}
                <aside class="kbin-entry-meta">
                    <ul class="kbin-entry-meta-list list-inline mb-0">
                        <li class="kbin-entry-meta-date kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">dodany
                                <time>{{ entry.createdAt|ago }}</time>
                            </small>
                        </li>

                        {% if not is_user_page() %}
                            <li class="kbin-entry-meta-user kbin-entry-meta-list-item list-inline-item">
                                <small class="text-muted">przez <a
                                            href="{{ path('user', {username: entry.user.username}) }}">{{ entry.user.username }}</a></small>
                            </li>
                        {% endif %}

                        {% if not is_magazine_page() %}
                            <li class="kbin-entry-meta-magazine kbin-entry-meta-list-item list-inline-item">
                                <small class="text-muted">
                                    do <a href="{{ path('front_magazine', {'name': entry.magazine.name}) }}">/m/{{ entry.magazine.name }}</a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="kbin-entry-meta-list  list-inline mb-0">
                        {% if entry.hasEmbed %}
                            <li class="kbin-entry-meta-date kbin-entry-meta-list-item list-inline-item"
                                data-action="click->embed#fetch">
                                <i class="kbin-preview fas fa-photo-video text-muted me-1" data-embed-target="reply"></i>
                            </li>
                        {% endif %}

                        <li class="kbin-entry-meta-entry kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('entry_single', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">
                                    {{ entry.commentCount }} komentarzy
                                </a>
                            </small>
                        </li>

                        <li class="kbin-entry-meta-report kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="#">zgłoś</a></small>
                        </li>

                        {% if is_granted('edit', entry) or is_granted('moderate', entry.magazine) %}
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted">
                                    <a href="{{ path('entry_edit', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">edytuj</a>
                                </small>
                            </li>
                        {% endif %}

                        {% if is_granted('moderate', entry.magazine) %}
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted">
                                    <a href="{{ path('magazine_panel_ban', {'magazine_name': entry.magazine.name, 'user_username': entry.user.username}) }}">zbanuj</a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>
            <div class="clearfix"></div>
        </div>

        {% if(entry.body and show_content) %}
            <div class="kbin-entry-content mt-3">
                {{ entry.body|markdown|raw }}
            </div>
        {% endif %}

        <div class="clearfix"></div>

        {% if entry.hasEmbed %}
            <button type="button" class="btn-close mt-3 display-none" data-embed-target="close" aria-label="Zamknij"
                    data-action="embed#close"></button>
            <div class="kbin-embed">
                <div class="ratio ratio-16x9 mt-4 display-none" data-embed-target="container">
                </div>
            </div>
        {% endif %}
    </article>
{% endblock entry %}
