{% block entry %}
    {% from 'magazine/_macros.html.twig' import magazine_inline %}
    {% from 'user/_macros.html.twig' import user %}
    {% from 'vote/_macros.html.twig' import vote %}
    {% from '_layout/_macros.html.twig' import entry_url %}

    <article id="{{ entry.id }}"
             class="kbin-entry {{ extra_classes }} {{ entry.image ? 'kbin-has-image' : '' }}"
             data-controller="embed report comment-counter"
             data-action="notify:EntryCommentCreatedNotification@window->comment-counter#increase"
             data-comment-counter-subject-id-value="{{ entry.id }}"
             data-embed-url-value="{{ entry.url }}"
             data-embed-type-value="{{ entry.type }}"
             data-embed-image-value="{{ entry.image ? entry.image.filePath : '' }}"
             data-embed-is-visible-value="false"
             data-embed-hidden-class="display-none"
             data-embed-loading-class="spinner-border"
             data-embed-embed-class="fa-photo-video">
        <div class="clearfix">
            {{ vote(entry, {user: app.user, form_dest: 'entry_vote', notification_type: 'Entry'}) }}

            {% if entry.image and entry.visibility is same as 'visible' %}
                {% if is_entry_page() %}
                    <div class="kbin-entry-image">
                        <a href="{{- entry.type is same as 'image' ? '/media/'~asset(entry.image.filePath) : entry.url -}}">
                            <img width="200" class="lazy" src="{{ asset(entry.image.filePath) |imagine_filter('entry_thumb') }}" alt="{{ entry.title }}"/>
                        </a>
                    </div>
                {% else %}
                    <div class="kbin-entry-image">
                        <a href="{{- entry_url(entry) -}}">
                            <img width="200" class="lazy" src="{{ asset(entry.image.filePath) |imagine_filter('entry_thumb') }}" alt="{{ entry.title }}"/>
                        </a>
                    </div>
                {% endif %}
            {% endif %}

            <div class="kbin-entry-main clearfix">
                {% if entry.visibility is same as 'visible' %}
                    {% include 'entry/_entry_title.html.twig' %}
                {% elseif entry.visibility is same as 'trashed' %}
                    <p class="text-muted">[{{ 'removed'|trans }}]</p>
                {% elseif entry.visibility is same as 'soft_deleted' %}
                    <p class="text-muted">[{{ 'deleted'|trans }}]</p>
                {% endif %}
                <aside class="kbin-entry-meta">
                    <ul class="kbin-entry-meta-list list-inline mb-0">
                        <li class="kbin-entry-meta-date kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">{{ 'posted'|trans }}
                                <time data-controller="timeago"
                                      data-timeago-refresh-interval-value="10000"
                                      data-timeago-datetime-value="{{ entry.createdAt|date('c') }}">{{ entry.createdAt|ago }}</time>
                            </small>
                        </li>

                        {% if not is_user_page() %}
                            <li class="kbin-entry-meta-user kbin-entry-meta-list-item list-inline-item">
                                <small class="text-muted">{{ 'by'|trans }} {{ user(entry.user, {prefix: false}) }}</small>
                            </li>
                        {% endif %}

                        {% if not is_magazine_page() %}
                            <li class="kbin-entry-meta-magazine kbin-entry-meta-list-item list-inline-item">
                                <small class="text-muted">{{ 'to'|trans }}</small> {{ magazine_inline(entry.magazine) }}
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="kbin-entry-meta-list list-inline mb-0 float-start">
                        {% if entry.sticky %}
                            <li class="kbin-entry-meta-sticky kbin-entry-meta-list-item list-inline-item">
                                <i class="kbin-sticky fas fa-thumbtack text-muted me-1"></i>
                            </li>
                        {% endif %}

                        {% if entry.hasEmbed %}
                            <li class="kbin-entry-meta-embed kbin-entry-meta-list-item list-inline-item"
                                data-action="click->embed#fetch">
                                <i class="kbin-preview fas fa-photo-video text-muted me-1" data-embed-target="embed"></i>
                            </li>
                        {% endif %}

                        {% if entry.type is same as 'article' %}
                            <li class="kbin-entry-meta-article kbin-entry-meta-list-item list-inline-item">
                                <i class="kbin-preview fas fa-newspaper text-muted me-1"></i>
                            </li>
                        {% endif %}

                        <li class="kbin-entry-meta-entry kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ entry_url(entry) }}">
                                    <span data-comment-counter-target="lenght">{{ entry.commentCount }}</span> {{ 'comments_count'|trans({'%count%': entry.commentCount}) }}
                                </a>
                            </small>
                        </li>

                        <li class="kbin-entry-meta-report kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="{{ path('entry_report', {id: entry.id}) }}"
                                                         data-action="report#report">{{ 'report'|trans }}</a></small>
                        </li>

                        {% if is_granted('edit', entry) %}
                            <li class="kbin-entry-meta-edit kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted">
                                    <a href="{{ path('entry_edit', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">{{ 'edit'|trans }}</a>
                                </small>
                            </li>
                        {% endif %}

                        {% if app.user and entry.isAuthor(app.user) %}
                            <li class="kbin-entry-meta-delete kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <form method="post"
                                      action="{{ path('entry_delete', {
                                          magazine_name: entry.magazine.name,
                                          entry_id: entry.id,
                                      }) }}"
                                      onsubmit="return confirm('You sure?');">
                                    <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
                                    <button type="submit" class="btn btn-link">
                                        <span>{{ 'delete'|trans }}</span>
                                    </button>
                                </form>
                            </li>
                        {% endif %}
                    </ul>

                    <section data-controller="reveal" data-reveal-hidden-class="visually-hidden">
                        {% if is_granted('moderate', entry.magazine) %}
                            <ul class="kbin-entry-meta-list list-inline mb-0">
                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <small class="kbin-entry-meta-edit text-muted {{ not kbin_js_enabled or is_magazine_panel_page() ? 'visually-hidden' : '' }}">
                                        <button type="submit" class="btn btn-link" data-action="click->reveal#toggle">
                                            {{ 'moderate'|trans }}
                                        </button>
                                    </small>
                                </li>
                            </ul>
                        {% endif %}
                        <ul class="kbin-entry-meta-list list-inline mb-0 {{ not kbin_js_enabled or is_magazine_panel_page() ? '' : 'visually-hidden' }}"
                            data-reveal-target="item">
                            {% if is_granted('moderate', entry.magazine) %}
                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <small class="kbin-entry-meta-edit text-muted">
                                        <a href="{{ path('magazine_panel_ban', {'magazine_name': entry.magazine.name, 'user_username': entry.user.username}) }}">{{ 'ban'|trans }}</a>
                                    </small>
                                </li>

                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <form action="{{ path('entry_pin', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}"
                                          method="POST">
                                        <input type="hidden" name="token" value="{{ csrf_token('entry_pin') }}">
                                        <button type="submit" class="btn btn-link">
                                            <span>{{ entry.sticky ? 'unpin'|trans : 'pin'|trans }}</span>
                                        </button>
                                    </form>
                                </li>

                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <form method="post"
                                          action="{{ path('entry_delete', {
                                              magazine_name: entry.magazine.name,
                                              entry_id: entry.id,
                                          }) }}"
                                          onsubmit="return confirm('You sure?');">
                                        <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
                                        <button type="submit" class="btn btn-link">
                                            <span>{{ 'delete'|trans }}</span>
                                        </button>
                                    </form>
                                </li>

                                {% if is_granted('purge', entry) %}
                                    <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                        <form method="post"
                                              action="{{ path('entry_purge', {
                                                  magazine_name: entry.magazine.name,
                                                  entry_id: entry.id,
                                              }) }}"
                                              onsubmit="return confirm('You sure?');">
                                            <input type="hidden" name="token" value="{{ csrf_token('entry_purge') }}">
                                            <button type="submit" class="btn btn-link">
                                                <span>{{ 'purge'|trans }}</span>
                                            </button>
                                        </form>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </section>
                </aside>
                <div class="clearfix"></div>
                <div data-report-target="form"></div>
            </div>
        </div>

        {% if(entry.body and show_content) %}
            <div class="kbin-entry-content mt-3 clearfix">
                {{ entry.body|markdown|raw }}
            </div>
        {% endif %}

        {% if entry.hasEmbed %}
            <button type="button" class="btn-close mt-3 display-none" data-embed-target="close" aria-label="Zamknij"
                    data-action="embed#close"></button>
            <div class="kbin-embed">
                <div class="{{ entry.type is same as 'image' ? '' : 'ratio ratio-16x9' }} mt-4 display-none" data-embed-target="container">
                </div>
            </div>
        {% endif %}
    </article>
{% endblock entry %}
