{% block entry %}
    <article id="{{ entry.id }}" class="kbin-entry {{ extra_classes }}">
        <div class="kbin-entry-header">
            <div class="kbin-entry-vote">
                <ul class="kbin-entry-vote-list">
                    <li class="kbin-entry-vote-list-item kbin-vote-uv">
                        <a href="#">{{ random(0,240) }}<span class="fa fa-arrow-up"></span>
                        </a>
                    </li>

                    <li class="kbin-entry-vote-list-item kbin-vote-dv">
                        <a href="#">{{ random(0, 20) }}<span class="fa fa-arrow-down"></span>
                        </a>
                    </li>
                </ul>
            </div>

            {% if (random(0,4)) %}
                <div class="kbin-entry-image">
                    <img class="lazy" src="https://picsum.photos/100/{{ random(30,130) }}?hash={{ random(1,55) }}"
                         alt="Makigi.pl - Rozkład jazdy 2017">
                </div>
            {% endif %}

            <div class="kbin-entry-main">
                {% include 'entry/_entry_title.html.twig' %}

                <aside class="kbin-entry-meta">
                    <ul class="kbin-entry-meta-list list-inline mb-0">
                        <li class="kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">dodany
                                <time>{{ entry.createdAt|ago }}</time>
                            </small>
                        </li>
                        <li class="kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">przez <a
                                        href="{{ path('user', {username: entry.user.username}) }}">{{ entry.user.username }}</a></small>
                        </li>
                        <li class="kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">do <a
                                        href="{{ path('magazine', {'name': entry.magazine.name}) }}">m/{{ entry.magazine.name }}</a></small>
                        </li>
                    </ul>
                    <ul class="kbin-entry-meta-list  list-inline mb-0">
                        <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('entry', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">
                                    {{ entry.comments|length }} komentarzy
                                </a>
                            </small>
                        </li>
                        <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="#">zgłoś</a></small>
                        </li>
                        {% if is_granted('edit', entry) %}
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="text-muted">
                                    <a href="{{ path('entry_edit', {'magazine_name': entry.magazine.name, 'entry_id': entry.id}) }}">edytuj</a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>
            <div class="clearfix"></div>
        </div>

        {% if(entry.body and show_content is not null) %}
            <p class="kbin-entry-content mt-3">
                {{ entry.body }}
            </p>
        {% endif %}
    </article>
{% endblock entry %}
