{% from '_layout/_macros.html.twig' import entry_url %}

<{{ title_tag }} class="kbin-entry-title mb-0">
{% if entry.isAdult %}<span class="badge bg-danger me-1">+18</span>{% endif %}
{% if direct_url %}
    {% if entry.url %}
        <a href="{{ entry.url }}">{{ entry.title }}</a>
    {% else %}
        {{ entry.title }}
    {% endif %}
{% else %}
    <a href="{{ entry_url(entry) }}">{{ entry.title }}</a>
{% endif %}
{% for badge in entry.badges %}<span class="badge bg-secondary me-1">{{ badge.badge.name }}</span>{% endfor %}
{% if entry.domain %}
    <small class="kbin-entry-title-domain small text-muted">(<a class="text-reset" href="#">{{ entry.domain.name }}</a>)</small>
{% endif %}
</{{ title_tag }}>
