{% set hasImage = false %}
{% if entry is defined and entry is not null and entry.image %}
    {% set hasImage = true %}
{% endif %}

{{ form_start(form, { 'attr': {'data-controller': 'media', class: 'kbin-media' }}) }}
<div class="kbin-magazine-create-form mb-3">
    {% if form.image is defined %}
        <div class="input-group-lg mb-3">
            <button type="button" class="btn btn-secondary me-1 {{ hasImage ? 'd-none' : '' }}" data-bs-toggle="modal"
                    data-bs-target="#media-modal-entry" data-media-target="modalButton">
                <i class="fas fa-camera"></i>
            </button>

            <button data-action="media#delete"
                    data-media-target="deleteButton"
                    data-media-url-param="{{ hasImage ? path('entry_image_delete', {magazine_name: entry.magazine.name, entry_id: entry.id}) : '' }}"
                    type="button"
                    class="btn-close me-1 {{ hasImage ? '' : 'd-none' }}"
                    aria-label="Close"></button>

            {% if hasImage %}
                <img data-media-target="thumb" src="{{ asset(entry.image.filePath) | imagine_filter('post_thumb') }}" alt="" class="me-2"/>
            {% else %}
                <canvas data-media-target="canvas" class="d-none me-2"></canvas>
            {% endif %}
        </div>
    {% endif %}

    <div class="input-group-lg mb-3">
        {{ form_label(form.title, 'title'|trans) }}<sup class="required">*</sup>
        {{ form_widget(form.title, {'attr': {'data-entry-create-target': 'title' }}) }}
    </div>

    <div class="input-group-lg mb-3">
        {{ form_label(form.magazine, 'magazine'|trans) }}<sup class="required">*</sup>
        {{ form_widget(form.magazine, {'attr': {'class': 'kbin-choices'}}) }}
    </div>

    <div class="input-group-lg mb-3">
        {{ form_label(form.tags, 'tags'|trans) }}
        {{ form_widget(form.tags, {'attr': {'class': 'kbin-choices kbin-choices-text'}}) }}
    </div>

    <div class="input-group-lg mb-3">
        {{ form_label(form.badges, 'badges'|trans) }}
        {{ form_widget(form.badges, {'attr': {'class': 'kbin-choices kbin-choices-text'}}) }}
    </div>

    <div class="text-end float-end">
        <div class="float-start row mb-5">
            <div class="pt-2 col-auto">
                {{ form_widget(form.isOc, {label: 'oc'|trans }) }}
            </div>
            <div class="pt-2 col-auto">
                {{ form_widget(form.isEng, {label: 'lang'|trans }) }}
            </div>
            <div class="pt-2 me-4 col-auto">
                {{ form_widget(form.isAdult, {label: '18+'}) }}
            </div>
        </div>

        {{ form_widget(form.submit, { 'label': 'done'|trans, 'attr': { 'data-entry-create-target': 'sendButton' }}) }}
    </div>
</div>

{% if form.image is defined %}
    <div id="media-modal-entry" class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Dodaj zdjęcie <strike>lub film</strike></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-media-target="close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-4">
                        <small>wklej adres</small>
                        <small class="ms-2 font-weight-bold" data-action="click->media#add">wybierz plik</small>
                    </div>
                    <div class="input-group input-group-lg me-2">
                        {{ form_widget(form.image, {'attr':{ 'class': 'form-control', 'data-action': 'media#add', 'data-media-target': 'fileInput' }}) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{{ form_end(form) }}
