{{ form_start(form) }}

<div class="kbin-magazine-create-form">
    <div class="col-lg-6 mb-3">
        <div class="input-group-lg mb-3">
            {{ form_label(form.title, 'title'|trans) }}
            {{ form_widget(form.title, {'attr': {'data-entry-create-target': 'title' }}) }}
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.magazine, 'magazine'|trans) }}
            {{ form_widget(form.magazine, {'attr': {'class': 'kbin-choices'}}) }}
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.badges, 'badges'|trans) }}
            {{ form_widget(form.badges, {'attr': {'class': ''}}) }}
        </div>
        <div class="input-group-lg mb-3">
            {{ form_label(form.image, 'cover'|trans) }}
            {{ form_widget(form.image, {'attr':{ 'class': 'form-control' }}) }}
        </div>
    </div>
    <div class="col-lg-12 mb-3">
        <div class="mb-3">
            {{ form_label(form.body, 'content'|trans) }}
            {{ form_widget(form.body, {'attr': {'class': 'kbin-editor'}}) }}
        </div>
        <div class="mb-12">
            {{ form_label(form.isAdult, 'nsfw'|trans) }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.isAdult, {name: 'nsfw'|trans}) }}
            </div>
        </div>
        <div class="mb-12 text-end">
            {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': { 'data-entry-create-target': 'sendButton' }}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
