{{ form_start(form) }}
<div class="col-lg-6 mb-3">
    <div class="kbin-magazine-create-form">
        <div class="input-group-lg mb-3">
            {{ form_label(form.url, 'URL') }}
            {{ form_widget(form.url, {'attr': {'data-action': 'entry-create#fetchTitle', 'data-entry-create-target': 'url' }}) }}
        </div>
        <div class="input-group-lg mb-3">
            {{ form_label(form.title, 'Tytuł') }}
            {{ form_widget(form.title, {'attr': {'data-entry-create-target': 'title' }}) }}
        </div>
        <div class="input-group-lg mb-3">
            {{ form_label(form.magazine, 'Magazyn') }}
            {{ form_widget(form.magazine, {'attr': {'class': 'kbin-choices'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.isAdult, 'Wyłącznie dla dorosłych') }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.isAdult, {name: 'Wyłącznie dla dorosłych'}) }}
            </div>
        </div>

        <div class="mb-12 text-end">
            {{ form_row(form.submit, { 'label': 'Gotowe', 'attr': { 'data-entry-create-target': 'sendButton' }}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
