{{ form_start(form) }}
<div class="col-lg-6 mb-3">
    <div class="kbin-magazine-create-form">
        <div class="input-group-lg mb-3 row">
            <div class="col-11">
                {{ form_label(form.url, 'URL') }}<sup class="required">*</sup>
                {{ form_widget(form.url, {'attr': {'data-action': 'entry-create#fetchTitle entry-create#fetchDuplicates', 'data-entry-create-target': 'url' }}) }}
            </div>
            <div class="col-1 pt-4">
                <a href="{{ path('entry_create', { type: 'type.image'|trans }) }}" class="link-dark">
                    <i class="fas fa-image pt-2"></i>
                </a>
            </div>
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.title, 'title'|trans) }}<sup class="required">*</sup>
            {{ form_widget(form.title, {'attr': {'data-entry-create-target': 'title' }}) }}
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.comment, 'comment'|trans) }}
            {{ form_widget(form.comment) }}
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.magazine, 'magazine'|trans) }}<sup class="required">*</sup>
            {{ form_widget(form.magazine, {'attr': {'class': 'kbin-choices'}}) }}
        </div>

        <div class="input-group-lg mb-3">
            {{ form_label(form.badges, 'badges'|trans) }}
            {{ form_widget(form.badges, {'attr': {'class': ''}}) }}
        </div>

        {% if form.image is defined %}
            <div class="input-group-lg mb-3">
                {{ form_label(form.image, 'cover'|trans) }}
                {{ form_widget(form.image, {'attr':{ 'class': 'form-control' }}) }}
            </div>
        {% endif %}

        <div class="mb-3">
            {{ form_label(form.isAdult, 'nsfw'|trans) }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.isAdult, {name: 'nsfw'|trans}) }}
            </div>
        </div>

        <div class="mb-12 text-end">
            {{ form_row(form.submit, { 'label': 'done'|trans, 'attr': { 'data-entry-create-target': 'sendButton' }}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
