{% if edit is not defined %}
    {% set edit = false %}
{% endif %}
{{ form_start(form, {attr: {class: edit ? 'entry_edit' : 'entry-create'}}) }}
    {{ form_row(form.title, {label: 'title'}) }}
    {{ form_row(form.magazine, {label: 'magazine'}) }}
    {{ form_row(form.tags, {label: 'tags'}) }}
    {{ form_row(form.badges, {label: 'badges'}) }}
<div class="row params">
    {{ form_row(form.isAdult, {label: 'is_adult', row_attr: {class: 'checkbox'}}) }}
    {{ form_row(form.isOc, {label: 'oc', row_attr: {class: 'checkbox'}}) }}
</div>
<div class="row actions">
    <ul>
        <li>
            <button type="button"
                    class="btn btn__secondary"
                    aria-label="{{ 'markdown_howto'|trans }}"
                    title="{{ 'markdown_howto'|trans }}">
                <i class="fa-solid fa-circle-question"></i>
            </button>
        </li>
        <li class="dropdown">
            <button type="button"
                    class="btn btn__secondary"
                    aria-label="{{ 'add_media'|trans }}"
                    title="{{ 'add_media'|trans }}">
                <i class="fa-solid fa-photo-film"></i>
            </button>
            <div class="dropdown__menu">
                {% include 'layout/_form_media.html.twig' %}
            </div>
        </li>
        <li class="select">
            {{ form_row(form.lang, {label: false}) }}
        </li>
        <li>
            {{ form_row(form.submit, {label: edit ? 'edit_photo' : 'add_new_photo', attr: {class: 'btn btn__primary'}}) }}
        </li>
    </ul>
</div>
{{ form_end(form) }}