{{ form_start(form) }}
<div class="col-lg-6 mb-3">
    <div class="kbin-magazine-create-form">
        <div class="input-group-lg mb-3">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'data-entry-create-target': 'title' }}) }}
        </div>
        <div class="mb-3">
            {{ form_label(form.body) }}
            {{ form_widget(form.body, {'attr': {'class': 'kbin-editor'}}) }}
        </div>
        <div class="input-group-lg mb-3">
            {{ form_label(form.magazine) }}
            {{ form_widget(form.magazine, {'attr': {'class': 'kbin-choices'}}) }}
        </div>

        <div class="mb-12 text-end">
            {{ form_row(form.submit, { 'label': 'Gotowe', 'attr': { 'data-entry-create-target': 'sendButton' }}) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
