<section class="section entry-info">
    <h3>{{ 'thread'|trans }}</h3>
    <div class="group">
        {% if entry.user.avatar %}
            <figure>
                <img width="100" height="100"
                     src="{{ asset(entry.user.avatar.filePath) | imagine_filter('avatar_thumb') }}"
                     alt="{{ entry.user.username ~' '~ 'avatar'|trans|lower }}">
            </figure>
        {% endif %}
        <h4><a href="{{ path('user_overview', {username:entry.user.username}) }}"
               class="stretched-link">{{ entry.user.username|username(false) }}</a></h4>
        <p class="user__name">{{ entry.user.apId }}</p>
    </div>
    {{ component('user_follow', {user: entry.user}) }}
    <ul class="info">
        <li>{{ 'added'|trans }}: {{ component('date', {date: entry.createdAt}) }}</li>
        <li>{{ 'views'|trans }}: <span>{{ entry.views }}</span></li>
        <li>{{ 'online'|trans }}: <span>-</span></li>
        <li>{{ 'ratio'|trans }}:
            <span>{{ entry.countUpvotes }} {% if entry.countUpvotes %}({{ (entry.countUpvotes / entry.countVotes)|format_percent_number }}){% endif %}</span>
        </li>
    </ul>
</section>
