<aside class="kbin-options kbin-options--top" id="kbin-options">
    <menu class="kbin-options__sort">
        <li><a href="#">{{ 'top'|trans|lower }}</a></li>
        <li><a href="#">{{ 'hot'|trans|lower }}</a></li>
        <li><a href="#">{{ 'active'|trans|lower }}</a></li>
        <li><a href="#">{{ 'commented'|trans|lower }}</a></li>
    </menu>
    <menu class="kbin-options__layout">
        <li><a href="#" title="{{ 'change_view'|trans }}" aria-label="{{ 'change_view'|trans }}"><i class="kbin-icon__layout"></i></a></li>
    </menu>
    <menu class="kbin-options__filters">
        <li>
            <a href="#" title="{{ 'filter_by_time'|trans }}" aria-label="{{ 'filter_by_time'|trans }}"><i class="kbin-icon__clock"></i></a>
        </li>
        <li>
            <a href="#" title="{{ 'filter_by_type'|trans }}" aria-label="{{ 'filter_by_type'|trans }}"><i class="kbin-icon__media"></i></a>
        </li>
    </menu>
</aside>
