<aside class="options options--top" id="options">
    <menu class="options__sort">
        <li>
            <a href="{{ options_url('sortBy', 'top'|trans|lower) }}"
                class="{{ html_classes({'active': options_is_active('sortBy', 'top'|trans|lower)}) }}">
                {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot'|trans|lower) }}"
               class="{{ html_classes({'active': options_is_active('sortBy', 'hot'|trans|lower)}) }}">
            {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest'|trans|lower) }}"
               class="{{ html_classes({'active': options_is_active('sortBy', 'newest'|trans|lower)}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active'|trans|lower) }}"
               class="{{ html_classes({'active': options_is_active('sortBy', 'active'|trans|lower)}) }}">
            {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented'|trans|lower) }}"
               class="{{ html_classes({'active': options_is_active('sortBy', 'commented'|trans|lower)}) }}">
                {{ 'commented'|trans|lower }}
            </a>
        </li>
    </menu>
    <menu class="options__layout">
        <li><a href="#" title="{{ 'change_view'|trans }}" aria-label="{{ 'change_view'|trans }}"><i class="icon__layout"></i></a></li>
    </menu>
    <menu class="options__filters">
        <li>
            <a href="#" title="{{ 'filter_by_time'|trans }}" aria-label="{{ 'filter_by_time'|trans }}"><i class="icon__clock"></i></a>
        </li>
        <li>
            <a href="#" title="{{ 'filter_by_type'|trans }}" aria-label="{{ 'filter_by_type'|trans }}"><i class="icon__media"></i></a>
        </li>
    </menu>
</aside>
