{% set lang = app.request.locale %}
<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', lang is same as 'pl' ? 'top'|trans|lower : 'top') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', lang is same as 'pl' ? 'top'|trans|lower : 'top')}) }}">
                {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', lang is same as 'pl' ? 'hot'|trans|lower : 'hot') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', lang is same as 'pl' ? 'hot'|trans|lower : 'hot')}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', lang is same as 'pl' ?  'newest'|trans|lower : 'newest') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', lang is same as 'pl' ? 'newest'|trans|lower : 'newest')}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy',  lang is same as 'pl' ? 'active'|trans|lower : 'active') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', lang is same as 'pl' ? 'active'|trans|lower : 'active')}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', lang is same as 'pl' ? 'commented'|trans|lower : 'commented') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', lang is same as 'pl' ? 'commented'|trans|lower : 'commented')}) }}">
                {{ 'commented'|trans|lower }}
            </a>
        </li>
    </menu>
    <menu class="options__layout">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group"></i> {{ 'change_view'|trans }}</button>
            <ul class="dropdown__menu">
                <li>
                    <a class="{{ html_classes({'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::CLASSIC')}) }}"
                            href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW'), value: constant('App\\Controller\\User\\ThemeSettingsController::CLASSIC')}) }}">
                        {{ 'classic_view'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::COMPACT')}) }}"
                            href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW'), value: constant('App\\Controller\\User\\ThemeSettingsController::COMPACT')}) }}">
                        {{ 'compact_view'|trans|lower }}
                    </a>
                </li>
            </ul>
        </li>
    </menu>
    <menu class="options__filters">
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}"><i
                        class="fa-solid fa-clock-rotate-left"></i> {{ 'filter_by_time'|trans }}</button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('time', '∞') }}"
                       class="{{ html_classes({'active': route_has_param('time', '∞') or not get_route_param('time')}) }}">
                        {{ '∞' }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '3h'|trans|lower : '3h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '3h'|trans|lower) or route_has_param('time', '3h')}) }}">
                        {{ '3h'|trans|lower }}
                    </a></li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '6h'|trans|lower : '6h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '6h'|trans|lower) or route_has_param('time', '6h')}) }}">
                        {{ '6h'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '12h'|trans|lower : '12h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '12h'|trans|lower) or route_has_param('time', '12h')}) }}">
                        {{ '12h'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '1d'|trans|lower : '1d') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1d'|trans|lower) or route_has_param('time', '1d')}) }}">
                        {{ '1d'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '1w'|trans|lower : '1w') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1w'|trans|lower) or route_has_param('time', '1w')}) }}">
                        {{ '1w'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '1m'|trans|lower : '1m') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1m'|trans|lower) or route_has_param('time', '1m')}) }}">
                        {{ '1m'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', lang is same as 'pl' ? '1y'|trans|lower : '1y') }}"
                       class="{{ html_classes({'active': route_has_param('time', '1y'|trans|lower) or route_has_param('time', '1y')}) }}">
                        {{ '1y'|trans|lower }}
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <button
                    aria-label="{{ 'filter_by_type'|trans }}"
                    title="{{ 'filter_by_type'|trans }}"><i
                        class="fa-solid fa-photo-film"></i> {{ 'filter_by_type'|trans }}</button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('type', lang is same as 'pl' ?  'all'|trans|lower : 'all') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'all'|trans|lower) or not get_route_param('type') or route_has_param('type', 'all')}) }}">
                        {{ 'all'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', lang is same as 'pl' ? 'links'|trans|lower : 'links') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'links'|trans|lower) or route_has_param('type', 'links')}) }}">
                        {{ 'links'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', lang is same as 'pl' ? 'articles'|trans|lower : 'articles') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'articles'|trans|lower) or route_has_param('type', 'articles')}) }}">
                        {{ 'articles'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', lang is same as 'pl' ? 'photos'|trans|lower : 'photos') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'photos'|trans|lower) or route_has_param('type', 'photos')}) }}">
                        {{ 'photos'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('type', lang is same as 'pl' ? 'videos'|trans|lower : 'videos') }}"
                       class="{{ html_classes({'active': route_has_param('type', 'videos'|trans|lower) or route_has_param('type', 'videos')}) }}">
                        {{ 'videos'|trans|lower }}
                    </a>
                </li>
            </ul>
        </li>
    </menu>
</aside>
