{% from '_layout/_macros.html.twig' import entry_url %}

<div class="mb-5">
    {% if entries|length %}
        <h4 class="font-weight-bold kbin-logo-color mb-3 h6">{{ 'related_entries'|trans }}</h4>
    {% endif %}

    {% for entry in entries %}
        <div class="card mb-3">
            {% if entry.image %}
                <a href="{{ entry_url(entry) }}">
                    <div style="height:100px; background: url({{ asset(entry.image.filePath) |imagine_filter('post_thumb') }}) center; background-size:cover;">
                    </div>
                </a>
            {% endif %}
            <div class="card-body">
                <a href="{{ entry_url(entry) }}">
                    <h5 class="card-title h6">
                        {% include 'entry/_entry_title.html.twig' with {entry: entry, title_tag: 'span', direct_url: false, related: true} %}
                    </h5>
                </a>
            </div>
            <div class="card-footer text-end">
                <div class="small">{{ component('magazine_inline', { magazine: entry.magazine }) }}</div>
                <div class="text-muted small"><small>{{ entry.createdAt|ago }}</small></div>
            </div>
        </div>
    {% endfor %}
</div>
