{% from 'user/_macros.html.twig' import avatar %}

<div class="row">
    <div class="mb-5">
        <div class="kbin-entry card shadow-lg bg-white rounded">
            <div class="kbin-entry-info card-body">
                <div class="kbin-entry-info-user clearfix text-center">
                    {% if entry.user.avatar %}
                        <div class="kbin-user-avatar">
                            {{ avatar(entry.user) }}
                        </div>
                    {% endif %}
                    <div>
                        <h5 class="card-title font-weight-bold py-2">
                            <a class="text-reset link-to-title"
                               href="{{ path('user', {username: entry.user.username }) }}">{{ entry.user.username }}</a>
                        </h5>
                        {% include 'user/_follow_button.html.twig' with { 'user': entry.user } %}
                    </div>
                </div>

                <div class="mt-3">
                    <ul class="list-unstyled clearfix text-center text-lg-start">
                        <li>
                            <span class="text-muted small">{{ 'added'|trans }}:</span> {{ entry.createdAt|ago }}
                        </li>
                        <li>
                            <span class="text-muted small">{{ 'upvotes'|trans }}:</span> {{ entry.countUpvotes }}
                            {% if(entry.countVotes) %}
                                <small class="text-muted">({{ (entry.countUpvotes / entry.countVotes)|format_percent_number }})</small>
                            {% endif %}
                        </li>
                        <li>
                            <span class="text-muted small">{{ 'downvotes'|trans }}:</span> {{ entry.countDownvotes }}
                        </li>
                        <li>
                            <span class="text-muted small">{{ 'views'|trans }}:</span> {{ entry.views }}
                        </li>
                        <li data-controller="online" data-online-entry-id-value="{{ entry.id }}">
                            <span class="text-muted small">Online:</span> <span data-online-target="counter">-</span>
                        </li>
                    </ul>
                    {% block tags %}
                        {% if entry.tags %}
                            <section class="kbin-tags-wrapper my-3">
                                <ul class="list-inline">
                                    {% for tag in entry.tags %}
                                        <li class="list-inline-item text-muted">
                                            <span class="badge bg-light"><a href="{{ path('tag_overall', {'name': tag}) }}">#{{ tag }}</a></span>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </section>
                        {% endif %}
                    {% endblock %}

                    <div class="input-group input-group-sm"
                         data-controller="clipboard"
                         data-clipboard-success-content="Skopiowano!">
                        <input type="text"
                               class="form-control"
                               aria-label="Skopiuj link"
                               aria-describedby="copyUrl"
                               data-clipboard-target="source"
                               value="{{ app.request.uri }}">
                        <button class="input-group-text" id="copyUrl" data-action="clipboard#copy"
                                data-clipboard-target="button">{{ 'copy'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        {{ component('voters_list_short', { subject: entry, url: path('entry_voters', {'magazine_name': magazine.name, 'entry_id': entry.id }) }) }}
    </div>
</div>
