{% extends 'base.html.twig' %}
{% from 'entry/_macros.html.twig' import entry %}

{% block title %}{{ entry.title }} | /m/{{ magazine.name }} | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-entry-page">

            {% block entry %}
                {{ entry(entry, {
                    extra_classes: 'kbin-entry-single',
                    show_content: true,
                    show_embed: is_active_route('entry_comment_create') ? false : true
                }) }}
            {% endblock %}

            {% block after_entry %}{% endblock %}

            {% block comments %}
                <section class="kbin-comment-wrapper mt-4">
                    <h4 class="kbin-comment-wrapper-header pb-3 mb-0 font-weight-light">Komentarze</h4>

                    <div class="mt-2">
                        {% include 'entry/comment/_filters.html.twig' %}
                    </div>
                    {% include 'entry/comment/_list.html.twig' %}

                    {% if is_granted('comment', entry) %}
                        {{ render(controller('App\\Controller\\EntryCommentController::commentForm', {
                            'magazineName': entry.magazine.name,
                            'entryId': entry.id
                        })) }}
                    {% else %}
                        <div class="alert alert-secondary text-muted my-3" role="alert">
                            <a href="{{ path('app_login') }}" class="font-weight-bold">Zaloguj się</a> aby dodać komentarz.
                        </div>
                    {% endif %}
                </section>
            {% endblock %}
        </div>
    {% endblock %}

{% block sidebar %}
    {% include 'entry/_sidebar.html.twig' %}

    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
