{% extends 'base.html.twig' %}

{%- block title -%}
    {{- entry.title }} - {{ magazine.title }} - {{ parent() -}}
{%- endblock -%}

{% block description %}
    {{- entry.body ? get_short_sentence(entry.body) : '' -}}
{% endblock %}

{% block image %}
    {%- if entry.image -%}
        {{- uploaded_asset(entry.image.filePath) -}}
    {%- elseif entry.magazine.icon -%}
        {{- uploaded_asset(entry.magazine.icon.filePath) -}}
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{% endblock %}

{% block mainClass %}page-entry-single{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('entry', {
            entry: entry,
            isSingle: true,
            showShortSentence: false,
            showBody:true
        }) }}
        {% include 'layout/_flash.html.twig' %}
        {% include 'entry/comment/_options.html.twig' %}
        <div id="comments">
            {% include 'entry/comment/_list.html.twig' %}
        </div>
        <div id="comment-add" class="section">
            {% include 'entry/comment/_form_comment.html.twig' %}
        </div>
        {% include 'entry/_options_activity.html.twig' %}
    </div>
{% endblock %}
