{% extends 'base.html.twig' %}

{%- block title -%}{{- 'votes'|trans }} - {{ entry.title -}}{%- endblock -%}

{% block body %}
    <div class="mb-4">
        {{ component('entry', {entry: entry}) }}
    </div>

    {{ component('title', {title: 'votes'|trans }) }}
    {% include '_layout/_voters_list_grid.html.twig' with { subject: entry } %}
{% endblock %}

{% block sidebar %}
    {% include 'entry/_sidebar.html.twig' %}

    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
