<div data-controller="cardano-wallet-create">
    <p>
        {{ 'dont_have_wallet_yet'|trans(
            {'%link_start%' : '<a class="font-weight-bold" href="'~path('cardano_wallet_new')~'"  data-bs-toggle="modal" data-bs-target="#cardano-wallet-create" data-action="click->cardano-wallet-create#create">', '%link_end%' : '</a>'}
        ) | raw }}
    </p>

    <div class="modal fade" tabindex="-1" id="cardano-wallet-create" data-bs-backdrop="static" data-bs-keyboard="false"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ 'create_new_wallet'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="mb-4">{{ 'create_new_wallet_desc'|trans|raw }}</p>

                    <div class="text-center" data-cardano-wallet-create-target="loading">
                        <div class="mt-5 spinner-border text-primary text-center" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>

                    <div data-cardano-wallet-create-target="content">
                        <div class="input-group-lg mb-4">
                            <label for="mnemonic" class="form-label">{{ 'mnemonic'|trans }}</label>
                            <input id="mnemonic" class="form-control" placeholder="loading..." autocomplete="off" readonly data-cardano-wallet-create-target="mnemonic">
                        </div>

                        <div class="mb-5">
                            <label for="address" class="form-label">{{ 'wallet_address'|trans }}</label>
                            <div class="input-group input-group-lg"
                                 data-controller="clipboard"
                                 data-clipboard-success-content="Skopiowano!">

                                <input type="text"
                                       class="form-control"
                                       aria-label="Copy address"
                                       aria-describedby="address"
                                       data-clipboard-target="source"
                                       placeholder="loading..."
                                       readonly
                                       data-cardano-wallet-create-target="address">
                                <button class="input-group-text" id="copyUrl" data-action="clipboard#copy"
                                        data-clipboard-target="button">{{ 'copy'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" href="{{ path('front') }}" role="button"
                       data-cardano-wallet-create-target="button">{{ 'create_new_wallet_apply'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
