<ul class="ms-3">
    <li><a href="{{ path('about') }}#cardano">{{ 'tip_link_1'|trans }}</a></li>
    <li><a href="#">{{ 'tip_link_2'|trans }}</a> <small>({{ 'recommended'|trans }})</small></li>
    <li><a href="#">{{ 'tip_link_3'|trans }}</a></li>
    <li><a href="#">{{ 'tip_link_4'|trans }}</a></li>
    <li><a href="https://ksp.karab.in">{{ 'tip_link_5'|trans }}</a></li>
</ul>
