{% extends 'base.html.twig' %}

{%- block title -%}
    title
{%- endblock -%}

{% block mainClass %}page-domain-comments-front{% endblock %}

{% block header_nav %}
    {% include 'domain/_header_nav.html.twig' %}
{% endblock %}

{% block sidebar_top %}
    {{ component('domain', {domain: domain}) }}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ domain.name }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    {% include 'entry/_options.html.twig' %}
    {% if magazine is defined and magazine %}
        {% if magazine.apId %}
            <div class="alert alert__info">
                <p>{{ 'federated_magazine_info'|trans }} <a
                            href="{{ magazine.apProfileId }}">{{ 'go_to_original_instance'|trans }}</a></p>
            </div>
        {% endif %}
    {% endif %}
    {% include 'entry/comment/_list.html.twig' %}
{% endblock %}

