{% from 'user/_macros.html.twig' import avatar %}

<div class="row mb-5">
    {% for user in users %}
    <div class="col-sm-6 mb-4">
        <div class="card">
            {% if user.cover %}
            <div style="height:150px; background: url({{ asset(user.cover.filePath) |imagine_filter('user_cover') }}) center; background-size:cover;">
                {% else %}
                <div style="height:150px;">
                    {% endif %}
                    <div style="margin-top: {{ user.avatar ? '120px' : '220px' }}">
                        <div class="d-flex justify-content-center bd-highlight px-3 {{ extraClass is defined ? extraClass : '' }}">
                            <div class="bd-highlight text-center position-relative" style="top:-35px">
                                <div class="pb-2">
                                    {% if user.avatar %}
                                        <div class="kbin-user-avatar">
                                            {{ avatar(user) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <h3 class="font-weight-bold pt-2 mb-2 h5 d-inline ">
                                        <a href="{{ path('user', {username: user.username}) }}"
                                           rel="{{ user.appProfileId ? 'nofollow noopener noreferrer' : '' }}"
                                           class="text-reset">{{ user.apPreferredUsername ?? user.username |trim('@', 'left') }}</a>
                                    </h3>
                                    <div class="mb-2 small">
                                        {% if user.apProfileId %}
                                            <small class="small text-muted">{{ user.email }}</small>
                                        {% else %}
                                            <small class="small text-muted">{{ user.username ~ '@' ~ kbin_domain() }}</small>
                                        {% endif %}
                                    </div>
                                    <div>
                                        {% include 'user/_follow_button.html.twig' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body small" style="margin-top:130px">
                    <p class="small">{{ user.about|markdown|raw }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
