{% extends 'base.html.twig' %}

{%- block title -%}
    {{ 'people'|trans ~ ' - ' ~ kbin_meta_title() }}
{%- endblock -%}

{% block body %}
    {{ component('people') }}
{% endblock %}

    {% block sidebar %}
        {{ parent() }}

        <div class="mb-5">
            {{ component('related_entries_sidebar', {type: 'random'}) }}
            {{ component('related_posts_sidebar', {type: 'random'}) }}
        </div>
    {% endblock %}
