<h1>{{ 'email_confirm_header'|trans }}</h1>

<p>
    {{ 'email_confirm_content'|trans }} <br><br>
    <a href="{{ signedUrl|raw }}">{{ 'email_verify'|trans }}</a>.
    {{ 'email_confirm_expire'|trans }}
    {# Link wygaśnie za {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}. #}
</p>

<p>
    Cheers!
</p>
