{% extends "_email/email_base.html.twig" %}

{%- block title -%}
    {{- 'contact'|trans }}
{%- endblock -%}

{% block body %}
    <h1>{{ 'contact'|trans }}</h1>
    <div>
        <p><strong>Name: </strong>{{ name }}</p>
        <p><strong>Email: </strong>{{ senderEmail }}</p>
        <p><strong>Message: </strong>{{ message }}</p>
    </div>
{% endblock %}
