{% extends "_email/email_base.html.twig" %}

{%- block title -%}
    {{- 'email.delete.title'|trans }} 
{%- endblock -%}

{% block body %}
    <h1>{{'email.delete.title'|trans}}</h1>
    <p>{{'email.delete.description'|trans}}</p>
    <div>
        <p><strong>Username: </strong> {{ username }}</p>
        <p><strong>Email: </strong> {{ mail }}</p>
    </div>
{% endblock %}