<small class="text-muted">/u/</small><a
        href="{{ path('user', {'username': notification.ban.bannedBy.username}) }}">{{ notification.ban.bannedBy.username }}</a> zbanował cię w
<small class="text-muted">/m/</small><a
        href="{{ path('front_magazine', {'name': notification.ban.magazine.name }) }}">{{ notification.ban.magazine.name }}</a>.
Ban wygasa {{ notification.ban.expiredAt|ago }}. {{ notification.ban.reason }}
