{% from '_layout/_macros.html.twig' import entry_url %}

<div class="toast-header">
    <strong class="me-auto">{{ component('magazine_inline', { magazine: notification.comment.entry.magazine }) }}</strong>
    <small class="text-muted">
        <time data-controller="timeago"
              data-timeago-refresh-interval-value="10000"
              data-timeago-datetime-value="{{ notification.createdAt|date('c') }}">{{ notification.createdAt|ago }}</time>
    </small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
</div>
<div class="toast-body">
    {{ 'comment'|trans }} <strong><a href="{{ entry_url(notification.comment.entry) }}">{{ notification.comment.shortTitle }}</a></strong> -
    {% if notification.comment.isTrashed %}{{ 'removed'|trans }}{% else %}{{ 'deleted'|trans }}{% endif %}
</div>
