{% from 'magazine/_macros.html.twig' import magazine %}
{% from '_layout/_macros.html.twig' import entry_url %}

{{'mod_remove_your_thread'|trans}} {{ 'in'|trans }} {{ magazine(notification.entry.magazine) }} - <strong><a
            href="{{ entry_url(notification.entry) }}">{{ notification.entry.shortTitle }}</a></strong>
