{% from 'user/_macros.html.twig' import user %}

{{ user(notification.user) }} dodał/a nową treść w <small
        class="text-muted">/m/</small><a
        href="{{ path('front_magazine', {'name': notification.entry.magazine.name }) }}">{{ notification.entry.magazine.name }}</a> - <strong><a
            href="{{ path('entry_single', {'magazine_name': notification.entry.magazine.name, 'entry_id': notification.entry.id}) }}">{{ notification.entry.shortTitle }}</a></strong>
