{% from 'user/_macros.html.twig' import user %}
{% from '_layout/_macros.html.twig' import post_url %}

<div class="toast-header">
    <strong class="me-auto">{{ component('magazine_inline', { magazine: notification.post.magazine }) }}</strong>
    <small class="text-muted">
        <time data-controller="timeago"
              data-timeago-refresh-interval-value="10000"
              data-timeago-datetime-value="{{ notification.createdAt|date('c') }}">{{ notification.createdAt|ago }}</time>
    </small>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
</div>
<div class="toast-body">
    {{ user(notification.user, {prefix: false}) }} {{ 'edited_post'|trans }} - <strong><a
                href="{{ post_url(notification.post) }}">{{ notification.post.shortTitle }}</a></strong>
</div>
