{% from '_layout/_macros.html.twig' import post_url %}

<strong><a href="{{ post_url(notification.post) }}">{{ notification.post.shortTitle }}</a></strong>
{% if notification.post.isTrashed %}{{ 'removed'|trans }}{% else %}{{ 'deleted'|trans }}{% endif %} {{ 'in'|trans }}
{{ component('magazine_inline', { magazine: notification.post.magazine }) }}
