{% from 'user/_macros.html.twig' import user %}
{% from '_layout/_macros.html.twig' import post_url %}

<div class="toast-header">
    <strong class="me-auto">{{ component('magazine_inline', { magazine: notification.comment.post.magazine }) }}</strong>

    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
</div>
<div class="toast-body">
    {{ user(notification.comment.user, {prefix: false}) }} {{ 'mentioned_you'|trans }} - <strong><a
                href="{{ post_url(notification.comment.post) }}#post-comment-{{ notification.comment.id }}">{{ notification.comment.post.shortTitle }}</a></strong>
</div>
