{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{%- block title -%}{{- 'search'|trans -}}{%- endblock -%}

{% block body %}
    <div class="kbin-user-front-page kbin-entry-list kbin-comment-wrapper kbin-post-wrapper">
        {% if profile %}
            <div class="mx-auto my-4 small align-content-center" style="max-width: 25rem">
                {{ component('user_box', {user: profile}) }}
            </div>
        {% else %}
            <h1 class="my-4 font-weight-bold">{{ q }}</h1>
        {% endif %}

        <div class="text-justify mx-5 my-5">
            <form method="get" action="{{ path('search') }}">
                <div class="input-group input-group-lg input-group-btn">
                    <input type="text" name="q" class="form-control" placeholder="{{ 'type_search_term'|trans }}">
                    <button href="#" class="kbin-search-btn btn btn-default" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>

        <div>
            {% if results|length %}
                {% for subject in results %}
                    {% include '_layout/_subject.html.twig' with {subject: subject} %}
                {% endfor %}
            {% elseif not profile %}
                {{ not_found() }}
            {% endif %}

            {% if(results.haveToPaginate) %}
                {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
            {% endif %}
        </div>
    </div>
{% endblock %}


