{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'search'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-search page-settings{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1 hidden>{{ 'search'|trans }}</h1>
    <div class="section section--top">
        <div class="container">
            <form method="get" action="{{ path('search') }}">
                <div class="flex" style="align-items: center">
                    <input value="{{ q }}" type="text" name="q" class="form-control"
                           placeholder="{{ 'type_search_term'|trans }}" autofocus>
                    <button class="btn btn__primary" type="submit" aria-label="{{ 'search'|trans }}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div id="content" class="overview subjects comments-tree comments">
        {% if objects|length %}
            {% for object in objects %}
                {% if object.type is same as 'user' %}
                    <div class="section">
                        {{ component('user_box', {user: object.object}) }}
                    </div>
                {% elseif object.type is same as 'magazine' %}
                    {{ component('magazine_box', {magazine: object.object, stretchedLink: false}) }}
                {% else %}
                    {% include 'layout/_subject_list.html.twig' with {results: [object], entryCommentAttributes: {showMagazineName: true, showEntryTitle: true}, postCommentAttributes: {withPost: true}} %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% include 'layout/_subject_list.html.twig' with {entryCommentAttributes: {showMagazineName: true, showEntryTitle: true}, postCommentAttributes: {withPost: true}} %}
        {% endif %}
    </div>
{% endblock %}
