{% set blocked = is_magazine_blocked(magazine) %}
<div class="kbin-block" data-controller="block"
     data-block-add-url-value="{{ path('magazine_block', {name: magazine.name}) }}"
     data-block-remove-url-value="{{ path('magazine_unblock', {name: magazine.name}) }}"
     data-block-is-blocked-value="{{ blocked ? 'true' : 'false' }}"
     data-block-active-class="kbin-block--active">
    <form action="{{ path('magazine_' ~ (blocked ? 'unblock' : 'block'), {name: magazine.name}) }}"
          method="POST"
          class="kbin-magazine-block kbin-block-form {{ blocked ? 'kbin-block--active' : '' }}"
          data-block-target="form"
          data-action="block#blockOrUnblock">
        <button type="submit"
                class="btn btn-sm btn-outline-light text-dark text-muted rounded-end {{ app.user and magazine.userIsOwner(app.user) ? 'disabled' : '' }}"><i
                    class="fas fa-ban"></i></button>
        <input type="hidden" name="token" value="{{ csrf_token('block') }}">
    </form>
</div>
