{{ form_start(form) }}
<div class="col-lg-6 mb-3">
    <div class="kbin-magazine-create-form">
        <div class="input-group-lg mb-3">
            {{ form_label(form.title, 'title'|trans) }}<sup class="required">*</sup>
            {{ form_widget(form.title) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.name, 'name'|trans) }}<sup class="required">*</sup>
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="magazine_name">/m/</span>
                {{ form_widget(form.name, { 'attr': {'aria-describedby': 'magazine_name', 'id': 'magazine_name'}}) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(form.description, 'description'|trans) }}
            {{ form_widget(form.description, {'attr': {'class': 'kbin-editor'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.rules, 'rules'|trans) }}
            {{ form_widget(form.rules, {'attr': {'class': 'kbin-editor'}}) }}
        </div>

        <div class="mb-3">
            {{ form_label(form.isAdult, 'Wyłącznie dla dorosłych') }}
            <div class="input-group input-group-lg">
                {{ form_widget(form.isAdult, {name: 'nsfw'|trans}) }}
            </div>
        </div>

        <div class="mb-12 text-end">
            {{ form_row(form.submit, { 'label': 'done'|trans }) }}
        </div>
    </div>
</div>
{{ form_end(form) }}
