<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td>{{ 'name'|trans }}</td>
            <td>{{ 'threads'|trans }}</td>
            <td>{{ 'comments'|trans }}</td>
            <td>{{ 'posts'|trans }}</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for magazine in magazines %}
            <tr>
                <td>{{ component('magazine_inline', { magazine: magazine }) }}</td>
                <td>{{ magazine.entryCount }}</td>
                <td>{{ magazine.entryCommentCount }}</td>
                <td>{{ magazine.postCount }}</td>
                <td>{% include 'magazine/_sub_button.html.twig' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(magazines.haveToPaginate) %}
    {{ pagerfanta(magazines, null, {'pageParameter':'[p]'}) }}
{% endif %}
