{% from 'user/_macros.html.twig' import user %}

{% for magazine in magazines %}
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 text-center">
                {% if magazine.cover %}
                    <a href="{{ path('front_magazine', {'name': magazine.name}) }}">
                        <img src="{{ asset(magazine.cover.filePath) | imagine_filter('post_thumb') }}" class="img-thumbnail"
                             alt="{{ magazine.name }}">
                    </a>
                {% else %}
                    <a href="{{ path('front_magazine', {'name': magazine.name}) }}">
                        <svg style="opacity:0.4" class="bd-placeholder-img" width="100%" height="150" xmlns="http://www.w3.org/2000/svg" role="img"
                             aria-label="Placeholder: Image" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#d3d3d3"></rect>
                        </svg>
                    </a>.
                {% endif %}
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class=" text-center">
                        <h5 class="card-title"><span class="small font-weight-light text-muted">/m/</span><a
                                    href="{{ path('front_magazine', {'name': magazine.name}) }}"
                                    class="font-weight-bolder ms-1">{{ magazine.name }}</a>
                        </h5>
                        <h5 class="card-subtitle font-weight-bold mb-3 text-muted">{{ magazine.title }}</h5>

                        {% include 'magazine/_sub_button.html.twig' %}
                    </div>

                    <p class="card-text mt-3 text-muted">{{ magazine.description|slice(0, 250) }} {{ magazine.description|length > 250 ? '...' : '' }}</p>

                    <ul class="list-group list-group-flush mb-4">
                        <li class="list-group-item"><span class="text-muted">{{ 'created'|trans }}:</span>
                            <time data-controller="timeago"
                                  data-timeago-refresh-interval-value="10000"
                                  data-timeago-datetime-value="{{ magazine.createdAt|date('c') }}">{{ magazine.createdAt|ago }}</time>
                        </li>
                        <li class="list-group-item"><span
                                    class="text-muted">{{ 'author'|trans }}:</span> {{ user(magazine.getOwner, {prefix: false}) }}</li>
                        <li class="list-group-item"><span class="text-muted">{{ 'subscribers'|trans }}:</span> 1</li>
                    </ul>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ path('front_magazine', {'name': magazine.name }) }}">{{ 'threads'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.entryCount }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ get_active_comments_page_path() }}">{{ 'comments'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.entryCommentCount }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ get_active_posts_page_path() }}">{{ 'posts'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.postCount }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ get_active_posts_page_path() }}">{{ 'replies'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.postCommentCount }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ path('magazine_moderators', {'name': magazine.name}) }}">{{ 'moderators'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.moderators|length }}</span>
                        </li>

                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="stretched-link" href="{{ path('magazine_modlog', {'name': magazine.name}) }}">{{ 'modlog'|trans }}</a>
                            <span class="badge bg-primary rounded-pill">{{ magazine.logs|length }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{% if(magazines.haveToPaginate) %}
    {{ pagerfanta(magazines, null, {'pageParameter':'[p]'}) }}
{% endif %}
