{% if magazines|length %}
    <div class="section">
        {% if view is same as 'cards'|trans|lower %}
            <div class="magazines magazines-cards">
                {% for magazine in magazines %}
                    {{ component('magazine_box', {magazine: magazine, showMeta: false, showInfo: false}) }}
                {% endfor %}
            </div>
        {% elseif view is same as 'columns'|trans|lower %}
            <div class="magazines magazines-columns">
                <ul>
                    {% for magazine in magazines %}
                        <li>
                            {% if magazine.icon %}
                                <figure>
                                    <img width="32" height="32"
                                         src="{{ asset(magazine.icon.filePath) | imagine_filter('avatar_thumb') }}"
                                         alt="{{ magazine.name ~' '~ 'avatar'|trans|lower }}">
                                </figure>
                            {% endif %}
                            <div>
                                <a href="{{ path('front_magazine', {name: magazine.name}) }}"
                                   class="stretched-link">{{ magazine.name }}</a>
                                <small>{{ component('date', {date: magazine.createdAt}) }}</small>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% set sortBy = criteria.sortOption %}
            <div class="magazines table-responsive">
                <table>
                    <thead>
                    <tr>
                        <th>{{ 'name'|trans }}</th>
                        {% for column in ['threads', 'comments', 'posts'] %}
                            <th>
                                {% if sortBy is same as column %}
                                    {{ column|trans }}
                                    <i class="fa-solid fa-sort-amount-desc" aria-sort="descending"></i>
                                {% else %}
                                    <a href="{{ options_url('sortBy', column) }}">
                                        {{ column|trans }}
                                    </a>
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th style="text-align: center">
                            {% if sortBy is same as 'hot' %}
                                {{ 'subscriptions'|trans }}
                                <i class="fa-solid fa-sort-amount-desc" aria-sort="descending"></i>
                            {% else %}
                                <a href="{{ options_url('sortBy', 'hot') }}">
                                    {{ 'subscriptions'|trans }}
                                </a>
                            {% endif %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for magazine in magazines %}
                        <tr>
                            <td>{{ component('magazine_inline', { magazine: magazine, stretchedLink: true, showAvatar: true, fullName: true}) }}</td>
                            <td>{{ magazine.entryCount }}</td>
                            <td>{{ magazine.entryCommentCount }}</td>
                            <td>{{ magazine.postCount + magazine.postCommentCount }}</td>
                            <td>{{ component('magazine_sub', {magazine: magazine}) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="magazines magazine-list-mobile">
                <div class="magazines__sortby">                     
                    {% for column in ['threads', 'comments', 'posts', 'hot'] %}
                        <span>
                            <a href="{{ options_url('sortBy', column) }}" class="btn {{ (sortBy is same as column) ? 'btn__primary' : 'btn__secondary' }}">
                                
                                {% if(column is same as 'hot')%}
                                    {{ 'subscriptions'|trans }}
                                {% else %}
                                    {{ column|trans }}
                                {% endif %}
                                
                                {% if sortBy is same as column %}
                                    <i class="fa-solid fa-sort-amount-desc" aria-sort="descending"></i>
                                {% endif %}
                            </a>
                            
                        </span>
                    {% endfor %}
                </div>
                {% for magazine in magazines %}
                        <div class="magazine">
                            <div class="magazine__top">
                                <span>{{ component('magazine_inline', { magazine: magazine, stretchedLink: true, showAvatar: true, fullName: true}) }}</span>
                                <span>{{ component('magazine_sub', {magazine: magazine}) }}</span>
                            </div>
                            <div class="magazine__bottom">                  
                                <span>{{ magazine.entryCount }} <span class="label">{{ 'threads'|trans }}</span></span>
                                <span>{{ magazine.entryCommentCount }} <span class="label">{{ 'comments'|trans }}</span></span>
                                <span>{{ magazine.postCount + magazine.postCommentCount }} <span class="label">{{ 'posts'|trans }}</span></span>
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if(magazines.haveToPaginate is defined and magazines.haveToPaginate) %}
        {{ pagerfanta(magazines, null, {'pageParameter':'[p]'}) }}
    {% endif %}
{% else %}
    <aside class="section section--muted">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
