<ul class="nav nav-pills mb-1 small kbin-nav">
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('front_magazine') or is_active_route('entry_single') ? 'active' : '' }}" aria-current="page"
           href="{{ path('front_magazine', {name: magazine.name}) }}">{{ 'threads'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('magazine_entry_comments') ? 'active' : '' }}" aria-current="page"
           href="{{ path('magazine_entry_comments', {name: magazine.name}) }}">{{ 'comments'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('magazine_posts') or is_active_route('post_single') ? 'active' : '' }}" aria-current="page"
           href="{{ path('magazine_posts', {name: magazine.name}) }}">{{ 'microblog'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('magazine_people', {name: magazine.name}) or is_active_route('magazine_people') ? 'active' : '' }}" aria-current="page"
           href="{{ path('magazine_people', {name: magazine.name}) }}">{{ 'people'|trans }}</a>
    </li>
</ul>