<aside class="options options--top" id="options">
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'newest', 'magazine_list_all') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'newest')}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot', 'magazine_list_all') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'hot')}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active', 'magazine_list_all') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'active')}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ path('magazine_abandoned') }}"
               class="{{ html_classes({'active': is_route_name('magazine_abandoned')}) }}">
                {{ 'abandoned'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ path('magazine_categories') }}"
               class="{{ html_classes({'active': is_route_name('magazine_categories')}) }}">
                {{ 'categories'|trans|lower }}
            </a>
        </li>
    </menu>
    {% if not is_route_name('magazine_abandoned') and not is_route_name('magazine_categories') %}
    <menu class="options__layout">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group"></i> {{ 'change_view'|trans }}</button>
            <ul class="dropdown__menu">
                <li><a class="{{ html_classes({'active': route_has_param('view', 'table')}) }}"
                       href="{{ options_url('view', 'table') }}">{{ 'table_view'|trans|lower }}</a></li>
                <li>
                    <a class="{{ html_classes({'active': route_has_param('view', 'cards')}) }}"
                       href="{{ options_url('view', 'cards') }}">{{ 'cards_view'|trans|lower }}</a>
                </li>
            </ul>
        </li>
    </menu>
    {% endif %}
</aside>
