{% include 'magazine/_sidebar_admin.html.twig' %}

<div class="kbin-magazine mb-4 mt-lg-0">
    <div class="kbin-magazine-header px-2">
        <h2 class="font-weight-bold">{{ magazine.title }}</h2>
        <h3 class="lead mb-2"><span class="text-muted">/m/</span>{{ magazine.name }}</h3>

        <div class="mb-3">
            {% include 'magazine/_sub_button.html.twig' %}
        </div>
    </div>

    <div class="kbin-magazine-desc px-2">
        {% if magazine.description %}
            <p class="small">{{ magazine.description }}</p>
        {% endif %}

        {% if magazine.rules %}
            <p class="small">{{ magazine.rules }}</p>
        {% endif %}
    </div>

    <div class="kbin-magazine-stats mb-4">
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><span class="text-muted">Utworzono:</span> {{ magazine.createdAt|ago }}</li>
            <li class="list-group-item"><span class="text-muted">Autor:</span> <a
                        href="{{ path('user', { username: magazine.getOwner.username}) }}">{{ magazine.getOwner.username }}</a></li>
            <li class="list-group-item"><span class="text-muted">Subskrybujących:</span> 1</li>
        </ul>

        <ul class="list-group kbin-magazine-stats-links">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="stretched-link" href="{{ path('front_magazine', {'name': magazine.name }) }}">Treści</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.entryCount }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="stretched-link" href="{{ get_active_comments_page_path() }}">Komentarze</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.commentCount }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="stretched-link" href="{{ get_active_posts_page_path() }}">Wpisy</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.entryCount }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="stretched-link" href="{{ path('magazine_moderators', {'name': magazine.name}) }}">Moderatorzy</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.moderators|length }}</span>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a class="stretched-link" href="#">Log moderatorski</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.moderators|length }}</span>
            </li>
        </ul>
    </div>

    {% if magazine.moderators|length %}
        <div class="kbin-moderators">
            <div class="card">
                <div class="card-header">
                    Moderatorzy
                </div>
                <ul class="list-group list-group-flush">
                    {% for moderator in magazine.moderators|slice(0, 5) %}
                        <li class="list-group-item">
                            {% include 'user/_avatar.html.twig' with { user: moderator.user } %}<span class="text-muted">/u/</span><a
                                    class="text-decoration-none stretched-link"
                                    href="{{ path('user', {'username': moderator.user.username}) }}">{{ moderator.user.username }}</a>
                        </li>
                    {% endfor %}
                    {% if magazine.moderators|length > 5 %}
                        <li class="list-group-item text-center">
                            <a class="text-decoration-none stretched-link" href="{{ path('magazine_moderators', {'name': magazine.name}) }}">więcej...</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endif %}
</div>
