<div class="kbin-magazine mb-2 mt-5 mt-lg-0">
    <div class="kbin-magazine-header px-2">
        <h2 class="font-weight-bold">{{ magazine.title }}</h2>
        <h3 class="lead mb-2"><span class="text-muted">m/</span>{{ magazine.name }}</h3>

        <div class="kbin-sub btn-group btn-group-sm mb-3" role="group">
            <button type="button" class="btn btn-light" disabled><i class="fas fa-eye"></i> 11</button>
            <button type="button" class="btn btn btn-outline-light text-dark text-muted">obserwuj</button>
        </div>
    </div>

    <div class="kbin-magazine-desc px-2">
        {% if magazine.description %}
            <p class="small">{{ magazine.description }}</p>
        {% endif %}

        {% if magazine.rules %}
            <p class="small">{{ magazine.rules }}</p>
        {% endif %}
    </div>

    <div class="kbin-magazine-stats">
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><span class="text-muted">Utworzono:</span> {{ magazine.createdAt|ago }}</li>
            <li class="list-group-item"><span class="text-muted">Autor:</span> <a href="#">{{ magazine.getOwner.username }}</a></li>
            <li class="list-group-item"><span class="text-muted">Subskrybujących:</span> 1</li>
        </ul>

        <ul class="list-group kbin-magazine-stats-links">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Treści</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.entryCount }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Komentarze</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.commentCount }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Moderatorzy</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.moderators|length }}</span>
            </li>
        </ul>
    </div>
</div>
