<div class="kbin-magazine mb-2 mt-5 mt-lg-0">
    <h2 class="font-weight-bold">{{ magazine.title }}</h2>
    <h3 class="lead mb-3"><span class="text-muted">m/</span>{{ magazine.name }}</h3>

    <div class="kbin-magazine-stats">
        <ul class="list-group list-group-flush mb-3">
            <li class="list-group-item"><span class="text-muted">Utworzono:</span> {{ magazine.createdAt|ago }}</li>
            <li class="list-group-item"><span class="text-muted">Autor:</span> <a href="#">{{ magazine.getOwner.username }}</a></li>
            <li class="list-group-item"><span class="text-muted">Subskrybujących:</span> 1</li>
        </ul>

        <ul class="list-group kbin-magazine-stats-links">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Treści</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.entryCount }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Komentarze</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.commentCount }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="#">Moderatorzy</a>
                <span class="badge bg-primary rounded-pill">{{ magazine.moderators|length }}</span>
            </li>
        </ul>
    </div>
</div>
