{% include 'magazine/panel/_sidebar.html.twig' %}
{% from 'user/_macros.html.twig' import user %}

<div class="kbin-magazine mt-lg-0 mb-5">
    {{ component('magazine', {magazine: magazine}) }}

    <div class="col-12" style="clear:both">
        <div class="row">
            <div class="mb-4 {{ magazine.badges|length ? 'float-sm-start' : '' }}">
                <div class="kbin-moderators">
                    <div class="kbin-users kbin-moderators card">
                        <div class="card-header">
                            {{ 'moderators'|trans }}
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for moderator in magazine.moderators|slice(0, 5) %}
                                <li class="list-group-item">
                                    {% include 'user/_avatar.html.twig' with { user: moderator.user } %}<span class="text-muted">/u/</span><a
                                            class="text-decoration-none stretched-link"
                                            href="{{ path('user', {'username': moderator.user.username}) }}">{{ moderator.user.username }}</a>
                                </li>
                            {% endfor %}
                            {% if magazine.moderators|length > 5 %}
                                <li class="list-group-item text-center">
                                    <a class="text-decoration-none stretched-link"
                                       href="{{ path('magazine_moderators', {'name': magazine.name}) }}">{{ 'more'|trans }}...</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            {% if magazine.badges|length %}
                <div class="mb-4">
                    <div class="kbin-badges">
                        <div class="card">
                            <div class="card-header">
                                {{ 'badges'|trans }}
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    {% for badge in magazine.badges %}
                                        <span class="badge bg-secondary me-1">{{ badge.name }}</span>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
