{% set subscribed = is_magazine_subscribed(magazine) %}

<div class="kbin-sub btn-group btn-group-sm"
     role="group"
     data-controller="subscribe"
     data-subscribe-add-url-value="{{ path('magazine_subscribe', {name: magazine.name}) }}"
     data-subscribe-remove-url-value="{{ path('magazine_unsubscribe', {name: magazine.name}) }}"
     data-subscribe-is-subscribed-value="{{ subscribed ? 'true' : 'false' }}"
     data-subscribe-sub-count-value="{{ magazine.subscriptionsCount }}"
     data-subscribe-active-class="kbin-sub--active">
    <button type="button" class="btn btn-sm btn-light" disabled>
        <i class="fas fa-eye"></i> <span data-subscribe-target="subCount">{{ magazine.subscriptionsCount }}</span></button>
    <form action="{{ path('magazine_' ~ (subscribed ? 'unsubscribe' : 'subscribe'), {name: magazine.name}) }}"
          method="POST"
          class="kbin-magazine-subscribe kbin-sub-form {{ subscribed ? 'kbin-sub--active' : '' }}"
          data-action="subscribe#subOrUnsub"
          data-subscribe-target="form">
        <button type="submit" class="btn btn btn-sm btn-outline-light text-dark text-muted">
            {{ 'subscribe'|trans }}
        </button>
        <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
    </form>
    {% include 'magazine/_block_button.html.twig' %}
</div>
