{% extends 'base.html.twig' %}

{% block mainClass %}page-entry-create page-entry-create-link{% endblock %}

{% block body %}
    {% include 'entry/_create_options.html.twig' %}

    <div id="content" class="section">
        <div class="container">
            {{ form_start(form) }}
            <h1>{{ 'create_new_magazine'|trans }}</h1>
            {{ form_row(form.name, {label: 'name', attr: {placeholder: '/m/'}}) }}
            {{ form_row(form.title, {label: 'title'}) }}
            {{ form_row(form.description, {label: 'description'}) }}
            {{ form_row(form.rules, {label: 'rules'}) }}
            {{ form_row(form.isAdult, {label:'is_adult', row_attr: {class: 'checkbox'}}) }}
            <div class="group actions">
                {{ form_row(form.submit, {label: 'create_new_magazine', attr: {class: 'btn btn__primary'}, row_attr: {class: 'float-end'}}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
