{% extends 'base.html.twig' %}

{%- block title -%}
    {{- magazine.title ~ (is_active_sort_option('sort.hot'|trans|lower, true) ? '' : ': ' ~ get_active_sort_option()|capitalize) -}}
{%- endblock -%}

{%- block description -%}{{- magazine.description ? get_short_desc(magazine.description) : '' -}}{%- endblock -%}

{% block image %}{{ magazine.cover ? uploaded_asset(magazine.cover.filePath) : '' }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-page">
        {{ component('title', {title: magazine.title, url: path('front_magazine', {name: magazine.name})}) }}
        {% include 'magazine/_nav.html.twig' %}
        {% include '_layout/_filters.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        <h1 class="mt-2 text-muted display-none">{{ magazine.title }}: {{ get_active_sort_option()|capitalize }}</h1>
        {% if magazine.isAdult and (not app.user or app.user.hideAdult) %}
            {% include '_layout/_adult.html.twig' %}
        {% else %}
            {% include 'entry/_list.html.twig' %}
            {% if is_active_route('front_magazine') %}
                <p class="fs-5 text-center text-">
                    <a href="{{ path('magazine_posts', {name: magazine.name}) }}">{{ 'or_check_the_posts'|trans }}</a>
                </p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}

{% block sidebar_bottom %}
    {{ component('related_entries_sidebar', {tag: magazine.name}) }}
    {{ component('related_posts_sidebar', {tag: magazine.name}) }}
{% endblock %}
