{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'magazines'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-magazines page-settings{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'magazines'|trans }}</h1>
    </header>
    {% include 'magazine/_options.html.twig' %}
    <div class="section">
        <div class="container">
            {{ form_start(form) }}

            <div class="flex" style="align-items: center">
                {{ form_widget(form.query) }}
                <button class="btn btn__primary" type="submit" aria-label="{{ 'search'|trans }}">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="flex">
                {{ form_widget(form.fields, {attr: {'aria-label': 'filter.fields.label'|trans}}) }}
                {{ form_widget(form.federation, {attr: {'aria-label': 'filter.origin.label'|trans}}) }}
                {{ form_widget(form.adult, {attr: {'aria-label': 'filter.adult.label'|trans}}) }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>
    <div id="content">
        {% include 'magazine/_list.html.twig' %}
    </div>
{% endblock %}
