{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'categories'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-categories page-settings{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'categories'|trans }}</h1>
    </header>
    {% include 'magazine/_options.html.twig' %}
    <div id="content">
        {% if categories|length %}
            <div class="section">
                <div style="text-align: right">
                    <a style="display: inline-block;"
                       class="btn btn__primary mb-2 float-end"
                       href="{{ path('user_settings_categories') }}">{{ 'add_new'|trans }}</a>
                </div>
                <div class="categories table-responsive">
                    <table>
                        <thead>
                        <tr>
                            <th>{{ 'name'|trans }}</th>
                            <th>{{ 'author'|trans }}</th>
                            <th>{{ 'magazines'|trans }}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in categories %}
                            <tr>
                                <td style="position: relative">
                                    <a class="stretched-link" href="{{ category_url(category) }}">
                                        {{ category.name }}
                                    </a>
                                </td>
                                <td>{{ component('user_inline', {user: category.user}) }}</td>
                                <td style="white-space:normal">
                                    {% for magazine in category.getMagazines() %}
                                        <small>
                                            <a class="badge"
                                               href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
                                        </small>
                                    {% endfor %}
                                </td>
                                <td style="text-align: center">
                                    {{ component('category_sub', {category: category}) }}
                                    {% if app.user and app.user.isAdmin() %}
                                        <form action="{{ path('admin_category_official_toggle', {id: category.id}) }}"
                                              name="admin_category_official_toggle"
                                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');"
                                              method="post">
                                            <button type="submit"
                                                    class="btn btn__secondary">
                                                {{ category.isOfficial ? 'official'|trans : 'unofficial'|trans }}
                                            </button>
                                            <input type="hidden" name="token"
                                                   value="{{ csrf_token('admin_category_official_toggle') }}">
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if(categories.haveToPaginate is defined and categories.haveToPaginate) %}
                {{ pagerfanta(categories, null, {'pageParameter':'[p]'}) }}
            {% endif %}
        {% else %}
            <aside class="section section--muted">
                <p>{{ 'empty'|trans }}</p>
            </aside>
        {% endif %}

    </div>
{% endblock %}
