{% extends 'base.html.twig' %}

{%- block title -%}
    {{- magazine.title ~ (is_active_sort_option('sort.hot'|trans|lower, true) ? '' : ': ' ~ get_active_sort_option()|capitalize) -}}
{%- endblock -%}

{%- block description -%}{{- magazine.description ? get_short_desc(magazine.description) : '' -}}{%- endblock -%}

{% block image %}{{ magazine.cover ? uploaded_asset(magazine.cover.filePath) : '' }}{% endblock %}

{% block body %}
    <div class="kbin-magazine-page">
        {{ component('title', {title: magazine.title, url: path('front_magazine', {name: magazine.name})}) }}
        {% include 'magazine/_nav.html.twig' %}
        {% include '_layout/_flash.html.twig' %}

        {% if local|length %}
            <h3 class="mt-5">{{ 'people_local'|trans }}</h3>
            <div class="hr mb-4"></div>
            {% include 'people/_list.html.twig' with {users: local} only %}
        {% endif %}

        {% if federated|length %}
            <h3 class="mt-5">{{ 'people_federated'|trans }}</h3>
            <div class="hr mb-4"></div>
            {% include 'people/_list.html.twig' with {users: federated} only %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}

{% block sidebar_bottom %}
    {{ component('related_entries_sidebar', {tag: magazine.name}) }}
    {{ component('related_posts_sidebar', {tag: magazine.name}) }}
{% endblock %}
