{% extends 'base.html.twig' %}

{%- block title -%}{{- 'awards'|trans -}}{%- endblock -%}

{% block body %}
    <div class="kbin-award-list-page">
        <h1>{{ 'awards'|trans }}</h1>

        <ul class="nav nav-pills my-4" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#all" type="button" role="tab"
                        aria-controls="pills-all" aria-selected="true">{{ 'all'|trans }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-gold-tab" data-bs-toggle="pill" data-bs-target="#gold" type="button" role="tab"
                        aria-controls="pills-gold" aria-selected="false">{{ 'gold'|trans }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-silver-tab" data-bs-toggle="pill" data-bs-target="#silver" type="button" role="tab"
                        aria-controls="pills-silver" aria-selected="false">{{ 'silver'|trans }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-brown-tab" data-bs-toggle="pill" data-bs-target="#brown" type="button" role="tab"
                        aria-controls="pills-brown" aria-selected="false">{{ 'brown'|trans }}</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">...</div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-gold-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-silver-tab">...</div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-brown-tab">...</div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
