<ul class="nav nav-tabs mb-3">
    <li class="nav-item">
        <a class="nav-link {{ category is null ? 'active' : '' }}" aria-current="page"
           href="{{ path('magazine_awards', { name: magazine.name }) }}">{{ 'all'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ category is same as 'gold' ? 'active' : '' }}"
           href="{{ path('magazine_awards', { category: 'gold', name: magazine.name }) }}">
            <span class="dot me-2" style="background: gold"></span>{{ 'gold'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ category is same as 'silver' ? 'active' : '' }}"
           href="{{ path('magazine_awards', { category: 'silver', name: magazine.name }) }}">
            <span class="dot me-2" style="background: silver"></span> {{ 'silver'|trans }}</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {{ category is same as 'brown' ? 'active' : '' }}"
           href="{{ path('magazine_awards', { category: 'brown', name: magazine.name }) }}">
            <span class="dot me-2" style="background: brown"></span> {{ 'brown'|trans }}</a>
    </li>
</ul>
