{% extends 'base.html.twig' %}

{% block title %}{{ 'awards'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-award-list-page">
        <h1 class="text-muted display-none">{{ 'awards'|trans }}</h1>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">{{ 'all'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'gold'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">{{ 'silver'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ 'brown'|trans }}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
