{% extends 'base.html.twig' %}

{%- block title -%}{{- 'awards'|trans -}}{%- endblock -%}

{% block body %}
    <div class="kbin-award-list-page">
        <h1 class="text-muted display-none">{{ 'awards'|trans }}</h1>

        {% if user is defined %}
            {% include 'award/_tabs_user.html.twig' %}
        {% elseif magazine is defined %}
            {% include 'award/_tabs_magazine.html.twig' %}
        {% else %}
            {% include 'award/_tabs_all.html.twig' %}
        {% endif %}

        <table class="table">
            <tbody>
            {% for type in types %}
                <tr>
                    <td><span class="dot me-2" style="background: {{ type.category }}"></span> {{ type.name|trans }} <small
                                class="text-muted">({{ type.count }})</small></td>
                    <td>{{ (type.name~'_desc')|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
