{% extends 'base.html.twig' %}

{% block title %}{{ 'awards'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-award-list-page">
        <h1 class="text-muted display-none">{{ 'awards'|trans }}</h1>

        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link {{ category is null ? 'active' : '' }}" aria-current="page"
                   href="{{ path(user is defined ? 'user_awards' : 'award_list_all', user is defined ? { username: user.username } : {}) }}">{{ 'all'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ category is same as 'gold' ? 'active' : '' }}"
                   href="{{ path(user is defined ? 'user_awards' : 'award_list_all', { category: 'gold', username: user is defined ? user.username : null }) }}">
                    <span class="dot me-2" style="background: gold"></span>{{ 'gold'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ category is same as 'silver' ? 'active' : '' }}"
                   href="{{ path(user is defined ? 'user_awards' : 'award_list_all', { category: 'silver', username: user is defined ? user.username : null  }) }}">
                    <span class="dot me-2" style="background: silver"></span> {{ 'silver'|trans }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ category is same as 'brown' ? 'active' : '' }}"
                   href="{{ path(user is defined ? 'user_awards' : 'award_list_all', { category: 'brown', username: user is defined ? user.username : null  }) }}">
                    <span class="dot me-2" style="background: brown"></span> {{ 'brown'|trans }}</a>
            </li>
        </ul>

        <table class="table">
            <tbody>
            {% for type in types %}
                <tr>
                    <td><span class="dot me-2" style="background: {{ type.category }}"></span> {{ type.name|trans }} <small
                                class="text-muted">({{ type.count }})</small></td>
                    <td>{{ (type.name~'_desc')|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
