<div class="kbin-users kbin-favourites mb-5">
    <div class="card">
        <div class="card-header">
            <h4 class="h6 my-0">{{ 'favourite'|trans|capitalize }}</h4>
        </div>
        <ul class="list-group list-group-flush">
            {% for favourite in favourites %}
                <li class="list-group-item small">
                    <div class="d-flex bd-highlight">
                        {% include 'user/_avatar.html.twig' with { user: favourite.user } %}
                        <a class="text-decoration-none stretched-link small align-self-center flex-grow-1 pe-1"
                           href="{{ path('user', {'username': favourite.user.username}) }}">{{ favourite.user.username|trim('@', 'left') }}</a>
                        <span class="fa fa-heart float-end align-self-center text-danger"></span>
                    </div>
                </li>
            {% endfor %}
            {% if more %}
                <li class="list-group-item text-center">
                    <a class="text-decoration-none stretched-link"
                       href="{{ url }}">+{{ more }} {{ 'more'|trans }}...</a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>
