<ul class="nav nav-tabs justify-content-end">
    {% if is_comments_page() or is_posts_page() %}
        <li class=" kbin-nav-navbar-item">
            <a class="nav-link text-decoration-none text-muted {{ is_active_sort_option('sort.hot'|trans|lower, false) ? 'active' : '' }}"
               href="{{ get_active_sort_option_path('sort.hot'|trans|lower, get_active_time_option(), get_active_type_option(), false) }}">{{ 'sort.hot'|trans }}</a>
        </li>
        <li class=" kbin-nav-navbar-item">
            <a class="nav-link text-decoration-none text-muted {{ is_active_sort_option('sort.newest'|trans|lower, false) ? 'active' : '' }}"
               href="{{ get_active_sort_option_path('sort.newest'|trans|lower, get_active_time_option(), get_active_type_option(), false) }}">{{ 'sort.newest'|trans }}</a>
        </li>
        <li class=" kbin-nav-navbar-item">
            <a class="nav-link text-decoration-none text-muted {{ is_active_sort_option('sort.active'|trans|lower, false) ? 'active' : '' }}"
               href="{{ get_active_sort_option_path('sort.active'|trans|lower, get_active_time_option(), get_active_type_option(), false) }}">{{ 'sort.active'|trans }}</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <div class="dropdown">
            <a class="nav-link active text-decoration-none text-muted"
               aria-current="page"
               id="kbin-time-filter"
               data-bs-toggle="dropdown"
               aria-expanded="false" href="#">
                <i class="fas fa-history"></i> {{ get_active_time_option() }}</a>
            <ul class="dropdown-menu" aria-labelledby="kbin-time-filter">
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '6h'|trans, get_active_type_option(), false) }}">{{ '6h'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '12h'|trans, get_active_type_option(), false) }}">{{ '12h'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '1d'|trans, get_active_type_option(), false) }}">{{ 'day'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '1w'|trans, get_active_type_option(), false) }}">{{ 'week'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '1m'|trans, get_active_type_option(), false) }}">{{ 'month'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, '1y'|trans, get_active_type_option(), false) }}">{{ 'year'|trans }}</a>
                </li>
                <li><a class="dropdown-item" href="{{ get_active_sort_option_path(get_active_sort_option(), '∞', get_active_type_option(), false) }}">∞</a>
                </li>
            </ul>
        </div>
    </li>
    {% if not is_comments_page() and not is_posts_page() %}
        <li class="nav-item">
            <a class="nav-link active text-decoration-none text-muted"
               aria-current="page"
               id="kbin-type-filter"
               data-bs-toggle="dropdown"
               aria-expanded="false" href="#">
                <i class="fas fa-photo-video"></i> {{ get_active_type_option() ?get_active_type_option() : 'filter.all'|trans }}</a>
            <ul class="dropdown-menu" aria-labelledby="kbin-type-filter">
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, get_active_time_option(), 'filter.link'|trans, false) }}">{{ 'filter.link'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, get_active_time_option(), 'filter.article'|trans, false) }}">{{ 'filter.article'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, get_active_time_option(), 'filter.photo'|trans, false) }}">{{ 'filter.photo'|trans }}</a>
                </li>
                <li><a class="dropdown-item"
                       href="{{ get_active_sort_option_path(get_active_sort_option()|lower, get_active_time_option(), 'filter.video'|trans, false) }}">{{ 'filter.video'|trans }}</a>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="nav-item">
        <a data-action="kbin#toggleTheme" class="nav-link active text-decoration-none text-muted" aria-current="page"
           href="{{ path('user_profile_toggle_theme') }}"><i
                    class="far fa-lightbulb"></i></a>
    </li>
</ul>
