<div class="kbin-main-menu visually-hidden" data-kbin-target="topBar">
    <div class="px-4 py-5 my-5">
        <div class="mx-auto">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="kbin-main-menu-page-view list-group font-weight-bold">
                            <li class="{{ is_homepage() ? 'kbin-featured-magazines-list-item--active' : '' }}">
                                <a class="list-group-item" href="/">{{ 'topbar.all'|trans }}</a>
                            </li>
                            <li class="{{ is_sub_page() ? 'kbin-featured-magazines-list-item--active' : '' }}">
                                <a class="list-group-item" href="{{ path('front_subscribed') }}">{{ 'topbar.subscriptions'|trans }}</a>
                            </li>
                            <li class="{{ is_mod_page() ? 'kbin-featured-magazines-list-item--active' : '' }}">
                                <a class="list-group-item" href="{{ path('front_moderated') }}">{{ 'topbar.moderated'|trans }}</a>
                            </li>
                            <li class="{{ is_active_route('magazine_list_all') ? 'kbin-featured-magazines-list-item--active' : '' }}">
                                <a class="list-group-item" href="{{ path('magazine_list_all') }}">{{ 'magazines'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                    {{ component('featured_magazines', {magazine: magazine is defined ? magazine : null}) }}
                </div>
            </div>
        </div>
    </div>
</div>
