{% from '_layout/_macros.html.twig' import navbar_link %}

<header class="kbin-header container-fluid mt-auto">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container">
            <a class="kbin-nav-brand navbar-brand  text-muted" href="{{ app.user ? path('front_subscribed') : '/' }}">karab.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kbin-nav"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse {{ kbin_js_enabled ? '' : 'show' }}" id="kbin-nav">
                <ul class="kbin-nav-navbar navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_magazine_page() %}
                        <li class="text-muted me-3 pt-2">
                            /m/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                                href="{{ path('magazine_front', {name: magazine.name}) }}">{{ magazine.name }}</a></span>
                        </li>
                    {% endif %}
                    {% if is_user_page() %}
                        <li class="text-muted me-3 pt-2">
                            {% if user is not defined %}
                                {% set user = app.user %}
                            {% endif %}
                            /u/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                                 href="{{ path('user', {username: user.username}) }}">{{ user.username }}</a></span>
                        </li>
                    {% endif %}
                    {{ navbar_link('Ważne', {
                        sortBy: 'wazne',
                    }) }}
                    {{ navbar_link('Wschodzące', {
                        sortBy: 'wschodzace',
                    }) }}
                    {{ navbar_link('Aktywne', {
                        sortBy: 'aktywne',
                    }) }}
                    {{ navbar_link('Najnowsze', {
                        sortBy: 'najnowsze',
                    }) }}
                    {{ navbar_link('Komentowane', {
                        sortBy: 'komentowane',
                    }) }}

                    <li class="kbin-nav-navbar-item {{ is_comments_page() and not is_user_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ get_active_comments_page_path() }}">Komentarze</a>
                    </li>

                    <li class="kbin-nav-navbar-item">
                        <a href="#">Wpisy</a>
                    </li>
                </ul>

                <ul class="kbin-nav-navbar navbar-nav  mb-2 mb-lg-0 float-lg-end">
                    <li class="kbin-nav-navbar-item kbn-login-btn {{ is_user_profile_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ path('user_profile_front') }}"><i class="fas fa-user"></i> {{ is_granted('ROLE_USER') ? 'Profil' : 'Zaloguj się' }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
