{% use 'user/profile/_notifications.html.twig' %}

<header class="kbin-header container-fluid mt-auto autohide position-relative">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container justify-content-end">
            <a class="kbin-nav-brand navbar-brand text-muted text-decoration-none kbin-logo"
               href="{{ app.user ? path(app.user.homepage) : '/' }}">{{ kbin_domain() }}</a>
{#                <img height="35"#}
{#                     class="rounded-circle ms-3"#}
{#                     alt="{{ kbin_domain() }}"#}
{#                     src="{{ asset('kbin-logo.png') }}"/>#}
            <div class="kbin-nav-navbar me-auto text-muted">
                {% if is_sub_page() %}
                    <span class="text-muted me-auto text-small size">
                    /<a class="text-decoration-none text-reset font-weight-bold"
                        href="{{ path('front_subscribed') }}">sub</a>
                    </span>
                {% elseif is_mod_page() %}
                    <span class="text-muted me-auto text-small size">
                    /<a class="text-decoration-none text-reset font-weight-bold"
                        href="{{ path('front_moderated') }}">mod</a>
                    </span>
                {% endif %}
            </div>

            <div class="ms-3 mb-0 {{ kbin_js_enabled() ? '' : 'show' }} navbar-collapse collapse" id="kbin-nav">
                <ul class="kbin-nav-navbar navbar-nav me-lg-auto mb-2 mb-lg-0">
                    {% include '_layout/navbar/_front.html.twig' %}
                </ul>
            </div>

            <ul class="kbin-nav-navbar navbar-nav mb-2 mb-lg-0 float-lg-end"
                data-controller="notify"
                {% if magazine is defined and magazine %}data-notify-magazine-name-value="{{ magazine.name }}"{% endif %}
                    {% if app.user %}data-notify-username-value="{{ app.user.username }}"{% endif %}
                    {% if entry is defined and entry %}data-notify-entry-id-value="{{ entry.id }}"{% endif %}>
                <li class="kbin-nav-navbar-item d-none d-lg-block" data-controller="nav-search">
                    <form method="get" action="{{ path('search') }}">
                        <div class="input-group input-group-sm input-group-btn">
                            <input type="text" name="q" class="form-control visually-hidden"
                                   data-nav-search-target="input"
                                   placeholder="{{ 'type_search_term'|trans }}">
                            <span class="input-group-btn input-group-sm">
                                        <button href="#" data-action="click->nav-search#toggleSearch"
                                                class="kbin-search-btn btn btn-default"
                                                type="submit">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </span>
                        </div>
                    </form>
                </li>
                <li class="kbin-nav-navbar-item d-none d-lg-block">
                    <div class="input-group input-group-sm btn-group input-group-btn dropdown">
                        <a href="#"
                           data-bs-toggle="dropdown" aria-expanded="false"
                           class="kbin-search-btn btn btn-default"
                           type="submit">
                            <i class="fa-solid fa-plus"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" style="width: 370px;">
                            <li><a class="dropdown-item"
                                   href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'link' }) }}{% else %}{{ path('entry_create', { type: 'link' }) }}{% endif %}">{{ 'add_new_link'|trans }}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.article'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.article'|trans }) }}{% endif %}">{{ 'add_new_article'|trans }}</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.image'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.image'|trans }) }}{% endif %}">{{ 'add_new_photo'|trans }}</a>
                            </li>
                            <li><a class="dropdown-item disabled" style="opacity:.5" href="#"
                                   aria-disabled="true">{{ 'add_new_video'|trans }}</a></li>
                            <li><a class="dropdown-item disabled" style="opacity:.5"
                                   href="#">{{ 'add_new_smart_contract'|trans }}</a></li>
                            <li><a class="dropdown-item"
                                   href="{{ path('magazine_posts', { name: magazine is defined and magazine ? magazine.name : 'random' }) }}">{{ 'add_new_post'|trans }}</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item"
                                   href="{{ path('magazine_create') }}">{{ 'create_new_magazine'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="kbin-nav-navbar-item d-none d-lg-block">
                    <div class="input-group input-group-sm btn-group input-group-btn dropdown">
                        <a href="#"
                           data-bs-toggle="modal" data-bs-target="#settingsModal"
                           class="kbin-search-btn btn btn-default"
                           type="submit">
                            <i class="fa-solid fa-gear"></i>
                        </a>
                    </div>
                </li>
                {% if app.user %}
                    <li class="dropdown dropdown-menu-end {{ app.user.countNewNotifications > 0 ? '' : 'visually-hidden' }}"
                        data-notify-counter-target="notifications">
                        <a href="{{ path('user_profile_notifications') }}"
                           class="px-1 nav-link nav-link dropdown-toggle dropstart float-end" id="notification-dropdown"
                           role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="badge rounded-pill bg-primary">{{ app.user.countNewNotifications }}</span>
                        </a>
                        <div class="dropdown-menu p-2 dropdown-menu-end" aria-labelledby="notification-dropdown">
                            <div class="mb-4 btn-group">
                                <form action="{{ path('user_profile_notifications_read') }}" method="POST"
                                      class="me-2">
                                    <input type="hidden" name="token"
                                           value="{{ csrf_token('read_notifications') }}">
                                    <button class="btn btn-sm btn-primary" type="submit">
                                        {{ 'read_all'|trans }}
                                    </button>
                                </form>
                                <form method="post" action="{{ path('user_profile_notifications_clear') }}"
                                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');"
                                      class="me-2">
                                    <input type="hidden" name="token"
                                           value="{{ csrf_token('clear_notifications') }}">
                                    <button class="btn btn-sm btn-danger" type="submit">
                                        <span>{{ 'purge'|trans }}</span>
                                    </button>
                                </form>

                                <span>
                                    <a href="{{ path('user_profile_notifications') }}"
                                       class="btn btn-sm btn-secondary fw-light">{{ 'show_all'|trans }}</a>
                                </span>
                            </div>
                            {# @todo notifications cache or fetch #}
                            {% for notification in app.user.getNewNotifications %}
                                <div class="{{ notification.status is same as 'new' ? '' : 'opacity-50' }} mb-2">{{ block(notification.type) }}</div>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="kbin-nav-navbar-item {{ app.user.countNewMessages > 0 ? '' : 'visually-hidden' }}"
                        data-notify-counter-target="messages">
                        <a href="{{ path('user_profile_messages') }}" class="px-1">
                            <span class="badge rounded-pill bg-danger">{{ app.user.countNewMessages }}</span>
                        </a>
                    </li>
                {% endif %}
                <li class="kbin-nav-navbar-item d-none d-lg-block">
                    <div class="input-group input-group-sm input-group-btn">
                        <a href="{{ path('user_profile_front') }}" class="btn btn-default kbn-login-btn"
                           data-bs-toggle="{{ app.user ? 'dropdown' : '' }}"
                           aria-expanded="false">
                            <i class="fas fa-user"></i> {{ is_granted('ROLE_USER') ? '' : 'login'|trans }}
                        </a>
                        {% if app.user %}
                            <ul class="dropdown-menu dropdown-menu-end" style="width: 370px;">
                                <li>
                                    <a class="dropdown-item kbin-page-view-item {{ is_homepage() ? 'kbin-page-view-item--active' : '' }}"
                                       href="/">{{ 'topbar.all'|trans }}</a></li>
                                <li>
                                    <a class="dropdown-item kbin-page-view-item {{ is_sub_page() ? 'kbin-page-view-item--active' : '' }}"
                                       href="{{ path('front_subscribed') }}">{{ 'topbar.subscriptions'|trans }}</a>
                                </li>
                                <li>
                                    <a class="dropdown-item kbin-page-view-item {{ is_mod_page() ? 'kbin-page-view-item--active' : '' }}"
                                       href="{{ path('front_moderated') }}">{{ 'topbar.moderated'|trans }}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('user_profile_settings') }}">{{ 'settings'|trans }}</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('user', {username: app.user.username}) }}">{{ 'profile'|trans }}</a>
                                </li>
                                <li><a class="dropdown-item"
                                       href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="text-center py-2 kbin-nav-mobile d-lg-none">
        <a href="#"
           data-bs-toggle="modal" data-bs-target="#settingsModal"
           class="kbin-search-btn btn btn-default me-4"
           type="submit">
            <i class="fa-solid fa-gear"></i>
        </a>

        {% if is_homepage() %}
            <a class="btn navbar-toggler me-4 kbin-profile-btn" href="{{ path('front_subscribed') }}">
                <i class="fas fa-eye p-1"></i>
            </a>
        {% elseif is_sub_page() %}
            <a class="btn navbar-toggler me-4 kbin-profile-btn" href="{{ path('front') }}">
                <i class="fas fa-house p-1"></i>
            </a>
        {% endif %}

        <a class="btn navbar-toggler me-4 kbin-profile-btn" href="{{ path('search', {'q': ''}) }}">
            <i class="fas fa-magnifying-glass p-1"></i>
        </a>

        <a class="btn navbar-toggler me-4 kbin-profile-btn" href="{{ path('user_profile_front') }}">
            <i class="fas fa-user p-1"></i>
        </a>

        <button class="navbar-toggler me-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#kbin-sidebar"
                aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle filters">
            <i class="fas fa-circle-info p-1"></i>
        </button>

        <button class="navbar-toggler" type="button" data-bs-target="#kbin-nav" data-bs-toggle="collapse"
                aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle navbar">
            <i class="fas fa-bars p-1"></i>
        </button>
    </div>
</header>
