{% use 'user/profile/_notifications.html.twig' %}

<header class="kbin-header container-fluid mt-auto autohide position-relative">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container">
            <a class="kbin-nav-brand navbar-brand text-muted text-decoration-none kbin-logo"
               href="{{ app.user ? path(app.user.homepage) : '/' }}">
                <img height="35"
                     class="rounded-circle ms-3"
                     alt="{{ kbin_domain() }}"
                     src="{{ asset('kbin-logo.png') }}"/>
            </a>
            <div class="kbin-nav-navbar me-auto text-muted">
                {% if is_magazine_page() %}
                    <span class="text-muted me-auto text-small size">
                    /m/<a class="text-decoration-none text-reset font-weight-bold"
                          href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
                    </span>
                {% elseif is_sub_page() %}
                    <span class="text-muted me-auto text-small size">
                    /<a class="text-decoration-none text-reset font-weight-bold"
                        href="{{ path('front_subscribed') }}">sub</a>
                    </span>
                {% elseif is_user_page() %}
                    {% if user is not defined %}
                        {% set user = app.user %}
                    {% endif %}
                    <span class="text-muted me-auto text-small size">
                    {% if not user.apProfileId %}/u/{% endif %}<a
                                class="text-decoration-none text-reset font-weight-bold"
                                href="{{ path('user', {username: user.username}) }}">{{ user.username }}</a>
                    </span>
                {% elseif is_tag_page() %}
                    <span class="text-muted me-auto text-small size">
                    #<a class="text-decoration-none text-reset font-weight-bold"
                        href="{{ path('tag_overall', {name: tag|trim('#')}) }}">{{ tag }}</a>
                    </span>
                {% elseif is_domain_page() %}
                    <span class="text-muted me-auto text-small size">
                    /d/<a class="text-decoration-none text-reset font-weight-bold"
                          href="{{ path('domain_front', {name: domain.name}) }}">{{ domain.name }}</a>
                    </span>
                {% elseif is_mod_page() %}
                    <span class="text-muted me-auto text-small size">
                    /<a class="text-decoration-none text-reset font-weight-bold"
                        href="{{ path('front_moderated') }}">mod</a>
                    </span>
                {% endif %}
            </div>

            <a href="#" class="d-block d-lg-none me-2" data-action="kbin#toggleTopBar"><i
                        class="p-1 fa-sharp fa-solid fa-caret-down" data-kbin-target="icon"></i></a>

            <a class="btn d-block d-lg-none me-2" href="{{ path('user_profile_front') }}">
                <i class="fas fa-user p-1"></i>
            </a>

            <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#kbin-sidebar"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle filters">
                <i class="fas fa-circle-info p-1"></i>
            </button>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#kbin-nav"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle sidebar">
                <i class="fas fa-bars p-1"></i>
            </button>
            <div class="ms-3 mb-0 {{ kbin_js_enabled() ? '' : 'show' }} offcanvas offcanvas-end" id="kbin-nav">
                <div class="d-block d-lg-none kbin-sidebar--close">
                    <button type="button" class="navbar-toggler btn-close my-4 ms-1" data-bs-toggle="offcanvas"
                            data-bs-target="#kbin-nav"
                            aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle filters"></button>
                </div>
                <div class="mb-5 mt-5 d-lg-none">
                </div>
                <ul class="kbin-nav-navbar navbar-nav me-lg-auto mb-2 mb-lg-0">
                    {% if is_user_page() %}
                        {% include '_layout/navbar/_user.html.twig' %}
                    {% elseif is_tag_page() %}
                        {% include '_layout/navbar/_tag.html.twig' %}
                    {% elseif is_domain_page() %}
                        {% include '_layout/navbar/_domain.html.twig' %}
                    {% else %}
                        {% include '_layout/navbar/_front.html.twig' %}
                    {% endif %}
                </ul>
                <ul class="kbin-nav-navbar navbar-nav mb-2 mb-lg-0 float-lg-end"
                    data-controller="notify"
                    {% if magazine is defined and magazine %}data-notify-magazine-name-value="{{ magazine.name }}"{% endif %}
                        {% if app.user %}data-notify-username-value="{{ app.user.username }}"{% endif %}
                        {% if entry is defined and entry %}data-notify-entry-id-value="{{ entry.id }}"{% endif %}>
                    {% if app.user %}
                        <li class="dropdown dropstart {{ app.user.countNewNotifications > 0 ? '' : 'visually-hidden' }}"
                            data-notify-counter-target="notifications">
                            <a href="{{ path('user_profile_notifications') }}"
                               class="px-1 nav-link nav-link dropdown-toggle dropstart" id="notification-dropdown"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="badge rounded-pill bg-primary">{{ app.user.countNewNotifications }}</span>
                            </a>
                            <div class="dropdown-menu p-2 dropstart" aria-labelledby="notification-dropdown">
                                <div class="mb-4 btn-group">
                                    <form action="{{ path('user_profile_notifications_read') }}" method="POST"
                                          class="me-2">
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('read_notifications') }}">
                                        <button class="btn btn-sm btn-primary" type="submit">
                                            {{ 'read_all'|trans }}
                                        </button>
                                    </form>
                                    <form method="post" action="{{ path('user_profile_notifications_clear') }}"
                                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                        <input type="hidden" name="token"
                                               value="{{ csrf_token('clear_notifications') }}">
                                        <button class="btn btn-sm btn-danger" type="submit">
                                            <span>{{ 'purge'|trans }}</span>
                                        </button>
                                    </form>
                                </div>
                                {% for notification in app.user.getNewNotifications %}
                                    <div class="{{ notification.status is same as 'new' ? '' : 'opacity-50' }} mb-2">{{ block(notification.type) }}</div>
                                {% endfor %}
                            </div>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="kbin-nav-navbar-item {{ app.user.countNewMessages > 0 ? '' : 'visually-hidden' }}"
                            data-notify-counter-target="messages">
                            <a href="{{ path('user_profile_messages') }}" class="px-1">
                                <span class="badge rounded-pill bg-danger">{{ app.user.countNewMessages }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="kbin-nav-navbar-item kbn-login-btn d-none d-lg-block {{ is_user_profile_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ path('user_profile_front') }}" class="px-1">
                            <i class="fas fa-user"></i> {{ is_granted('ROLE_USER') ? 'profile'|trans : 'login'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
