{% from '_layout/_macros.html.twig' import navbar_link %}

<header class="kbin-header container-fluid mt-auto autohide position-relative">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container">
            <a class="kbin-nav-brand navbar-brand text-muted text-decoration-none kbin-logo"
               href="{{ app.user ? path('front_subscribed') : '/' }}">{{ kbin_domain }}</a>
            <div class="kbin-nav-navbar  me-auto">
                {% if is_magazine_page() %}
                    <span class="text-muted me-auto text-small size">
                    /m/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                         href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a></span>
                </span>
                {% elseif is_user_page() %}
                    <span class="text-muted">
                    {% if user is not defined %}
                        {% set user = app.user %}
                    {% endif %}
                    /u/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                         href="{{ path('user', {username: user.username}) }}">{{ user.username }}</a></span>
                </span>
                {% elseif is_sub_page() %}
                    <span class="text-muted">
                    /<span class="font-weight-bold">
                                <a class="text-decoration-none text-reset" href="{{ path('front_subscribed') }}">sub</a>
                            </span>
                </span>
                {% elseif is_mod_page() %}
                    <span class="text-muted">
                    /<span class="font-weight-bold">
                                <a class="text-decoration-none text-reset" href="{{ path('front_moderated') }}">mod</a>
                            </span>
                </span>
                {% endif %}
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kbin-nav"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-3 {{ kbin_js_enabled ? '' : 'show' }}" id="kbin-nav">
                <ul class="kbin-nav-navbar navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_user_page() %}
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user', {username: user.username}) }}">{{ 'overview'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_entries') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_entries', {username: user.username}) }}">{{ 'threads'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_entry_comments') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_entry_comments', {username: user.username}) }}">{{ 'comments'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_posts') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_posts', {username: user.username}) }}">{{ 'posts'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_replies') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_replies', {username: user.username}) }}">{{ 'replies'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_moderated') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_moderated', {username: user.username}) }}">{{ 'topbar.moderated'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_subscriptions') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_subscriptions', {username: user.username}) }}">{{ 'subscriptions'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_follows') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_follows', {username: user.username}) }}">{{ 'follows'|trans }}</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_followers') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_followers', {username: user.username}) }}">{{ 'followers'|trans }}</a>
                        </li>
                    {% else %}
                        {{ navbar_link('sort.top'|trans, {
                            sortBy: 'sort.top'|trans|lower,
                        }) }}
                        {{ navbar_link('sort.hot'|trans, {
                            sortBy: 'sort.hot'|trans|lower,
                        }) }}
                        {{ navbar_link('sort.active'|trans, {
                            sortBy: 'sort.active'|trans|lower,
                        }) }}
                        {{ navbar_link('sort.newest'|trans, {
                            sortBy: 'sort.newest'|trans|lower,
                        }) }}
                        {{ navbar_link('sort.commented'|trans, {
                            sortBy: 'sort.commented'|trans|lower,
                        }) }}

                        <li class="kbin-nav-navbar-item {{ is_comments_page() and not is_user_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ get_active_comments_page_path() }}">{{ 'comments'|trans }}</a>
                        </li>

                        <li class="kbin-nav-navbar-item {{ is_posts_page() and not is_user_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ get_active_posts_page_path() }}">{{ 'microblog'|trans }}</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="kbin-nav-navbar navbar-nav mb-2 mb-lg-0 float-lg-end"
                    data-controller="notify"
                    {% if magazine is defined and magazine %}data-notify-magazine-name-value="{{ magazine.name }}"{% endif %}
                        {% if app.user %}data-notify-username-value="{{ app.user.username }}"{% endif %}
                        {% if entry is defined and entry %}data-notify-entry-id-value="{{ entry.id }}"{% endif %}>
                    {% if app.user %}
                        <li class="kbin-nav-navbar-item {{ app.user.countNewNotifications > 0 ? '' : 'visually-hidden' }}"
                            data-notify-counter-target="notifications">
                            <a href="{{ path('user_profile_notifications') }}" class="px-1">
                                <span class="badge rounded-pill bg-primary">{{ app.user.countNewNotifications }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user %}
                        <li class="kbin-nav-navbar-item {{ app.user.countNewMessages > 0 ? '' : 'visually-hidden' }}"
                            data-notify-counter-target="messages">
                            <a href="{{ path('user_profile_messages') }}" class="px-1">
                                <span class="badge rounded-pill bg-danger">{{ app.user.countNewMessages }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="kbin-nav-navbar-item kbn-login-btn {{ is_user_profile_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ path('user_profile_front') }}" class="px-1">
                            <i class="fas fa-user"></i> {{ is_granted('ROLE_USER') ? 'profile'|trans : 'login'|trans }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
