{% block navbar_link %}
    <li class="kbin-nav-navbar-item {{ (is_entries_page() or is_entry_page()) ? 'kbin-nav-navbar-item--active' : '' }}">
        <a href="{{ get_active_sort_option_path(sortBy) }}">{{ name }}</a>
    </li>
{% endblock %}

{% block navbar_tag_link %}
    <li class="kbin-nav-navbar-item {{ (is_entries_page()) ? 'kbin-nav-navbar-item--active' : '' }}">
        <a href="{{ get_active_sort_option_path(sortBy) }}">{{ name }}</a>
    </li>
{% endblock %}

{% block navbar_domain_link %}
    <li class="kbin-nav-navbar-item {{ (is_entries_page()) ? 'kbin-nav-navbar-item--active' : '' }}">
        <a href="{{ get_active_sort_option_path(sortBy) }}">{{ name }}</a>
    </li>
{% endblock %}
