{% from '_layout/_macros.html.twig' import navbar_link %}

<header class="kbin-header container-fluid mt-auto">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container">
            <a class="kbin-nav-brand navbar-brand text-muted text-decoration-none kbin-logo" href="{{ app.user ? path('front_subscribed') : '/' }}">karab.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kbin-nav"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse {{ kbin_js_enabled ? '' : 'show' }}" id="kbin-nav">
                <ul class="kbin-nav-navbar navbar-nav me-auto mb-2 mb-lg-0">
                    {% if is_magazine_page() %}
                        <li class="text-muted me-3 pt-2">
                            /m/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                                 href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a></span>
                        </li>
                    {% elseif is_user_page() %}
                        <li class="text-muted me-3 pt-2">
                            {% if user is not defined %}
                                {% set user = app.user %}
                            {% endif %}
                            /u/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                                 href="{{ path('user', {username: user.username}) }}">{{ user.username }}</a></span>
                        </li>
                    {% elseif is_sub_page() %}
                        <li class="text-muted me-3 pt-2">
                            /<span class="font-weight-bold">
                                <a class="text-decoration-none text-reset" href="{{ path('front_subscribed') }}">sub</a>
                            </span>
                        </li>
                    {% endif %}

                    {% if is_user_page() %}
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user', {username: user.username}) }}">Przegląd</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_entries') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_entries', {username: user.username}) }}">Treści</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_entry_comments') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_entry_comments', {username: user.username}) }}">Komentarze</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_posts') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_posts', {username: user.username}) }}">Wpisy</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_replies') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_replies', {username: user.username}) }}">Odpowiedzi</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_replies') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_subscriptions', {username: user.username}) }}">Subskrypcje</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_follow') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_follows', {username: user.username}) }}">Obserwowani</a>
                        </li>
                        <li class=" kbin-nav-navbar-item {{ is_active_route('user_followers') ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ path('user_followers', {username: user.username}) }}">Obserwujący</a>
                        </li>
                    {% else %}
                        {{ navbar_link('Ważne', {
                            sortBy: 'wazne',
                        }) }}
                        {{ navbar_link('Wschodzące', {
                            sortBy: 'wschodzace',
                        }) }}
                        {{ navbar_link('Aktywne', {
                            sortBy: 'aktywne',
                        }) }}
                        {{ navbar_link('Najnowsze', {
                            sortBy: 'najnowsze',
                        }) }}
                        {{ navbar_link('Komentowane', {
                            sortBy: 'komentowane',
                        }) }}

                        <li class="kbin-nav-navbar-item {{ is_comments_page() and not is_user_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ get_active_comments_page_path() }}">Komentarze</a>
                        </li>

                        <li class="kbin-nav-navbar-item {{ is_posts_page() and not is_user_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                            <a href="{{ get_active_posts_page_path() }}">Wpisy</a>
                        </li>
                    {% endif %}
                </ul>

                <ul class="kbin-nav-navbar navbar-nav  mb-2 mb-lg-0 float-lg-end">
                    {% if app.user and app.user.countNewNotifications > 0 %}
                        <li class="kbin-nav-navbar-item">
                            <a href="{{ path('user_profile_notifications') }}" class="px-1">
                                <span class="badge rounded-pill bg-primary">{{ app.user.countNewNotifications }}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and app.user.countNewMessages > 0 %}
                        <li class="kbin-nav-navbar-item">
                            <a href="{{ path('user_profile_messages') }}" class="px-1">
                                <span class="badge rounded-pill bg-danger">{{ app.user.countNewMessages }}</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="kbin-nav-navbar-item kbn-login-btn {{ is_user_profile_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ path('user_profile_front') }}" class="px-1"><i
                                    class="fas fa-user"></i> {{ is_granted('ROLE_USER') ? 'Profil' : 'Zaloguj się' }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
