{% from '_layout/_macros.html.twig' import navbar_link %}

<header class="kbin-header container-fluid mt-auto">
    <nav class="kbin-nav navbar navbar-expand-lg navbar-light">
        <div class="kbin-container container">
            <a class="kbin-nav-brand navbar-brand  text-muted" href="/">karab.in</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#kbin-nav"
                    aria-controls="kbin-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="kbin-nav">
                <ul class="kbin-nav-navbar navbar-nav me-auto mb-2 mb-lg-0">
                    {% set isMagazinePage = false %}
                    {% set isSubPage = false %}
                    {% set isCommentsPage = false %}
                    {% if 'subscribed' in app.request.get('_route') %}
                        {% set isSubPage = true %}
                    {% endif %}
                    {% if 'comments' in app.request.get('_route') %}
                        {% set isCommentsPage = true %}
                    {% endif %}
                    {% if magazine is defined %}
                        {% set isMagazinePage = true %}
                        <li class="text-muted me-3 pt-2">
                            m/<span class="font-weight-bold"><a class="text-decoration-none text-reset"
                                                                href="{{ path('magazine', {name: magazine.name}) }}">{{ magazine.name }}</a></span>
                        </li>
                    {% endif %}
                    {{ navbar_link('Ważne', {
                        sortBy: 'wazne',
                    }) }}
                    {{ navbar_link('Najnowsze', {
                        sortBy: 'najnowsze',
                    }) }}
                    {{ navbar_link('Wchodzące', {
                        sortBy: 'wschodzace',
                    }) }}
                    {{ navbar_link('Komentowane', {
                        sortBy: 'komentowane',
                    }) }}

                    <li class="kbin-nav-navbar-item {{ is_comments_page() ? 'kbin-nav-navbar-item--active' : '' }}">
                        <a href="{{ get_active_comments_page_path() }}">Komentarze</a>
                    </li>
                    <li class="kbin-nav-navbar-item">
                        <a href="#">Wpisy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
