{%- macro not_found(type, options) -%}
    {%- with {
        type: type,
        } only -%}
        {{ block('not_found') }}
    {%- endwith -%}
{%- endmacro -%}

{%- macro not_found_transactions(type, options) -%}
    {%- with {
        type: type,
        } only -%}
        {{ block('not_found_transactions') }}
    {%- endwith -%}
{%- endmacro -%}

{% block not_found_transactions %}
    <div class="text-center py-5 text-muted">
        <p class="display-4">
            {{ 'no_transactions'|trans }}
        </p>
    </div>
{% endblock %}

{% block not_found %}
    {% if is_entry_page() or is_post_page() %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                {{ 'no_comments'|trans }}
            </p>
        </div>
    {% elseif(is_sub_page()) %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                {{ 'no_threads'|trans }}
            </p>
        </div>

        {{ component('popular_magazines') }}
    {% elseif (is_magazine_page() or is_homepage()) and not is_magazine_panel_page() %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                {{ 'no_threads'|trans }}
            </p>
            <p class="fs-5 mt-2">
                {{ 'add_new_link_or_article'|trans({
                    '%link1_start%' : '<a class="fw-bolder" href="'~path('entry_create', { type: 'type.link'|trans })~'">',
                    '%link2_start%' : '<a class="fw-bolder" href="'~path('entry_create', { type: 'type.article'|trans })~'">',
                    '%link_end%' : '</a>'}) | raw }}
            </p>
        </div>
    {% else %}
        <div class="text-center py-5 text-muted">
            <p class="display-4">
                {{ 'nothing_here'|trans }}
            </p>
        </div>
    {% endif %}
{% endblock %}
