{% if(magazine is defined and magazine is not null) %}
    <div class="kbin-instance mt-lg-0 px-2">
        <h4 class="font-weight-bold kbin-logo-color">Losowy magazyn</h4>
        <div class="kbin-magazine mt-lg-0">
            <div class="kbin-magazine-header text-center">
                {% if magazine.cover %}
                    <img class="img-thumbnail" src="{{ asset(magazine.cover.filePath) | imagine_filter('post_thumb') }}"
                         alt="{{ magazine.title }}">
                {% endif %}
                <h2 class="font-weight-bold">{{ magazine.title }}</h2>
                <h3 class="lead mb-2"><span class="text-muted">/m/</span>{{ magazine.name }}</h3>

                <div class="mb-3">
                    {% include 'magazine/_sub_button.html.twig' %}
                </div>
            </div>

            <div class="kbin-magazine-desc px-2 small">
                {% if magazine.description %}
                    <p class="small">{{ magazine.description|markdown|raw }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
