{% if kbin_js_enabled() %}
    <div class="my-2 px-4" data-controller="user-data">
        <div class="form-check form-switch">
            {% set autorefreshEnabled = app.request.cookies.has('user_option_auto_refresh') ? app.request.cookies.get('user_option_auto_refresh') : 'true' %}
            <input class="form-check-input"
                   type="checkbox"
                   id="user_option_auto_refresh"
                   data-user-data-value="auto_refresh"
                   data-user-data-target="auto_refresh"
                   data-action="user-data#toggle"
                    {{ autorefreshEnabled is same as 'true' ? 'checked' : '' }}>
            <label class="form-check-label small" for="user_option_auto_refresh">{{ 'user_option_auto_refresh'|trans }}</label>
        </div>

        <div class="form-check form-switch">
            {% set embedEnabled = app.request.cookies.has('user_option_auto_embed') ? app.request.cookies.get('user_option_auto_embed') : 'false' %}
            <input class="form-check-input"
                   type="checkbox"
                   id="user_option_auto_embed"
                   data-user-data-value="auto_embed"
                   data-user-data-target="auto_embed"
                   data-action="user-data#toggle"
                    {{ embedEnabled is same as 'true' ? 'checked' : '' }}>
            <label class="form-check-label small" for="user_option_auto_embed">{{ 'user_option_auto_embed'|trans }}</label>
        </div>

        <div class="form-check form-switch">
            {% set notificationsEnabled = app.request.cookies.has('user_option_notifications') ? app.request.cookies.get('user_option_notifications') : 'true' %}
            <input class="form-check-input"
                   type="checkbox"
                   id="user_option_notifications"
                   data-user-data-value="notifications"
                   data-action="user-data#toggle"
                    {{ notificationsEnabled is same as 'true' ? 'checked' : '' }}>
            <label class="form-check-label small" for="user_option_notifications">{{ 'user_option_notifications'|trans }}</label>
        </div>

        <div class="form-check form-switch">
            {% set federationEnabled = app.request.cookies.has('user_option_federation') ? app.request.cookies.get('user_option_federation') : 'true' %}
            <input class="form-check-input"
                   type="checkbox"
                   id="user_option_federation"
                   data-user-data-value="federation"
                   checked
                    {#                       data-action="user-data#toggle" #}
                    {#                        {{ federationEnabled is same as 'true' ? 'checked' : '' }}#}
                   disabled>
            <label class="form-check-label small" for="user_option_federation">{{ 'user_option_federation'|trans }}</label>
        </div>
    </div>
{% endif %}