<div class="kbin-search mb-4 mt-lg-0 mt-4">
    <form method="get" action="{{ path('search') }}">
        <div class="input-group input-group-sm input-group-btn">
            <input type="text" name="q" class="form-control" placeholder="{{ 'type_search_term'|trans }}">
            <span class="input-group-btn input-group-sm">
        <button class="kbin-search-btn btn btn-default" type="submit">{{ 'search'|trans }}</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-add  d-grid gap-2 mb-5"
     data-controller="reveal"
     data-reveal-hidden-class="visually-hidden">
    <button type="button"
            data-reveal-target="item"
            class="btn btn-light btn-lg mb-1 kbin-add-btn {{ not kbin_js_enabled or is_route_contains('_create') ? 'visually-hidden' : '' }}"
            data-action="click->reveal#toggle">
        {{ 'add_new'|trans }}
    </button>
    <button type="button" class="btn-close visually-hidden"
            aria-label="Close"
            data-reveal-target="item"
            data-action="click->reveal#toggle"></button>

    <nav class="d-grid {{ not kbin_js_enabled or is_route_contains('_create') ? '' : 'visually-hidden' }}" data-reveal-target="item">
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.article'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.article'|trans }) }}{% endif %}"
           class="btn btn-hover-light align-items-center py-3 lh-sm">
            <div>
                <strong class="d-block">{{ 'add_new_article'|trans }}</strong>
                <small>{{ 'add_new_article_desc'|trans }}</small>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'link' }) }}{% else %}{{ path('entry_create', { type: 'link' }) }}{% endif %}"
           class="btn btn-hover-light align-items-center py-3 lh-sm">
            <div>
                <strong class="d-block">{{ 'add_new_link'|trans }}</strong>
                <small>{{ 'add_new_link_desc'|trans }}</small>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.image'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.image'|trans }) }}{% endif %}"
           class="btn btn-hover-light align-items-center py-3 lh-sm">
            <div>
                <strong class="d-block">{{ 'add_new_photo'|trans }}</strong>
                <small>{{ 'add_new_photo_desc'|trans }}</small>
            </div>
        </a>
        <a href="#"
           class="btn btn-hover-light align-items-center py-3 lh-sm disabled">
            <div>
                <strong class="d-block">{{ 'add_new_video'|trans }}</strong>
                <small>{{ 'add_new_video_desc'|trans }}</small>
            </div>
        </a>
        <a href="#"
           class="btn btn-hover-light align-items-center py-3 lh-sm disabled">
            <div>
                <strong class="d-block">{{ 'add_new_smart_contract'|trans }}</strong>
                <small>{{ 'add_new_smart_contract_desc'|trans }}</small>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_posts', { name: magazine.name }) }}{% else %}{{ '/m/karabin/wpisy/aktywne' }}{% endif %}"
           class="btn btn-hover-light align-items-center py-3 lh-sm">
            <div>
                <strong class="d-block">{{ 'add_new_post'|trans }}</strong>
                <small>{{ 'add_new_post_desc'|trans }}</small>
            </div>
        </a>
        <a href="{{ path('magazine_create') }}"
           class="btn btn-hover-light align-items-center py-3 lh-sm">
            <div>
                <strong class="d-block">{{ 'create_new_magazine'|trans }}</strong>
                <small>{{ 'create_new_magazine_desc'|trans }}</small>
            </div>
        </a>
    </nav>

</div>

{% if not is_magazine_page() and not is_user_page() and not is_user_profile_page() and not is_report_page() %}
    {% if app.user %}
        <div class="mb-5">
            {% include 'user/_moderator_list_card.html.twig' with {'user':app.user} %}
        </div>
    {% endif %}
    <div class="mb-5">
        {% include '_layout/_kbin_about.html.twig' %}
    </div>

    <div class="mb-5">
        {{ component('random_magazine') }}
    </div>
{% endif %}
