<div class="kbin-search mb-4 mt-lg-0 mt-4">
    <form method="get" action="{{ path('search') }}">
        <div class="input-group input-group-sm input-group-btn">
            <input type="text" name="q" class="form-control" placeholder="{{ 'type_search_term'|trans }}">
            <span class="input-group-btn input-group-sm">
        <button class="kbin-search-btn btn btn-default" type="submit">{{ 'search'|trans }}</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-add d-grid gap-2 {{ app.user and magazine is defined and is_granted('edit', magazine) or is_granted('ROLE_ADMIN') ? 'mb-2' : 'mb-5' }}"
     data-controller="reveal"
     data-reveal-hidden-class="visually-hidden">
    <button type="button"
            data-reveal-target="item"
            class="btn btn-primary btn-lg mb-1 kbin-add-btn font-weight-bold {{ not kbin_js_enabled() or is_route_contains('_create') ? 'visually-hidden' : '' }}"
            data-action="click->reveal#toggle">
        {{ 'add_new'|trans }}
    </button>

    <button type="button" class="btn-close visually-hidden"
            aria-label="Close"
            data-reveal-target="item"
            data-action="click->reveal#toggle"></button>
    <div class="list-group w-auto {{ not kbin_js_enabled() or is_route_contains('_create') ? '' : 'visually-hidden' }}" data-reveal-target="item">
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.article'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.article'|trans }) }}{% endif %}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_article'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_article_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'link' }) }}{% else %}{{ path('entry_create', { type: 'link' }) }}{% endif %}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_link'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_link_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.image'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.image'|trans }) }}{% endif %}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_photo'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_photo_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="#"
           class="list-group-item list-group-item-action d-flex gap-3 py-3 disabled opacity-{{ theme is same as 'kbin-dark' ? '25' : '75' }}"
           aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_video'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_video_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="#"
           class="list-group-item list-group-item-action d-flex gap-3 py-3 disabled opacity-{{ theme is same as 'kbin-dark' ? '25' : '75' }}"
           aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_smart_contract'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_smart_contract_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_posts', { name: magazine.name }) }}{% else %}{{ '/m/karabin/wpisy/aktywne' }}{% endif %}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'add_new_post'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'add_new_post_desc'|trans }}</p>
                </div>
            </div>
        </a>
        <a href="{{ path('magazine_create') }}"
           class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <span class="mb-0 h6 font-weight-bold">{{ 'create_new_magazine'|trans }}</span>
                    <p class="mb-0 d-block small opacity-50">{{ 'create_new_magazine_desc'|trans }}</p>
                </div>
            </div>
        </a>
    </div>


    {% if kbin_js_enabled() %}
        <div class="my-2 px-4" data-controller="user-data">
            <div class="form-check form-switch">
                {% set autorefreshEnabled = app.request.cookies.has('user_option_auto_refresh') ? app.request.cookies.get('user_option_auto_refresh') : 'true' %}
                <input class="form-check-input"
                       type="checkbox"
                       id="user_option_auto_refresh"
                       data-user-data-value="auto_refresh"
                       data-user-data-target="auto_refresh"
                       data-action="user-data#toggle"
                        {{ autorefreshEnabled is same as 'true' ? 'checked' : '' }}>
                <label class="form-check-label small" for="user_option_auto_refresh">{{ 'user_option_auto_refresh'|trans }}</label>
            </div>

            <div class="form-check form-switch">
                {% set embedEnabled = app.request.cookies.has('user_option_auto_embed') ? app.request.cookies.get('user_option_auto_embed') : 'false' %}
                <input class="form-check-input"
                       type="checkbox"
                       id="user_option_auto_embed"
                       data-user-data-value="auto_embed"
                       data-user-data-target="auto_embed"
                       data-action="user-data#toggle"
                        {{ embedEnabled is same as 'true' ? 'checked' : '' }}>
                <label class="form-check-label small" for="user_option_auto_embed">{{ 'user_option_auto_embed'|trans }}</label>
            </div>

            <div class="form-check form-switch">
                {% set notificationsEnabled = app.request.cookies.has('user_option_notifications') ? app.request.cookies.get('user_option_notifications') : 'true' %}
                <input class="form-check-input"
                       type="checkbox"
                       id="user_option_notifications"
                       data-user-data-value="notifications"
                       data-action="user-data#toggle"
                        {{ notificationsEnabled is same as 'true' ? 'checked' : '' }}>
                <label class="form-check-label small" for="user_option_notifications">{{ 'user_option_notifications'|trans }}</label>
            </div>

            <div class="form-check form-switch">
                {% set federationEnabled = app.request.cookies.has('user_option_federation') ? app.request.cookies.get('user_option_federation') : 'true' %}
                <input class="form-check-input"
                       type="checkbox"
                       id="user_option_federation"
                       data-user-data-value="federation"
                       checked
                        {#                       data-action="user-data#toggle" #}
                        {#                        {{ federationEnabled is same as 'true' ? 'checked' : '' }}#}
                       disabled>
                <label class="form-check-label small" for="user_option_federation">{{ 'user_option_federation'|trans }}</label>
            </div>
        </div>
    {% endif %}
</div>

{% if is_granted('ROLE_ADMIN') %}
    <div class="kbin-add kbin-magazine-panel d-grid gap-2 {{ app.user and magazine is defined and is_granted('edit', magazine) ? 'mb-2' : 'mb-5' }}">
        <a href="{{ path('admin_dashboard') }}"
           type="button"
           class="btn btn-secondary btn-lg mb-1 kbin-add-btn font-weight-bold {{ is_admin_panel_page() ? 'visually-hidden' : '' }}">
            {{ 'admin_panel'|trans }}
        </a>
    </div>
{% endif %}

{% if not is_magazine_page() and not is_user_page() and not is_user_profile_page() and not is_report_page() %}
    {% if app.user %}
        <div class="mb-5">
            {% include 'user/_moderator_list_card.html.twig' with {'user':app.user} %}
        </div>
    {% endif %}
    <div class="mb-5">
        {% include '_layout/_kbin_about.html.twig' %}
    </div>

    <div class="mb-5">
        {{ component('random_magazine') }}
    </div>
{% endif %}
