<div class="kbin-search mb-4 mt-lg-0 mt-4">
    <form>
        <div class="input-group input-group-sm input-group-btn">
            <input type="text" name="szukaj" class="form-control" placeholder="{{ 'type_search_term'|trans }}">
            <span class="input-group-btn input-group-sm">
        <button class="kbin-search-btn btn btn-default" type="submit">{{ 'search'|trans }}</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-add d-grid gap-2 mb-4"
     data-controller="reveal"
     data-reveal-hidden-class="visually-hidden">
    <button type="button"
            data-reveal-target="item"
            class="btn btn-light btn-lg mb-1 kbin-add-btn {{ not kbin_js_enabled or is_route_contains('_create') ? 'visually-hidden' : '' }}"
            data-action="click->reveal#toggle">
        {{ 'add_new'|trans }}
    </button>
    <button type="button" class="btn-close visually-hidden"
            aria-label="Close"
            data-reveal-target="item"
            data-action="click->reveal#toggle"></button>

    <div class="kbin-quick-links list-group {{ not kbin_js_enabled or is_route_contains('_create') ? '' : 'visually-hidden' }}"
         data-reveal-target="item">
        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'link' }) }}{% else %}{{ path('entry_create', { type: 'link' }) }}{% endif %}"
           class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'add_new_link'|trans }}</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">{{ 'add_new_link_desc'|trans }}</p>
        </a>

        <a href="{% if magazine is defined and magazine %}{{ path('magazine_entry_create', { name: magazine.name, type: 'type.article'|trans }) }}{% else %}{{ path('entry_create', { type: 'type.article'|trans }) }}{% endif %}"
           class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'add_new_article'|trans }}</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">{{ 'add_new_article_desc'|trans }}</p>
        </a>

        <a href="{% if magazine is defined and magazine %}{{ path('magazine_posts', { name: magazine.name }) }}{% else %}{{ '/m/karabin/wpisy/aktywne' }}{% endif %}"
           class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'add_new_post'|trans }}</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">{{ 'add_new_post_desc'|trans }}</p>
        </a>

        <a href="{{ path('magazine_create') }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">{{ 'create_new_magazine'|trans }}</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">{{ 'create_new_magazine_desc'|trans }}</p>
        </a>
    </div>
</div>

{% if not is_magazine_page() and not is_user_page() and not is_user_profile_page() and not is_report_page() %}
    {% if app.user %}
        <div class="mb-4">
            {% include 'user/_moderator_list_card.html.twig' with {'user':app.user} %}
        </div>
    {% endif %}
    <div class="mb-4">
        {% include '_layout/_kbin_about.html.twig' %}
    </div>
{% endif %}

