<div class="kbin-search mb-4 mt-lg-0">
    <form>
        <div class="input-group input-group-sm input-group-btn">
            <input type="text" name="szukaj" class="form-control" placeholder="Wpisz szukaną frazę...">
            <span class="input-group-btn input-group-sm">
        <button class="kbin-search-btn btn btn-default" type="submit">Szukaj</button>
      </span>
        </div>
    </form>
</div>

<div class="kbin-add d-grid gap-2 mb-4"
     data-controller="reveal"
     data-reveal-hidden-class="visually-hidden">
    <button type="button"
            data-reveal-target="item"
            class="btn btn-primary btn-lg mb-1 kbin-add-btn {{ kbin_js_enabled ? '' : 'visually-hidden' }}"
            data-action="click->reveal#toggle">
        Dodaj nowy
    </button>
    <button type="button" class="btn-close visually-hidden"
            aria-label="Close"
            data-sidebar-menu-target="closeButton"
            data-reveal-target="item"
            data-action="click->reveal#toggle"></button>


    <div class="kbin-quick-links list-group {{ kbin_js_enabled ? 'visually-hidden' : '' }}"
         data-reveal-target="item">
        <a href="{{ path('entry_create', { type: 'link' }) }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy link</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Podziel się ciekawym linkiem lub fotografią.</p>
        </a>

        <a href="{{ path('entry_create', { type: 'artykul' }) }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy artykuł</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz artykuł lub wiadomość tekstową.</p>
        </a>

        <a href="/łęcka" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj wpis na mikroblogu</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Napisz krótki post lub notatkę.</p>
        </a>

        <a href="{{ path('magazine_create') }}" class="list-group-item">
            <h4 class="kbin-quick-links-heading list-group-item-heading font-weight-light">Dodaj nowy magazyn</h4>
            <p class="kbin-quick-links-text list-group-item-text text-muted">Utwórz i zarządzaj magazynem tematycznym.</p>
        </a>
    </div>
</div>

{% if is_homepage() or is_sub_page() or is_posts_page() %}
    {% if app.user %}
        <div class="mb-4">
            {% include 'user/_moderator_list_card.html.twig' with {'user':app.user} %}
        </div>
    {% endif %}
    <div class="mb-4">
        {% include '_layout/_kbin_about.html.twig' %}
    </div>
{% endif %}

