<ul class="list-group list-group-horizontal d-lg-none mb-3" style="margin:0 auto">
    <li class="list-group-item {{ is_homepage() ? 'active' : '' }}">
        <a class="stretched-link" href="{{ path('front') }}">{{ 'all'|trans }}</a>
    </li>
    <li class="list-group-item {{ is_sub_page() ? 'active' : '' }}">
        <a class="stretched-link" href="{{ path('front_subscribed') }}">{{ 'subscriptions'|trans }}</a>
    </li>
    <li class="list-group-item {{ is_mod_page() ? 'active' : '' }}">
        <a class="stretched-link" href="{{ path('front_moderated') }}">{{ 'topbar.moderated'|trans }}</a>
    </li>
</ul>

{% if is_sub_page() %}
    <ul class="list-group list-group-flush d-lg-none mb-3">
        <li class="list-group-item {{ is_active_route('front_subscribed') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('front_subscribed') }}">{{ 'threads'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('entry_comments_subscribed') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('entry_comments_subscribed') }}">{{ 'comments'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('posts_subscribed') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('posts_subscribed') }}">{{ 'posts'|trans }}</a>
        </li>
    </ul>
{% elseif is_mod_page() %}
    <ul class="list-group list-group-flush d-lg-none mb-3">
        <li class="list-group-item {{ is_active_route('front_moderated') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('front_moderated') }}">{{ 'threads'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('entry_comments_moderated') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('entry_comments_moderated') }}">{{ 'comments'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('posts_moderated') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('posts_moderated') }}">{{ 'posts'|trans }}</a>
        </li>
    </ul>
{% else %}
    <ul class="list-group list-group-flush d-lg-none mb-3">
        <li class="list-group-item {{ is_active_route('front') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('front') }}">{{ 'threads'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('entry_comments_front') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('entry_comments_front') }}">{{ 'comments'|trans }}</a>
        </li>
        <li class="list-group-item {{ is_active_route('posts_front') ? 'active' : '' }}">
            <a class="stretched-link" href="{{ path('posts_front') }}">{{ 'posts'|trans }}</a>
        </li>
    </ul>
{% endif %}

<ul class="list-group list-group-flush d-lg-none mb-5">
    <li class="list-group-item text-center {{ is_active_route('magazine_list_all') ? 'active' : '' }}">
        <a class="stretched-link" href="{{ path('magazine_list_all') }}">{{ 'topbar.all_magazines'|trans }}</a>
    </li>
    <li class="list-group-item text-center {{ is_route_start_with('people_') ? 'active' : '' }}">
        <a class="stretched-link" href="{{ path('people_front') }}">{{ 'people'|trans }}</a>
    </li>
</ul>