{% set canSeeTrash = canSeeTrash ?? false %}
{% set withParent = withParent ?? true %}
{% set nested = nested ?? true %}

{% if subject is entry %}
    {{ component('entry', {entry: subject, showMagazine: true, canSeeTrash: canSeeTrash}) }}
{% elseif subject is entry_comment %}
    {{ component('entry_comment', {comment: subject, withParent: withParent, canSeeTrash: canSeeTrash, nested: nested}) }}
{% elseif subject is post %}
    {{ component('post', {post: subject, showMagazine: true, canSeeTrash: canSeeTrash}) }}
{% elseif subject is post_comment %}
    {{ component('post_comment', {comment: subject, withParent: withParent, canSeeTrash: canSeeTrash}) }}
{% elseif subject is magazine %}

    <div class="my-5 clearfix">
        <div class="mx-5 px-5">
            <div class="mx-5 px-5">
                {{ component('magazine',{magazine: subject}) }}
            </div>
        </div>
    </div>
{% endif %}
