{% from '_layout/_macros.html.twig' import entry_url %}
{% from '_layout/_macros.html.twig' import post_url %}

{% if subject is entry %}
    <a href="{{ entry_url(subject) }}">{{ subject.shortTitle }}</a>
{% elseif subject is entry_comment %}
    <a href="{{ entry_url(subject.entry) }}">{{ subject.shortTitle }}</a>
{% elseif subject is post %}
    <a href="{{ post_url(subject) }}">{{ subject.shortTitle }}</a>
{% elseif subject is post_comment %}
    <a href="{{ post_url(subject.post) }}">{{ subject.shortTitle }}</a>
{% else %}
    {{ 'deleted'|trans }}
{% endif %}
