{% if subject is entry %}
    <a href="{{ path('entry_single', {'magazine_name': subject.magazine.name, 'entry_id': subject.id}) }}">{{ subject.title|slice(0, 60) ~ '...' }}</a>
{% elseif subject is entry_comment %}
    <a href="{{ path('entry_single', {'magazine_name': subject.entry.magazine.name, 'entry_id': subject.entry.id}) }}">{{ subject.body|slice(0, 60) ~ '...' }}</a>
{% elseif subject is post %}
    <a href="{{ path('post_single', {'magazine_name': subject.magazine.name, 'post_id': subject.id}) }}">{{ subject.body|slice(0, 60) ~ '...' }}</a>
{% elseif subject is post_comment %}
    <a href="{{ path('post_single', {'magazine_name': subject.post.magazine.name, 'post_id': subject.post.id}) }}">{{ subject.body|slice(0, 60) ~ '...' }}</a>
{% endif %}
