{% set routeName = app.request.get('_route') %}
<section class="kbin-featured-magazines container-fluid fixed-top">
    <ul class="kbin-featured-magazines-list">
        <li class="kbin-featured-magazines-list-item {{ is_homepage() ? 'kbin-featured-magazines-list-item--active' : '' }}">
            <a href="/">Strona główna</a>
        </li>
        <li class="kbin-featured-magazines-list-item {{ is_sub_page() ? 'kbin-featured-magazines-list-item--active' : '' }}">
            <a href="{{ path('front_subscribed') }}">Subskrybcje</a>
        </li>
        <li class="kbin-featured-magazines-list-item {{ routeName is same as 'magazine_list_all' ? 'kbin-featured-magazines-list-item--active' : '' }}">
            <a href="{{ path('magazine_list_all') }}">Magazyny</a>
        </li>
    </ul>
    {{ render(controller('App\\Controller\\MagazineController::featuredList', {'magazine': magazine is defined ? magazine : null})) }}
</section>
