{% extends 'base.html.twig' %}

{% block title %}
    {% if is_sub_page() %}
        {{ 'topbar.subscriptions'|trans }} - {{ get_active_sort_option()|capitalize }}
    {% elseif is_mod_page() %}
        {{ 'topbar.moderated'|trans }} - {{ get_active_sort_option()|capitalize }}
    {% else %}
        {{ (is_active_sort_option('sort.hot'|trans|lower, true) ? '' : get_active_sort_option()|capitalize ~ ' - ') ~ kbin_title }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="kbin-front-page">
        {% include '_layout/_filters.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        {% include 'entry/_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}
