<!DOCTYPE html>
<html lang="pl">
<head>
    <title>{%- block title -%}{{- kbin_meta_title() -}}{%- endblock -%}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ kbin_meta_keywords() }}">
    <meta name="description" content="{% block description %}{{ kbin_meta_description() }}{% endblock %}">

    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ block('title')|trim }}">
    <meta property="og:description" content="{{ block('description')|trim }}">
    <meta property="og:image" content="{% block image %}{{ absolute_url(asset('kbin-og.png')) }}{% endblock %}">

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {% if kbin_js_enabled() %}
            <script>
                window.MERCURE_PUBLISH_URL = "{{ mercure_public_url }}";
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endif %}
    {% endblock %}

    <style>
        {% if magazine is defined and magazine %}
            {{ magazine.customCss }}
        {% endif %}
    </style>
</head>
<body class="kbin-theme--light">
<div id="kbin">
    <div class="kbin-container">
        {% include 'layout/_header.html.twig' %}
        <main id="kbin-main">
            {% block body %}{% endblock %}
        </main>
        <aside id="kbin-sidebar">
            {% block sidebar %}
                {% include 'layout/_sidebar.html.twig' %}
            {% endblock %}
        </aside>
        {% include 'layout/_footer.html.twig' %}
    </div>
</div>
<div id="kbin-tools">
    <div class="header-bg"></div>
    <div class="footer-bg"></div>
</div>
</body>
</html>
