<!DOCTYPE html>
<html lang="pl"
      style="font-size: {{ app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FONT_SIZE'))
      ? app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FONT_SIZE'))~'%'
      : '100%' }}">
<head>
    <title>{%- block title -%}{{ kbin_meta_title() }}{%- endblock -%}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{ kbin_meta_keywords() }}">
    <meta name="description" content="{% block description %}{{ kbin_meta_description() }}{% endblock %}">

    <meta property="og:url" content="{{ app.request.uri }}">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ block('title')|trim }}">
    <meta property="og:description" content="{{ block('description')|trim }}">
    <meta property="og:image" content="{% block image %}{{ absolute_url(asset('og.png')) }}{% endblock %}">

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {% if kbin_js_enabled() %}
            <script>
                window.MERCURE_PUBLISH_URL = "{{ mercure_public_url }}";
            </script>
            {{ encore_entry_script_tags('app') }}
        {% endif %}
    {% endblock %}

    <style>
        {% if magazine is defined and magazine %}
        {{ magazine.customCss }}
        {% endif %}
    </style>
</head>
<body class="{{ html_classes(app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_THEME'))
    ? 'theme--'~app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_THEME'))
    : 'theme--dark', {
        'rounded-edges': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_ROUNDED_EDGES')) is same as 'true',
    }) }}">
<div id="tools">
    <div class="header-bg"></div>
    <div class="footer-bg"></div>
</div>
<div id="kbin" class="{%- block mainClass -%}page{%- endblock %}">
    <div class="kbin-container">
        {% include 'layout/_header.html.twig' with {header_nav: block('header_nav')} %}
        <main id="main"
              data-controller="lightbox"
              class="{{ html_classes({'view-compact': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::COMPACT')}) }}">
            {% block body %}{% endblock %}
        </main>
        <aside id="sidebar">
            {% block sidebar %}
                {% include 'layout/_sidebar.html.twig' with {sidebar_top: block('sidebar_top')} %}
            {% endblock %}
        </aside>
        {% include 'layout/_footer.html.twig' %}
    </div>
</div>
</body>
</html>
