{% from '_layout/_macros.html.twig' import navbar_domain_link %}

{{ navbar_domain_link('threads'|trans, {
    sortBy: 'sort.hot'|trans|lower,
}) }}

<li class="kbin-nav-navbar-item {{ is_comments_page() ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ get_active_comments_page_path() }}">{{ 'comments'|trans }}</a>
</li>

{% if app.request.cookies.get('user_option_topbar') is not same as 'true' %}
    <li class="kbin-nav-navbar-item">
        <a href="{{ path('magazine_list_all') }}" data-action="kbin#toggleTopBar"><i
                    class="fa-sharp fa-solid fa-caret-down"
                    data-kbin-target="icon"></i></a>
    </li>
{% endif %}