{% from '_layout/_macros.html.twig' import navbar_link %}

<li class="kbin-nav-navbar-item {{ is_active_route('front') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ get_active_sort_option_path('sort.hot'|trans|lower) }}">{{ 'threads'|trans }}</a>
</li>

<li class="kbin-nav-navbar-item {{ is_active_route('entry_comments_front') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ get_active_comments_page_path() }}">{{ 'comments'|trans }}</a>
</li>
<li class="kbin-nav-navbar-item {{ is_active_route('posts_front') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ get_active_posts_page_path() }}">{{ 'microblog'|trans }}</a>
</li>

{% if app.request.cookies.get('user_option_topbar') is not same as 'true' %}
    <li class="kbin-nav-navbar-item">
        <a href="{{ path('magazine_list_all') }}" data-action="kbin#toggleTopBar"><i
                    class="fa-sharp fa-solid fa-caret-down"
                    data-kbin-target="icon"></i></a>
    </li>
{% endif %}
