{% from '_layout/_macros.html.twig' import navbar_link %}

<li class="kbin-nav-navbar-item {{ is_active_route('front_moderated') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('front_moderated') }}">{{ 'threads'|trans }}</a>
</li>

<li class="kbin-nav-navbar-item {{ is_active_route('posts_front') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('posts_moderated') }}">{{ 'microblog'|trans }}</a>
</li>

<li class="kbin-nav-navbar-item {{ is_route_start_with('people_') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('people_front') }}">{{ 'people'|trans }}</a>
</li>

{% if app.request.cookies.get('user_option_topbar') is not same as 'true' %}
    <li class="kbin-nav-navbar-item">
        <a href="{{ path('magazine_list_all') }}" data-action="kbin#toggleTopBar">{{ 'magazines'|trans }} <i
                    class="fa-sharp fa-solid fa-caret-down ms-1"
                    data-kbin-target="icon"></i></a>
    </li>
{% endif %}
