<li class=" kbin-nav-navbar-item {{ is_active_route('user') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('user', {username: user.username}) }}">{{ 'overview'|trans }}</a>
</li>
<li class=" kbin-nav-navbar-item {{ is_active_route('user_entries') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('user_entries', {username: user.username}) }}">{{ 'threads'|trans }}</a>
</li>
<li class=" kbin-nav-navbar-item {{ is_active_route('user_comments') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('user_comments', {username: user.username}) }}">{{ 'comments'|trans }}</a>
</li>
<li class=" kbin-nav-navbar-item {{ is_active_route('user_posts') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('user_posts', {username: user.username}) }}">{{ 'posts'|trans }}</a>
</li>
<li class=" kbin-nav-navbar-item {{ is_active_route('user_replies') ? 'kbin-nav-navbar-item--active' : '' }}">
    <a href="{{ path('user_replies', {username: user.username}) }}">{{ 'replies'|trans }}</a>
</li>
<li class="kbin-nav-navbar-item">
    <a href="{{ path('magazine_list_all') }}" data-action="kbin#toggleTopBar"><i
                class="fa-sharp fa-solid fa-caret-down"></i></a>
</li>
