{{ form_start(form) }}
<div class="col-xs-12">
    <div class="kbin-comment-create-form my-3">
        <div class="mb-3">
            {{ form_label(form.body, 'Wpis') }}
            {{ form_widget(form.body, {'attr': {'class': 'kbin-editor'}}) }}
        </div>

        <div class="mb-12 text-end btn-group float-end">
            <div class="input-group input-group-lg me-2">
                {{ form_widget(form.image, {'attr':{ 'class': 'form-control' }}) }}
            </div>
            <div class="me-2 pt-2">
                {{ form_label(form.isAdult, '+18') }}
                <div class="input-group input-group-lg">
                    {{ form_widget(form.isAdult, {name: '+18'}) }}
                </div>
            </div>
            {{ form_row(form.submit, { 'label': 'Gotowe', 'attr': {'class': 'kbin-comment-send btn-primary'} }) }}
        </div>
    </div>
</div>
<div class="clearfix"></div>
{{ form_end(form) }}
