{% set edit = post is defined and post %}
{% if edit %}
    {% set title = 'edit_post'|trans %}
    {% set action = path('post_edit', {magazine_name: post.magazine.name, post_id: post.id}) %}
{% else %}
    {% set title = 'add_post'|trans %}
    {% set action = path('post_create') %}
{% endif %}

{% if attributes is not defined %}
    {% set attributes = {} %}
{% endif %}

<h3 hidden>{{ title }}</h3>
{{ form_start(form, {action: action, attr: {class: edit ? 'comment-edit replace' : 'comment-add'}|merge(attributes)}) }}
<div class="row">
    {{ form_row(form.body, {label: false}) }}
</div>
<div class="row params">
    {{ form_row(form.isAdult, {label:'is_adult', row_attr: {style: 'flex-wrap: wrap-reverse'}}) }}
    {{ form_row(form.magazine, {label: false}) }}
</div>
<div class="row actions">
    <button type="button"
            class="btn btn__secondary"
            aria-label="{{ 'markdown_howto'|trans }}"
            title="{{ 'markdown_howto'|trans }}">
        <i class="fa-solid fa-circle-question"></i>
    </button>
    <button type="button"
            class="btn btn__secondary"
            aria-label="{{ 'add_media'|trans }}"
            title="{{ 'add_media'|trans }}">
        <i class="fa-solid fa-photo-film"></i>
    </button>
    {{ form_row(form.submit, {label: post is defined and post ? 'edit_post' : 'add_post', attr: {class: 'btn btn__primary', 'data-action': 'subject#sendForm'}}) }}
</div>
<div hidden class="media">
    {{ form_row(form.image, {label: 'image'}) }}
    {{ form_row(form.imageAlt, {label: 'image_alt'}) }}
</div>
{{ form_end(form) }}

