<div data-controller="subject-list"
     class="{{ html_classes({
         'show-comment-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')),
         'show-post-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS'))
     }) }}"
     data-action="{{- app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_DYNAMIC_LISTS')) is same as 'true' ? 'notifications:PostCreatedNotification@window->subject-list#addMainSubject notifications:PostCommentCreatedNotification@window->subject-list#addCommentOverview' : 'notifications:PostCreatedNotification@window->subject-list#increaseCounter' -}}">
    {% for post in posts %}
        {{ component('post', {
            post: post,
            showMagazineName: magazine is not defined or not magazine,
            showCommentsPreview: true
        }) }}
    {% endfor %}
    {% if(posts.haveToPaginate is defined and posts.haveToPaginate) %}
        {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is same as 'true' %}
            <div data-controller="infinite-scroll" class="infinite-scroll">
                {{ component('loader', {'data-infinite-scroll-target': 'loader'}) }}
                <div data-infinite-scroll-target="pagination" class="visually-hidden">
                    {{ pagerfanta(posts, null, {'pageParameter':'[p]'}) }}
                </div>
            </div>
        {% else %}
            {{ pagerfanta(posts, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    {% endif %}
    {% if not posts|length %}
        <aside class="section section--muted">
            <p>{{ 'empty'|trans }}</p>
        </aside>
    {% endif %}
</div>