<li class="dropdown">
    <button class="stretched-link" data-subject-target="more">{{ 'more'|trans|lower }}</button>
    <ul class="dropdown__menu" data-controller="clipboard">
        <li>
            <a href="{{ path('post_report', {id: post.id}) }}"
               class="{{ html_classes({'active': is_route_name('post_report')}) }}"
               data-action="subject#getForm">
                {{ 'report'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ post_voters_url(post, 'up') }}"
               class="{{ html_classes({'active': is_route_name('post_favourites') or is_route_name('post_voters')}) }}">
                {{ 'activity'|trans|lower }}
            </a>
        </li>
        <hr>
        <li>
            <a data-action="clipboard#copy" href="{{ post_url(post) }}">
                {{ 'copy_url'|trans|lower }}
            </a>
        </li>
        <li>
            <a data-action="clipboard#copy"
               href="{{ post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id}) }}">
                {{ 'copy_url_to_fediverse'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id}) }}"
            target="_blank">
                {{ 'open_original_url'|trans|lower }}
            </a>
        </li>
        {% if app.user and post.isAuthor(app.user) or is_granted('moderate', post) %}
            <hr>
        {% endif %}
        {% if is_granted('edit', post) %}
            <li>
                <a href="{{ post_edit_url(post) }}"
                   class="{{ html_classes({'active': is_route_name('post_edit')}) }}"
                   data-action="subject#getForm">
                    {{ 'edit'|trans|lower }}
                </a>
            </li>
        {% endif %}
        {% if app.user and post.isAuthor(app.user) %}
            <li>
                <form method="post"
                      action="{{ post_delete_url(post) }}"
                      onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                    <input type="hidden" name="token" value="{{ csrf_token('post_delete') }}">
                    <button type="submit">{{ 'delete'|trans|lower }}</button>
                </form>
            </li>
        {% endif %}
        {% if is_granted('moderate', post) %}
            <li>
                <a href="{{ post_moderate_url(post) }}"
                   class="{{ html_classes({'active': is_route_name('post_moderate')}) }}"
                   data-action="subject#showModPanel">
                    {{ 'moderate'|trans|lower }}
                </a>
            </li>
        {% endif %}
    </ul>
</li>
