<aside class="options" id="options">
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'top'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'top'|trans|lower)}) }}">
                {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'hot'|trans|lower)}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'newest'|trans|lower)}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'active'|trans|lower)}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'commented'|trans|lower)}) }}">
                {{ 'commented'|trans|lower }}
            </a>
        </li>
    </menu>
    <menu class="options__filters">
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}"><i
                        class="fa-solid fa-clock-rotate-left"></i> {{ 'filter_by_time'|trans }}</button>
            <ul class="dropdown__menu">
                <li><a href="#">{{ 'all'|trans|lower }}</a></li>
                <li><a href="#">{{ '3h'|trans|lower }}</a></li>
                <li><a href="#">{{ '6h'|trans|lower }}</a></li>
                <li><a href="#">{{ '12h'|trans|lower }}</a></li>
                {% if get_active_sort_option() is not same as 'sort.hot'|trans|lower %}
                    <li><a href="#">{{ '1d'|trans|lower }}</a></li>
                    <li><a href="#">{{ '1m'|trans|lower }}</a></li>
                    <li><a href="#">{{ '1y'|trans|lower }}</a></li>
                {% endif %}
            </ul>
        </li>
    </menu>
</aside>
