<aside class="options" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'top') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'top')}) }}">
                {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'hot')}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'newest')}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'active')}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'commented') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'commented')}) }}">
                {{ 'commented'|trans|lower }}
            </a>
        </li>
    </menu>
    <menu class="options__filters">
        <li class="dropdown">
            <button aria-label="{{ 'filter_by_time'|trans }}"
                    title="{{ 'filter_by_time'|trans }}"><i
                        class="fa-solid fa-clock-rotate-left"></i> {{ 'filter_by_time'|trans }}</button>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ options_url('time', '∞') }}"
                       class="{{ html_classes({'active': route_has_param('time', '∞') or not get_route_param('time')}) }}">
                        {{ '∞' }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '3h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '3h')}) }}">
                        {{ '3h'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '6h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '6h')}) }}">
                        {{ '6h'|trans|lower }}
                    </a>
                </li>
                <li>
                    <a href="{{ options_url('time', '12h') }}"
                       class="{{ html_classes({'active': route_has_param('time', '12h')}) }}">
                        {{ '12h'|trans|lower }}
                    </a>
                </li>
                {% if get_active_sort_option() is not same as 'hot'|trans|lower %}
                    <li>
                        <a href="{{ options_url('time', '1d') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1d')}) }}">
                            {{ '1d'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1w') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1w')}) }}">
                            {{ '1w'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1m') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1m')}) }}">
                            {{ '1m'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ options_url('time', '1y') }}"
                           class="{{ html_classes({'active': route_has_param('time', '1y')}) }}">
                            {{ '1y'|trans|lower }}
                        </a>
                    </li>
                {% endif %}
            </ul>
        </li>
    </menu>
</aside>
