{% block post %}
    {% from 'user/_macros.html.twig' import avatar %}
    {% from 'vote/_macros.html.twig' import vote %}
    {% from 'post/comment/_macros.html.twig' import comment %}

    <blockquote id="{{ post.id }}"
                class="kbin-post {{ extra_classes }} "
                data-controller="post report"
                data-post-id-value="{{ post.id }}"
                data-post-magazine-name-value="{{ post.magazine.name }}">
        <div class="kbin-post-header mb-2">
            {{ vote(post, {user: app.user, form_dest: 'post_vote', base_class: 'post', hide_downvote: true}) }}

            <div class="kbin-post-avatar">
                {{ avatar(post.user) }}
            </div>

            <aside class="kbin-post-meta">
                <ul class="kbin-post-meta-list list-inline m-0">
                    <li class="kbin-post-meta-date kbin-post-meta-list-item list-inline-item">
                        {% if not is_post_page() %}
                        <a href="{{ path('post_single', {'magazine_name': post.magazine.name, 'post_id': post.id}) }}">
                            {% endif %}
                            {% if post.isAdult %}<span class="badge bg-danger me-1">+18</span>{% endif %}
                            <small class="text-muted">dodany
                                <time>{{ post.createdAt|ago }}</time>
                            </small>
                            {% if not is_post_page() %}
                        </a>
                        {% endif %}
                    </li>

                    <li class="kbin-post-meta-user kbin-post-meta-list-item list-inline-item">
                        <small class="text-muted">przez
                            <a class="font-weight-bold" href="{{ path('user', {username: post.user.username}) }}">
                                {{ post.user.username }}
                            </a>
                        </small>
                    </li>

                    {% if not is_magazine_page() %}
                        <li class="kbin-comment-meta-magazine kbin-comment-meta-list-item list-inline-item">

                            <small class="text-muted">do <a class="font-weight-bold"
                                                            href="{{ path('front_magazine', {'name': post.magazine.name}) }}">/m/{{ post.magazine.name }}</a></small>
                        </li>
                    {% endif %}
                </ul>
            </aside>
        </div>
        <div class="kbin-post-main clearfix">
            <div class="kbin-post-content" data-controller="show-more" data-action="image:thumbSelected->show-more#expand"
                 data-action="image:thumbLoaded->show-more#checkHeight">
                {% if post.visibility is same as 'visible' %}
                    {{ post.body|markdown|raw }}
                    {% if post.image %}
                        <img data-controller="image"
                             data-image-loading-class="loading-cursor"
                             data-image-full-value="{{ uploaded_asset(post.image.filePath) }}"
                             data-image-thumb-value="{{ asset(post.image.filePath) | imagine_filter('post_thumb') }}"
                             data-action="click->image#toggle"
                             src="{{ asset(post.image.filePath) | imagine_filter('post_thumb') }}"
                             alt="{{ post.shortTitle }}">
                    {% endif %}
                {% elseif post.visibility is same as 'trashed' %}
                    <p class="text-muted">[Treść usunięta przez moderatora]</p>
                {% elseif post.visibility is same as 'soft_deleted' %}
                    <p class="text-muted">[Treść usunięta przez użytkownika]</p>
                {% endif %}
            </div>
            <aside class="kbin-post-meta">
                <ul class="kbin-post-meta-list  list-inline mb-0">
                    <li class="kbin-post-meta-list-item kbin-post-meta-list-item-links list-inline-item">
                        <small class="text-muted">
                            <a href="{{ path('post_single', {'magazine_name': post.magazine.name, 'post_id': post.id}) }}" data-action="post#reply">
                                odpowiedz
                            </a>
                        </small>
                    </li>

                    {% if post.commentCount > 2 and not is_post_page() %}
                        <li class="kbin-post-meta-list-item kbin-post-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a data-action="post#expandComments"
                                   href="{{ path('post_single', {'magazine_name': post.magazine.name, 'post_id': post.id}) }}">
                                    rozwiń ({{ post.commentCount }})
                                </a>
                            </small>
                        </li>
                    {% endif %}

                    <li class="kbin-post-meta-list-item kbin-post-meta-list-item-links list-inline-item">
                        <small class="text-muted"><a href="{{ path('post_report', {id: post.id}) }}"
                                                     class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert{% endif %}"
                                                     data-action="report#report">zgłoś</a></small>
                    </li>

                    {% if is_granted('edit', post) %}
                        <li class="kbin-post-meta-list-item kbin-post-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('post_edit', {'magazine_name': post.magazine.name, 'post_id': post.id}) }}">
                                    edytuj
                                </a>
                            </small>
                        </li>
                    {% endif %}

                    {% if is_granted('moderate', post.magazine) %}
                        <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="kbin-entry-meta-edit text-muted">
                                <a href="{{ path('magazine_panel_ban', {'magazine_name': post.magazine.name, 'user_username': post.user.username}) }}">zbanuj</a>
                            </small>
                        </li>
                    {% endif %}
                </ul>
            </aside>

            <div data-post-target="form" data-report-target="form" class=""></div>

        </div>
    </blockquote>

    {% block before_comments %}{% endblock %}
    {% if(show_all_comments) %}
        {% include 'post/comment/_list.html.twig' %}
    {% endif %}

    {% if(show_best_comments) %}
        {% include 'post/comment/_list.html.twig' with {comments: post.lastComments} %}
    {% endif %}
{% endblock post %}
