{% from '_layout/_macros.html.twig' import post_url %}
<div class="mb-5">
    {% if posts|length %}
        <h4 class="font-weight-bold kbin-logo-color mb-1 h6 text-uppercase">{{ 'related_posts'|trans }}</h4>
        <div class="hr mb-3"></div>
    {% endif %}

    {% for post in posts %}
        <div class="card mb-3">
            {% if post.image %}
                <a href="{{ post_url(post) }}">
                    <div style="height:100px; background: url({{ asset(post.image.filePath) |imagine_filter('post_thumb') }}) center; background-size:cover;">
                    </div>
                </a>
            {% endif %}
            <div class="card-body">
                <a href="{{ post_url(post) }}" class="small">
                    <small class="card-title small">
                        {{ post.shortTitle(250) }}
                    </small>
                </a>
            </div>
            <div class="card-footer text-end">
                <div class="small">{{ component('magazine_inline', { magazine: post.magazine }) }}</div>
                <div class="text-muted small"><small>{{ post.createdAt|ago }}</small></div>
            </div>
        </div>
    {% endfor %}
</div>
