{% from 'user/_macros.html.twig' import avatar %}
{% from 'user/_macros.html.twig' import user %}

<div class="kbin-post card mb-5 shadow-lg bg-white rounded">
    <div class="kbin-post-info card-body">
        <div class="kbin-post-info-user clearfix text-center">
            {% if post.user.avatar %}
                {{ avatar(post.user) }}
            {% endif %}
            <div>
                <h5 class="card-title font-weight-bold py-2">
                    <a class="text-reset link-to-title" href="{{ path('user', {username: post.user.username }) }}">{{ post.user.username }}</a>
                </h5>
                {% include 'user/_follow_button.html.twig' with { 'user': post.user } %}
            </div>
        </div>

        <div class="mt-3">
            <ul class="list-unstyled clearfix text-center text-lg-start">
                <li>
                    <span class="text-muted small">{{ 'added'|trans }}:</span> {{ post.createdAt|ago }}
                </li>
                <li>
                    <span class="text-muted small">{{ 'upvotes'|trans }}:</span> {{ post.countUpvotes }}
                </li>
            </ul>
        </div>

        <div class="input-group input-group-sm"
             data-controller="clipboard"
             data-clipboard-success-content="Skopiowano!">
            <input type="text"
                   class="form-control"
                   aria-label="Skopiuj link"
                   aria-describedby="copyUrl"
                   data-clipboard-target="source"
                   value="{{ app.request.uri }}">
            <button class="input-group-text" id="copyUrl" data-action="clipboard#copy" data-clipboard-target="button">{{ 'copy'|trans }}</button>
        </div>
    </div>
</div>
