{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'add_new_post'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-create{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    {% include 'layout/_flash.html.twig' %}
    <section id="content" class="section section--top">
        {% include 'post/_form_post.html.twig' %}
    </section>
{% endblock %}
