{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'edit'|trans }} - {{ get_short_sentence(post.body, 80) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-post-edit{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    <div id="content">
        {{ component('post', {
            post: post,
            isSingle: true
        }) }}
        {% include 'layout/_flash.html.twig' %}
        <div class="alert alert__info">
            <p>{{ 'browsing_one_thread'|trans }}</p>
            <p><a href="{{ post_url(post) }}"><i class="fa-solid fa-arrow-left"></i> {{ 'return'|trans }}</a></p>
        </div>
        <section class="section">
            {% include 'post/_form_post.html.twig' with {edit: true} %}
        </section>
    </div>
{% endblock %}
