{% extends 'base.html.twig' %}

{% block title %}
    {{ is_sub_page() ?
    'topbar.subscriptions'|trans : is_mod_page()
    ? 'topbar.moderated'|trans: is_magazine_page()
    ? magazine.title: kbin_title }}
{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper">
                {% include '_layout/_filters.html.twig' %}

                {% if magazine is defined and is_granted('create_content', magazine) %}
                    {{ render(controller('App\\Controller\\Post\\PostFormController', {
                        'magazineName': magazine.name,
                    })) }}
                {% elseif magazine is defined %}
                    <div class="alert alert-secondary text-muted my-3" role="alert">
                        {% if not app.user %}
                            {{ 'login_to_post'|trans({'%link_start%' : '<a class="font-weight-bold" href="'~path('app_login')~'">', '%link_end%' : '</a>'}) | raw }}
                        {% else %}
                            {{ 'cannot_add_post'|trans }}
                        {% endif %}
                    </div>
                {% endif %}

                {% include 'post/_list.html.twig' %}
            </section>
        </div>
    {% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% if is_magazine_page() %}
        {% include 'magazine/_sidebar.html.twig' %}
    {% endif %}
{% endblock %}
