{% extends 'base.html.twig' %}

{%- block title -%}
    {%- if magazine is defined and magazine -%}
        {% if get_active_sort_option('sortBy') is not same as 'hot' %}
            {{- magazine.title }} - {{ get_active_sort_option('sortBy')|trans|capitalize }} - {{ 'microblog'|trans }} - {{ parent() -}}
        {% else %}
            {{- magazine.title }} - {{ 'microblog'|trans }} - {{ parent() -}}
        {% endif %}
    {%- else -%}
        {% if get_active_sort_option('sortBy') is not same as 'hot' %}
            {{- get_active_sort_option('sortBy')|trans|capitalize }} - {{ 'microblog'|trans }} - {{ parent() }}
        {% else %}
            {{- 'microblog'|trans }} - {{ parent() -}}
        {% endif %}
    {%- endif -%}
{%- endblock -%}

{% block mainClass %}page-post-front{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    <section class="section section--top">
        {% include 'post/_form_post.html.twig' %}
    </section>
    {% include 'post/_options.html.twig' %}
    {% if magazine is defined and magazine %}
        {% if magazine.apId %}
            <div class="alert alert__info">
                <p>{{ 'federated_magazine_info'|trans }} <a
                            href="{{ magazine.apProfileId }}">{{ 'go_to_original_instance'|trans }}</a></p>
            </div>
        {% endif %}
    {% endif %}
    <div id="content"
         data-controller="subject-list"
         data-action="notifications:Notification@window->subject-list#notification">
        {% include 'post/_list.html.twig' %}
    </div>
{% endblock %}
