{% extends 'base.html.twig' %}

{%- block title -%}
    {{- get_short_sentence(post.body, 80) }} - {{ magazine.title }} - {{ parent() -}}
{%- endblock -%}

{% block description %}{% endblock %}

{% block image %}
    {%- if post.image -%}
        {{- uploaded_asset(post.image.filePath) -}}
    {%- elseif post.magazine.icon -%}
        {{- uploaded_asset(post.magazine.icon.filePath) -}}
    {%- else -%}
        {{- parent() -}}
    {%- endif -%}
{% endblock %}

{% block mainClass %}page-post-single{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content" class="{{ html_classes({
        'show-comment-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')),
        'show-post-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS'))
    }) }}">
        {{ component('post', {
            post: post,
            isSingle: true,
            dateAsUrl: false,
            class: 'section--top'
        }) }}
        {% include 'post/comment/_options.html.twig' %}
        {% include 'layout/_flash.html.twig' %}

        {% if(user_settings.comment_reply_position == constant('App\\Controller\\User\\ThemeSettingsController::TOP')) %}
            <section id="comment-add" class="section">
                {% include 'post/comment/_form_comment.html.twig' %}
            </section>
        {% endif %}

        {% include 'post/comment/_list.html.twig' %}

        {% if(user_settings.comment_reply_position == constant('App\\Controller\\User\\ThemeSettingsController::BOTTOM')) %}
            <section id="comment-add" class="section">
                {% include 'post/comment/_form_comment.html.twig' %}
            </section>
        {% endif %}

        {% include 'post/_options_activity.html.twig' %}
    </div>
{% endblock %}
