{% extends 'base.html.twig' %}
{% from 'post/_macros.html.twig' import post %}
{% from 'post/comment/_macros.html.twig' import comment %}
{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ post.body|slice(0, 35) ~ '...' }} | Wpisy | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper mt-4">
                <div class="mt-2">
                    {# {% include 'entry/comment/_filters.html.twig' %} #}
                </div>
                <div class="kbin-comment-list">
                    {{ post(post, {
                        post: post,
                        self: app.user,
                        extra_classes: 'kbin-post-list-item',
                        title_tag: 'h4'
                    }) }}

                    {% block before_comments %}
                        {% if is_granted('comment', post) %}
                            <div class="ps-sm-5">
                                {{ render(controller('App\\Controller\\PostCommentController::commentForm', {
                                    'magazineName': magazine.name,
                                    'postId': post.id,
                                })) }}
                            </div>
                        {% else %}
                            <div class="alert alert-secondary text-muted my-3" role="alert">
                                {% if not app.user %}
                                    <a href="{{ path('app_login') }}" class="font-weight-bold">Zaloguj się</a> aby dodać komentarz.
                                {% else %}
                                    Nie możesz dodać komentarza.
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endblock %}

                    {% if comments|length %}
                        {% for comment in comments %}
                            {{ comment(comment) }}
                        {% endfor %}
                    {% else %}
                        {{ not_found() }}
                    {% endif %}
                </div>
            </section>
        </div>
    {% endblock %}

{% block sidebar %}
    {% include 'post/_sidebar.html.twig' %}

    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
