{% extends 'base.html.twig' %}
{% from 'post/_macros.html.twig' import post %}
{% from 'post/comment/_macros.html.twig' import comment %}

{% block title %}{{ post.body|slice(0, 35) ~ '...' }} | Wpisy | {{ parent() }}{% endblock %}

    {% block body %}
        <div class="kbin-posts-page">
            <section class="kbin-post-wrapper kbin-comment-wrapper mt-4">
                <div class="mt-2">
                    {# {% include 'entry/comment/_filters.html.twig' %} #}
                </div>
                <div class="kbin-post-list">
                    {{ post(post, {
                        post: post,
                        self: app.user,
                        extra_classes: 'kbin-post-list-item',
                        title_tag: 'h4'
                    }) }}
                    {% block before_comments %}{% endblock %}
                    {% for comment in comments %}
                        {{ comment(comment) }}
                    {% endfor %}
                </div>
            </section>
            {{ render(controller('App\\Controller\\PostCommentController::commentForm', {
                'magazineName': magazine.name,
                'postId': post.id,
            })) }}
        </div>
    {% endblock %}

{% block sidebar %}
    {% include 'post/_sidebar.html.twig' %}

    {{ parent() }}

    {% include 'magazine/_sidebar.html.twig' %}
{% endblock %}
