<ul class="nav nav-pills mb-1 small kbin-nav">
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('tag_overall') ? 'active' : '' }}" aria-current="page"
           href="{{ path('tag_overall', {name: tag}) }}">{{ 'overview'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('tag_front') ? 'active' : '' }}" aria-current="page"
           href="{{ get_active_sort_option_path('sort.hot'|trans|lower) }}">{{ 'threads'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('tag_entry_comments_front') ? 'active' : '' }}" aria-current="page"
           href="{{ get_active_comments_page_path() }}">{{ 'comments'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('tag_posts_front') ? 'active' : '' }}" aria-current="page"
           href="{{ get_active_posts_page_path() }}">{{ 'microblog'|trans }}</a>
    </li>
</ul>