{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{%- block title -%}#{{- tag -}}{%- endblock -%}

{% block body %}
    {{ component('title', {title: tag, url: path('tag_overall', {name: tag|trim('#')})}) }}
    {% include 'tag/_nav.html.twig' %}

    <div class="kbin-user-front-page kbin-entry-list kbin-comment-wrapper kbin-post-wrapper">
        {% if results|length %}
            {% for subject in results %}
                {% include '_layout/_subject.html.twig' with {subject: subject} %}
            {% endfor %}
        {% else %}
            {{ not_found() }}
        {% endif %}

        {% if(results.haveToPaginate) %}
            {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'tag/_sidebar.html.twig' %}

    <div class="mb-5">
        {{ component('related_entries_sidebar', {tag: tag, type: 'magazine'}) }}
        {{ component('related_posts_sidebar', {tag: tag, type: 'magazine'}) }}
    </div>
{% endblock %}
