<div class="settings-row" data-controller="settings-row-enum">
    <span class="label" id="settings-row-label-{{ settingsKey }}">{{ label }}</span>
    <span class="help" id="settings-row-help-{{ settingsKey }}">{{ help }}</span>
    <div class="value-container">
        <div class="enum" role="radiogroup" aria-labelledby="settings-row-label-{{ settingsKey }}"
             aria-describedby="settings-row-help-{{ settingsKey }}">
            {% for value in values %}
                <label class="value">
                    <input type="radio"
                           name="{{ settingsKey }}"
                           value="{{ value.value }}"
                            {{ (app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey)) is same as constant('App\\Controller\\User\\ThemeSettingsController::' ~ value.value) or (defaultValue and constant('App\\Controller\\User\\ThemeSettingsController::' ~ defaultValue) is same as constant('App\\Controller\\User\\ThemeSettingsController::' ~ value.value) and not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey)))) ? 'checked' : '' }}
                           data-action="change->settings-row-enum#change"
                           data-settings-row-enum-action-path-param="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey), value: constant('App\\Controller\\User\\ThemeSettingsController::' ~ value.value)}) }}"
                           data-settings-row-enum-reload-required-param="{{ reloadRequired }}"
                    />
                    <span>{{ value.name }}</span>
                </label>
            {% endfor %}
        </div>
    </div>
</div>