<div class="settings-row" data-controller="settings-row-switch">
    <span class="title">{{ title }}</span>
    <span class="description">{{ description }}</span>
    <div class="value-container">
        <label class="switch">
            <input type="checkbox"
                    {{ (app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey)) is same as 'true' or (defaultValue and not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey)))) ? 'checked' : '' }}
                   data-action="change->settings-row-switch#toggle"
                   data-settings-row-switch-true-path-param="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey), value: 'true'}) }}"
                   data-settings-row-switch-false-path-param="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::' ~ settingsKey), value: 'false'}) }}"
            />
            <span class="slider"></span>
        </label>
    </div>
</div>