<div class="settings-row" data-controller="settings-row-switch">
    <span class="label" id="settings-row-label-{{ settingsKey }}">{{ label }}</span>
    <span class="help" id="settings-row-help-{{ settingsKey }}">{{ help }}</span>
    <div class="value-container">
        <label class="switch" role="switch">
            <input type="checkbox"
                   aria-labelledby="settings-row-label-{{ settingsKey }}"
                   aria-describedby="settings-row-label-{{ settingsKey }}"
                    {{ app.user and (attribute(app.user, constant('App\\Controller\\User\\UserSettingsController::' ~ settingsKey)) is same as true) ? 'checked' : '' }}
                   data-action="change->settings-row-switch#toggle"
                   data-settings-row-switch-true-path-param="{{ path('user_settings', {key: constant('App\\Controller\\User\\UserSettingsController::' ~ settingsKey), value: 'true'}) }}"
                   data-settings-row-switch-false-path-param="{{ path('user_settings', {key: constant('App\\Controller\\User\\UserSettingsController::' ~ settingsKey), value: 'false'}) }}"
                   data-settings-row-switch-reload-required-param="{{ reloadRequired }}"
            />
            <span class="slider"></span>
        </label>
    </div>
</div>