{% from 'user/_macros.html.twig' import user %}
{% from '_layout/_macros.html.twig' import entry_url %}

<article id="{{ this.entry.id }}"
         class="kbin-entry {{ this.extraClass }} {{ this.entry.image ? 'kbin-has-image' : '' }}"
         data-controller="embed report comment-counter"
         data-action="notify:EntryCommentCreatedNotification@window->comment-counter#increase"
         data-comment-counter-subject-id-value="{{ this.entry.id }}"
         data-embed-url-value="{{ this.entry.url }}"
         data-embed-type-value="{{ this.entry.type }}"
         data-embed-image-value="{{ this.entry.image ? this.entry.image.filePath : '' }}"
         data-embed-is-visible-value="false"
         data-embed-hidden-class="display-none"
         data-embed-loading-class="spinner-border"
         data-embed-embed-class="fa-photo-video">
    {{ component('vote', { votable: this.entry, notificationType: 'Entry', formDest: 'entry_vote', baseClass: 'entry' }) }}
    <section class="clearfix">
        {% if this.entry.image and this.entry.visibility is same as 'visible' %}
            {% if is_entry_page() and this.directUrl %}
                <div class="kbin-entry-image">
                    <a href="{{- this.entry.type is same as 'image' or this.entry.type is same as 'article' ? '/media/'~asset(this.entry.image.filePath) : this.entry.url -}}">
                        <img width="200" class="lazy" src="{{ asset(this.entry.image.filePath) |imagine_filter('entry_thumb') }}"
                             alt="{{ this.entry.title }}"/>
                    </a>
                </div>
            {% else %}
                <div class="kbin-entry-image">
                    <a href="{{- entry_url(this.entry) -}}">
                        <img width="200" class="lazy" src="{{ asset(this.entry.image.filePath) |imagine_filter('entry_thumb') }}"
                             alt="{{ this.entry.title }}"/>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        <div class="kbin-entry-main">
            {% if this.entry.visibility is same as 'visible' %}
                {% include 'entry/_entry_title.html.twig' with {entry: this.entry, title_tag: this.titleTag, direct_url: this.directUrl} %}
            {% elseif this.entry.visibility is same as 'trashed' %}
                <p class="text-muted">[{{ 'removed'|trans }}]</p>
            {% elseif this.entry.visibility is same as 'soft_deleted' %}
                <p class="text-muted">[{{ 'deleted'|trans }}]</p>
            {% endif %}
            <aside class="kbin-entry-meta">
                <ul class="kbin-entry-meta-list list-inline mb-0">
                    <li class="kbin-entry-meta-date kbin-entry-meta-list-item list-inline-item">
                        <small class="text-muted">{{ 'posted'|trans }}
                            <time data-controller="timeago"
                                  data-timeago-refresh-interval-value="10000"
                                  data-timeago-datetime-value="{{ this.entry.createdAt|date('c') }}">{{ this.entry.createdAt|ago }}</time>
                        </small>
                    </li>

                    {% if not is_user_page() %}
                        <li class="kbin-entry-meta-user kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">{{ 'by'|trans }} {{ user(this.entry.user, {prefix: false}) }}</small>
                        </li>
                    {% endif %}

                    {% if this.showMagazine %}
                        <li class="kbin-entry-meta-magazine kbin-entry-meta-list-item list-inline-item">
                            <small class="text-muted">{{ 'to'|trans }}</small> {{ component('magazine_inline', { magazine: this.entry.magazine }) }}
                        </li>
                    {% endif %}
                </ul>

                <ul class="kbin-entry-meta-list list-inline mb-0 float-start">
                    {% if this.entry.sticky %}
                        <li class="kbin-entry-meta-sticky kbin-entry-meta-list-item list-inline-item">
                            <i class="kbin-sticky fas fa-thumbtack text-muted me-1"></i>
                        </li>
                    {% endif %}

                    {% if this.entry.hasEmbed %}
                        <li class="kbin-entry-meta-embed kbin-entry-meta-list-item list-inline-item" data-action="click->embed#fetch">
                            <i class="kbin-preview fas fa-photo-video text-muted me-1" data-embed-target="embed"></i>
                        </li>
                    {% endif %}

                    {% if this.entry.type is same as 'article' %}
                        <li class="kbin-entry-meta-article kbin-entry-meta-list-item list-inline-item">
                            <i class="kbin-preview fas fa-newspaper text-muted me-1"></i>
                        </li>
                    {% endif %}

                    <li class="kbin-entry-meta-entry kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                        <small class="text-muted">
                            <a href="{{ entry_url(this.entry) }}">
                                <span data-comment-counter-target="lenght">{{ this.entry.commentCount }}</span> {{ 'comments_count'|trans({'%count%': this.entry.commentCount}) }}
                            </a>
                        </small>
                    </li>

                    <li class="kbin-entry-meta-report kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                        <small class="text-muted">
                            <a href="{{ path('entry_report', {id: this.entry.id}) }}" data-action="report#report">{{ 'report'|trans }}</a>
                        </small>
                    </li>

                    <li class="kbin-entry-meta-report kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                        <a href="{{ path('entry_tips', { magazine_name: this.entry.magazine.name, entry_id: this.entry.id }) }}"
                           data-action="tips#ada">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36.993 44">
                                <path
                                        d="M36.991 26.538c-.053-1.006-.952-1.773-1.984-1.773h-5.61l-1.534-3.89h3.466c1.005 0 1.931-.74 1.984-1.772a1.838 1.838 0 0 0-1.825-1.932h-5.08l-6.35-16.007A1.848 1.848 0 0 0 18.338 0c-.74 0-1.429.476-1.72 1.164l-6.085 15.981H5.559c-1.006 0-1.932.74-1.985 1.773A1.838 1.838 0 0 0 5.4 20.849h3.625l-1.482 3.863H1.987c-1.006 0-1.932.74-1.985 1.773a1.838 1.838 0 0 0 1.826 1.931h4.26L1.114 41.328a1.866 1.866 0 0 0 1.058 2.408c.212.105.423.105.635.105.74 0 1.429-.423 1.72-1.164l5.503-14.234h16.748l5.715 14.393c.265.74.953 1.164 1.72 1.164.212 0 .476-.053.688-.106.952-.37 1.376-1.428 1.005-2.407L30.72 28.469h4.207c1.244-.026 2.117-.873 2.064-1.931zM18.417 7.01l3.996 10.134h-7.885l3.89-10.134c-.054 0 0 0 0 0zm-6.879 17.754l1.482-3.89h10.768l1.535 3.89z"></path>
                            </svg>
                            {# <small style="font-weight: lighter" class="font-weight-lighter">1.43</small> #}
                        </a>
                    </li>

                    {% if is_granted('edit', this.entry) %}
                        <li class="kbin-entry-meta-edit kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <small class="kbin-entry-meta-edit text-muted">
                                <a href="{{ path('entry_edit', {'magazine_name': this.entry.magazine.name, 'entry_id': this.entry.id}) }}">{{ 'edit'|trans }}</a>
                            </small>
                        </li>
                    {% endif %}

                    {% if app.user and this.entry.isAuthor(app.user) %}
                        <li class="kbin-entry-meta-delete kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                            <form method="post"
                                  action="{{ path('entry_delete', {
                                      magazine_name: this.entry.magazine.name,
                                      entry_id: this.entry.id,
                                  }) }}"
                                  onsubmit="return confirm('You sure?');">
                                <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
                                <button type="submit" class="btn btn-link">
                                    <span>{{ 'delete'|trans }}</span>
                                </button>
                            </form>
                        </li>
                    {% endif %}
                </ul>

                <section data-controller="reveal" data-reveal-hidden-class="visually-hidden">
                    {% if is_granted('moderate', this.entry.magazine) %}
                        <ul class="kbin-entry-meta-list list-inline mb-0">
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted {{ not kbin_js_enabled or is_magazine_panel_page() ? 'visually-hidden' : '' }}">
                                    <button type="submit" class="btn btn-link" data-action="click->reveal#toggle">
                                        {{ 'moderate'|trans }}
                                    </button>
                                </small>
                            </li>
                        </ul>
                    {% endif %}
                    <ul class="kbin-entry-meta-list list-inline mb-0 {{ not kbin_js_enabled or is_magazine_panel_page() ? '' : 'visually-hidden' }}"
                        data-reveal-target="item">
                        {% if is_granted('moderate', this.entry.magazine) %}
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted">
                                    <a href="{{ path('magazine_panel_ban', {'magazine_name': this.entry.magazine.name, 'user_username': this.entry.user.username}) }}">{{ 'ban'|trans }}</a>
                                </small>
                            </li>

                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <form action="{{ path('entry_pin', {'magazine_name': this.entry.magazine.name, 'entry_id': this.entry.id}) }}"
                                      method="POST">
                                    <input type="hidden" name="token" value="{{ csrf_token('entry_pin') }}">
                                    <button type="submit" class="btn btn-link">
                                        <span>{{ this.entry.sticky ? 'unpin'|trans : 'pin'|trans }}</span>
                                    </button>
                                </form>
                            </li>

                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <form method="post"
                                      action="{{ path('entry_delete', {
                                          magazine_name: this.entry.magazine.name,
                                          entry_id: this.entry.id,
                                      }) }}"
                                      onsubmit="return confirm('You sure?');">
                                    <input type="hidden" name="token" value="{{ csrf_token('entry_delete') }}">
                                    <button type="submit" class="btn btn-link">
                                        <span>{{ 'delete'|trans }}</span>
                                    </button>
                                </form>
                            </li>

                            {% if is_granted('purge', this.entry) %}
                                <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                    <form method="post"
                                          action="{{ path('entry_purge', {
                                              magazine_name: this.entry.magazine.name,
                                              entry_id: this.entry.id,
                                          }) }}"
                                          onsubmit="return confirm('You sure?');">
                                        <input type="hidden" name="token" value="{{ csrf_token('entry_purge') }}">
                                        <button type="submit" class="btn btn-link">
                                            <span>{{ 'purge'|trans }}</span>
                                        </button>
                                    </form>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </section>
            </aside>
            <div class="clearfix"></div>
            <div data-report-target="form"></div>
        </div>
    </section>

    {% if(this.entry.body and this.showContent) %}
        <article class="kbin-entry-content mt-3 mt-sm-5">
            {{ this.entry.body|markdown|raw }}
        </article>
    {% endif %}

    {% if this.entry.hasEmbed %}
        <button type="button" class="btn-close mt-3 display-none" data-embed-target="close" aria-label="Zamknij"
                data-action="embed#close"></button>
        <div class="kbin-embed">
            <div class="{{ this.entry.type is same as 'image' ? '' : 'ratio ratio-16x9' }} mt-4 display-none" data-embed-target="container">
            </div>
        </div>
    {% endif %}
</article>
