<blockquote{{ attributes.defaults({class: 'section comment entry-comment ' ~ 'comment-level--' ~ this.getLevel()}).without('id') }}
        id="entry-comment-{{ comment.id }}">
    <header>
        {{ component('user_inline', {user: comment.user, hideAvatar: true}) }},
        {{ component('date', {date: comment.createdAt}) }}
        {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: comment.magazine}) }}{% endif %}
        {% if showEntryTitle %}{{ 'in'|trans }} {{ component('entry_inline', {entry: comment.entry}) }}{% endif %}
    </header>
    {% if comment.user.avatar %}
        <a href="{{ path('user_overview', {username: comment.user.username}) }}" aria-hidden="true">
            {{ component('user_avatar', {user: comment.user, width: 40, height: 40}) }}
        </a>
    {% endif %}
    <div class="content">
        {{ comment.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: comment}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ entry_comment_create_url(comment) }}">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form>
                    <button class="stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if comment.entry.favouriteCount %}({{ comment.entry.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li class="dropdown">
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
                <ul class="dropdown__menu">
                    <li><a class="active" href="#">{{ 'classic_view'|trans|lower }}</a></li>
                    <li><a href="#">{{ 'chat_view'|trans|lower }}</a></li>
                    <li><a href="#">{{ 'tree_view'|trans|lower }}</a></li>
                </ul>
            </li>
        </menu>
    </footer>
</blockquote>
{% if showNested %}
    {{ component('entry_comments_nested', {comment: comment, level: level, showNested: true}) }}
{% endif %}