<article{{ attributes.defaults({class: 'kbin-entry'}).without('id') }} id="entry-{{ this.entry.id }}">
    <header>
        {% if this.isSingle %}
            <h1>
                {% if entry.url %}
                    <a href="{{ this.entry.url }}">{{ this.entry.title }}</a>
                    {% if entry.domain %}
                        <span class="kbin-entry__domain">
                            (<a href="{{ this.entry.domain.name }}">{{ this.entry.domain.name }}</a>)
                        </span>
                    {% endif %}
                {% else %}
                    {{ this.entry.title }}
                {% endif %}
            </h1>
        {% else %}
            <h2>
                <a href="{{ entry_url(this.entry) }}">{{ this.entry.title }}</a>
                {% if entry.domain %}
                    <span class="kbin-entry__domain">
                        (<a href="{{ path('domain_front', {
                            'name': this.entry.domain.name
                        }) }}">{{ this.entry.domain.name }}</a>)
                    </span>
                {% endif %}
            </h2>
        {% endif %}

        {% if this.entry.body and this.showShortSentence %}
            <p>{{ get_short_sentence(this.entry.body) }}</p>
        {% endif %}
    </header>
    {% if this.entry.body and this.showBody %}
        <div class="kbin-entry__body">
            {{ this.entry.body|markdown|raw }}
        </div>
    {% endif %}
    <aside class="kbin-entry__meta">
        <span>{{ component('user_inline', {user: this.entry.user}) }}, {{ component('date', {date: this.entry.createdAt}) }} {{ 'to'|trans }} {{ component('magazine_inline', {magazine: this.entry.magazine}) }}
    </aside>
    <figure>
        <a href="{{ entry_url(this.entry) }}">
            {% if this.entry.image %}
                <img width="220" height="140"
                     src="{{ asset(this.entry.image.filePath) |imagine_filter('entry_thumb') }}"
                     alt="{{ this.entry.image.altText ?? this.entry.title }}">
            {% else %}
                <img width="230" height="140"
                     src="{{ asset('build/images/entry_placeholder.png') }}"
                     alt="{{ this.entry.title }}">
            {% endif %}
        </a>
    </figure>
    {{ component('vote', {subject: this.entry, formDest: 'entry_vote'}) }}
    <footer>
        <menu>
            <li><a href="{{ entry_url(this.entry) }}">{{ this.entry.commentCount }} {{ 'comments_count'|trans({'%count%': this.entry.commentCount}) }}</a></li>
            <li><a href="#">{{ 'favourite'|trans|lower }}</a></li>
            <li><a href="#">{{ 'more'|trans|lower }}</a></li>
        </menu>
    </footer>
</article>

