<blockquote{{ attributes.defaults({class: 'kbin-section kbin-comment'}) }}>
    <header>
        {{ component('user_inline', {user: comment.user}) }},
        {{ component('date', {date: comment.createdAt}) }}
        {% if showMagazine %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: comment.magazine}) }}{% endif %}
        {% if showEntry %}{{ 'in'|trans }} {{ component('entry_inline', {entry: comment.entry}) }}{% endif %}
    </header>
    {% if comment.user.avatar %}
        {{ component('user_avatar', {user: comment.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="kbin-content">
        {{ comment.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: comment}) }}
    <footer>
        <menu>
            <li>
                <a class="kbin-stretched-link"
                   href="{{ entry_comment_create_url(comment) }}">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form>
                    <button class="kbin-stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if comment.entry.favouriteCount %}({{ comment.entry.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li>
                <button class="kbin-stretched-link">{{ 'more'|trans|lower }}</button>
            </li>
        </menu>
    </footer>
</blockquote>
