{% if not app.user or (app.user and not app.user.isBlocked(comment.user)) %}
    {% if comment.visibility is same as 'private' and (not app.user or not app.user.isFollower(comment.user)) %}
        <div class="section section--small {{ 'comment-level--' ~ this.getLevel() }}"
             style="z-index:3; position:relative;margin-bottom:0;">
            Private
        </div>
    {% else %}
        <blockquote{{ attributes.defaults({
            class: html_classes('section comment entry-comment subject ' ~ 'comment-level--' ~ this.getLevel(),{
                'own': app.user and comment.isAuthor(app.user),
                'author': comment.isAuthor(comment.entry.user),
                'show-preview': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_ENTRIES_SHOW_PREVIEW')) is same as 'true',
            })}).without('id') }}
                id="entry-comment-{{ comment.id }}"
                data-controller="comment subject mentions"
                data-subject-parent-value="{{ comment.parent ? comment.parent.id : '' }}"
                data-action="{{- app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_DYNAMIC_LISTS')) is same as 'true' ? 'notifications:Notification@window->subject#notification' : '' -}}">
            <header>
                {% if comment.isAdult %}<span class="badge danger">18+</span>{% endif %}
                {{ component('user_inline', {user: comment.user, showAvatar: false}) }},
                {% if dateAsUrl %}
                    <a href="{{ entry_url(comment.entry) }}#{{ get_url_fragment(comment) }}"
                       class="link-muted">{{ component('date', {date: comment.createdAt}) }}</a>
                {% else %}
                    {{ component('date', {date: comment.createdAt}) }}
                {% endif %}
                {{ component('date_edited', {createdAt: comment.createdAt, editedAt: comment.editedAt}) }}
                {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: comment.magazine}) }}{% endif %}
                {% if showEntryTitle %}{{ 'in'|trans }} {{ component('entry_inline', {entry: comment.entry}) }}{% endif %}
                {% if comment.lang is not same as app.request.locale and comment.lang is not same as kbin_default_lang() %}
                    <small hidden class="badge-lang">{{ comment.lang|language_name }}</small>
                {% endif %}
            </header>

            {{ component('user_avatar', {
                user: comment.user,
                width: 40,
                height: 40,
                asLink: true
            }) }}

            <div class="content">
                {% if comment.visibility in ['visible', 'private'] or (comment.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    {{ comment.body|markdown|raw }}
                {% elseif(comment.visibility is same as 'trashed') %}
                    <p class="text-muted">{{ 'deleted_by_moderator' }}</p>
                {% elseif(comment.visibility is same as 'soft_deleted') %}
                    <p class="text-muted">{{ 'deleted_by_author' }}</p>
                {% endif %}
            </div>
            {% if comment.visibility in ['visible', 'private'] %}
                {{ component('vote', {subject: comment}) }}
            {% endif %}
            <footer>
                {% if (comment.visibility in ['visible', 'private'] or comment.visibility is same as 'trashed' and this.canSeeTrashed) and comment.image %}
                    <figure>
                        <a href="{{ uploaded_asset(comment.image.filePath) }}"
                           class="thumb">
                            <img class="thumb-subject"
                                 src="{{ asset(comment.image.filePath) |imagine_filter('post_thumb') }}"
                                 alt="{{ comment.image.altText }}">
                        </a>
                    </figure>
                {% endif %}
                {% if comment.visibility in ['visible', 'private'] %}
                    <menu>
                        <li>
                            <a class="stretched-link"
                               href="{{ entry_comment_create_url(comment) }}#add-comment"
                               data-action="subject#getForm">{{ 'reply'|trans|lower }}</a>
                        </li>
                        <li>
                            {{ component('boost', {subject: comment}) }}
                        </li>
                       {% include 'entry/comment/_menu.html.twig' %}
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% elseif(comment.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    <menu>
                        <li>
                            <form method="post"
                                  action="{{ path('entry_comment_restore', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) }}"
                                  onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                <input type="hidden" name="token" value="{{ csrf_token('entry_comment_restore') }}">
                                <button type="submit">{{ 'restore'|trans|lower }}</button>
                            </form>
                        </li>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% else %}
                    <menu>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% endif %}
                <div data-subject-target="container" class="js-container">
                </div>
            </footer>
        </blockquote>
    {% endif %}
    {% if showNested %}
        {{ component('entry_comments_nested', {
            comment: comment,
            level: level,
            showNested: true,
            view: app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW'), 'tree')
        }) }}
    {% endif %}
{% endif %}