<article{{ attributes.defaults({class: 'entry section'}).without('id') }}
        id="entry-{{ entry.id }}">
    <header>
        {% if isSingle %}
            <h1>
                {% if entry.url %}
                    <a rel="{{ get_rel(entry.url) }}"
                       href="{{ entry.url }}">{{ entry.title }}</a>
                    {% if entry.domain %}
                        <span class="entry__domain">
                            (<a href="{{ path('domain_entries', {name: entry.domain.name}) }}">{{ entry.domain.name }}</a>)
                        </span>
                    {% endif %}
                {% else %}
                    {{ entry.title }}
                {% endif %}
            </h1>
        {% else %}
            <h2>
                <a href="{{ entry_url(entry) }}">{{ entry.title }}</a>
                {% if entry.domain %}
                    <span class="entry__domain">
                        (<a href="{{ path('domain_entries', {
                            name: entry.domain.name
                        }) }}">{{ entry.domain.name }}</a>)
                    </span>
                {% endif %}
            </h2>
        {% endif %}

        {% if entry.body and showShortSentence %}
            <div class="content">
                <p>{{ get_short_sentence(entry.body) }}</p>
            </div>
        {% endif %}
    </header>
    {% if entry.body and showBody %}
        <div class="content entry__body">
            {{ entry.body|markdown|raw }}
        </div>
    {% endif %}
    <aside class="meta entry__meta">
        <div>{{ component('user_inline', {user: entry.user}) }}, {{ component('date', {date: entry.createdAt}) }} {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: entry.magazine}) }}{% endif %}</div>
    </aside>
    <figure>
        <a href="{{ entry_url(entry) }}">
            {% if entry.image %}
                <img width="210" height="120"
                     src="{{ asset(entry.image.filePath) |imagine_filter('entry_thumb') }}"
                     alt="{{ entry.image.altText ?? entry.title }}">
            {% else %}
                <img width="210" height="120"
                     src="{{ asset('build/images/entry_placeholder.png') }}"
                     alt="{{ entry.title }}">
            {% endif %}
        </a>
    </figure>
    {{ component('vote', {subject: entry, formDest: 'entry_vote'}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ entry_url(entry) ~ '#comments' }}">{{ entry.commentCount }} {{ 'comments_count'|trans({'%count%': entry.commentCount}) }}</a>
            </li>
            <li>
                <form>
                    <button class="stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if entry.favouriteCount %}({{ entry.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li>
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
            </li>
        </menu>
    </footer>
</article>

