<form method="post"
      action="{{ path(path, {id: subject.id}) }}">
    <input type="hidden" name="token" value="{{ csrf_token('favourite') }}">
    <button class="{{ html_classes('stretched-link', {'active': app.user and subject.isFavored(app.user) }) }}"
            type="submit"
            data-action="subject#favourite">
        {{ 'favourites'|trans|lower }} {% if subject.favouriteCount %}({{ subject.favouriteCount }}){% endif %}
    </button>
</form>