{% set hasCover = this.magazine.cover and (not app.user or not app.user.hideMagazineAvatars) %}

{% if this.prefix and not hasCover %}<small class="text-muted">/m/</small>{% endif %}
<a class="{{ this.bolded ? 'font-weight-bold' : '' }}" href="{{ path('front_magazine', {'name': this.magazine.name}) }}">
    {%- if hasCover -%}
        <img width="25" height="25" class="rounded-circle me-1 my-1"
             src="{{ asset(this.magazine.cover.filePath) | imagine_filter('avatar_thumb') }}"
             alt="{{ this.magazine.title }}"/>
    {%- endif -%}
    {{ this.magazine.name }}
</a>
