<section{{ attributes.defaults({class: 'magazine section'}) }}>
    {% if showSectionTitle %}
        <h3>{{ 'magazine'|trans }}</h3>
    {% endif %}
    {% if app.user and magazine.userIsOwner(app.user) and not is_route_name_contains('magazine_panel') %}
        <div class="panel">
            <a href="{{ path('magazine_panel_front', {name: magazine.name}) }}" class="btn btn__primary">Magazine panel</a>
        </div>
    {% endif %}
    <div class="row">
        {% if computed.magazine.cover and showCover %}
            <figure>
                <img src="{{ asset(computed.magazine.cover.filePath) | imagine_filter('post_thumb') }}"
                     alt="{{ computed.magazine.name ~ ' ' ~ 'cover'|trans }}" width="260">
            </figure>
        {% endif %}
        <header>
            <h4><a href="{{ path('front_magazine', {name: magazine.name}) }}"
                   class="stretched-link">{{ computed.magazine.title }}</a></h4>
            <p class="magazine__name">{{ computed.magazine.name }}</p>
        </header>
    </div>
    {{ component('magazine_sub', {magazine: magazine}) }}
    {% if computed.magazine.description and showDescription %}
        <div class="content magazine__description">{{ computed.magazine.description|markdown|raw }}</div>
    {% endif %}
    {% if computed.magazine.rules and showRules %}
        <div class="content magazine__rules">{{ computed.magazine.rules|markdown|raw }}</div>
    {% endif %}
    {% if showInfo %}
        <ul class="info mb-1">
            <li>{{ 'created_at'|trans }}:
                {{ component('date', {date: computed.magazine.createdAt}) }}
            </li>
            <li>{{ 'owner'|trans }}: <span>{{ component('user_inline', {user: computed.magazine.owner}) }}</span></li>
            <li>{{ 'subscribers'|trans }}: <span>{{ computed.magazine.subscriptionsCount }}</span></li>
            <li>{{ 'online'|trans }}: <span>-</span></li>
        </ul>
    {% endif %}
    {% if showMeta %}
        <ul class="meta">
            {{ _self.meta_item( 'threads'|trans, path('front_magazine', {'name': computed.magazine.name }), computed.magazine.entryCount) }}
            {{ _self.meta_item( 'comments'|trans, path('magazine_entry_comments', {'name': computed.magazine.name}), computed.magazine.entryCommentCount) }}
            {{ _self.meta_item( 'posts'|trans, path('magazine_posts', {'name': computed.magazine.name}), computed.magazine.postCount) }}
            {{ _self.meta_item( 'replies'|trans, path('magazine_posts', {'name': computed.magazine.name}), computed.magazine.postCommentCount) }}
            {{ _self.meta_item( 'moderators'|trans, path('magazine_moderators', {'name': computed.magazine.name}), computed.magazine.moderators|length) }}
            {{ _self.meta_item( 'mod_log'|trans, path('magazine_modlog', {'name': computed.magazine.name}), computed.magazine.logs|length) }}
        </ul>
    {% endif %}
    {% macro meta_item(name, url, count) %}
        <li><a href="{{ url }}" class="stretched-link">{{ name }}</a> <span>{{ count }}</span></li>
    {% endmacro %}
</section>
