<aside{{ attributes.defaults({class: 'magazine__subscribe', 'data-controller': 'subs'}) }}>
    <div class='action'>
        <i class="fa-solid fa-users"></i><span>{{ magazine.subscriptionsCount }} Subscribers</span> 
    </div>
    <form action="{{ path('magazine_' ~ (is_magazine_subscribed(magazine) ? 'unsubscribe' : 'subscribe'), {name: magazine.name}) }}"
          name="magazine_subscribe"
          method="post">
        <button type="submit"
                class="{{ html_classes('btn btn__secondary action', {'active': is_magazine_subscribed(magazine)}) }}"
                data-action="subs#send">
            {% if is_magazine_subscribed(magazine) %}
                <i class="fa-sharp fa-solid fa-folder-minus"></i><span>{{ 'unsubscribe'|trans }}</span>
            {% else %}
                <i class="fa-sharp fa-solid fa-folder-plus"></i><span>{{ 'subscribe'|trans }}</span>
            {% endif %}

        </button>
        <input type="hidden" name="token" value="{{ csrf_token('subscribe') }}">
    </form>
    <form action="{{ path('magazine_' ~ (is_magazine_blocked(magazine) ? 'unblock' : 'block'), {name: magazine.name}) }}"
          name="magazine_block"
          method="post">
        <button type="submit"
                aria-label="{{ 'block_magazine' }}"
                title="{{ 'block_magazine' }}"
                class="{{ html_classes('btn btn__secondary action', {'active ': is_magazine_blocked(magazine)}) }}"
                data-action="subs#send">

            {% if is_magazine_blocked(magazine) %}
                <i class="fa-solid fa-ban"></i><span>{{ 'unblock'|trans }}</span>
            {% else %}
                <i class="fa-solid fa-ban"></i><span>{{ 'block'|trans }}</span>
            {% endif %}
      
        </button>
        <input type="hidden" name="token" value="{{ csrf_token('block') }}">
    </form>
</aside>