<section{{ attributes.defaults({class: 'kbin-magazine kbin-section'}) }}>
    <h3>{{ 'magazine'|trans }}</h3>
    <div class="kbin-group">
        {% if magazine.cover and showCover %}
            <figure>
                <img
                        src="{{ asset(magazine.cover.filePath) | imagine_filter('post_thumb') }}"
                        alt="{{ magazine.name ~ ' ' ~ 'cover'|trans }}" width="260">
            </figure>
        {% endif %}
        <header>
            <h4><a href="" class="kbin-stretched-link">{{ magazine.title }}</a></h4>
            <p class="kbin-magazine__name">{{ magazine.name }}</p>
        </header>
    </div>
    {{ component('magazine_sub', {magazine: magazine}) }}
    {% if magazine.description and showDescription %}
        <div class="kbin-content kbin-magazine__description">{{ magazine.description|markdown|raw }}</div>
    {% endif %}
    {% if magazine.rules and showRules %}
        <div class="kbin-content kbin-magazine__rules">{{ magazine.rules|markdown|raw }}</div>
    {% endif %}
    {% if showInfo %}
        <ul class="kbin-info">
            <li>{{ 'created_at'|trans }}:
                {{ component('date', {date: magazine.createdAt}) }}
            </li>
            <li>{{ 'owner'|trans }}: <span>{{ component('user_inline', {user: magazine.owner}) }}</span></li>
            <li>{{ 'subscribers'|trans }}: <span>{{ magazine.subscriptionsCount }}</span></li>
            <li>{{ 'online'|trans }}: <span>-</span></li>
        </ul>
    {% endif %}
    {% if showMeta %}
        <ul class="kbin-meta">
            {{ _self.meta_item( 'threads'|trans, path('front_magazine', {'name': magazine.name }), magazine.entryCount) }}
            {{ _self.meta_item( 'comments'|trans, path('magazine_entry_comments', {'name': magazine.name}), magazine.entryCommentCount) }}
            {{ _self.meta_item( 'posts'|trans, path('magazine_posts', {'name': magazine.name}), magazine.postCount) }}
            {{ _self.meta_item( 'replies'|trans, path('magazine_posts', {'name': magazine.name}), magazine.postCommentCount) }}
            {{ _self.meta_item( 'moderators'|trans, path('magazine_moderators', {'name': magazine.name}), magazine.moderators|length) }}
            {{ _self.meta_item( 'mod_log'|trans, path('magazine_modlog', {'name': magazine.name}), magazine.logs|length) }}
        </ul>
    {% endif %}
    {% macro meta_item(name, url, count) %}
        <li><a href="{{ url }}" class="kbin-stretched-link">{{ name }}</a> <span>{{ count }}</span></li>
    {% endmacro %}
</section>
