{% from 'user/_macros.html.twig' import user %}

<div class="kbin-magazine-header px-2 text-center">
    {% if this.asLink or not is_front_page() %}
    <a href="{{ path('front_magazine', {'name': this.magazine.name }) }}" class="text-reset">
        {% endif %}
        {% if this.showCover and this.magazine.cover %}
            <img src="{{ asset(this.magazine.cover.filePath) | imagine_filter('post_thumb') }}"
                 class="img-thumbnail"
                 alt="{{ this.magazine.title }}">
        {% endif %}
        <h2 class="font-weight-bold">{{ this.magazine.title }}</h2>
        <h3 class="lead mb-2">
            <span class="text-muted">/m/</span>{{ this.magazine.name }}
        </h3>
        {% if this.asLink or not is_front_page() %}
    </a>
    {% endif %}
    {% if this.showSubButtons %}
        <div class="mb-3">
            {% include 'magazine/_sub_button.html.twig' with {magazine: this.magazine} %}
        </div>
    {% endif %}
</div>

{% if this.showDescription and this.magazine.description %}
    <div class="kbin-magazine-desc px-2 my-5 small">
        <p class="small">{{ this.magazine.description|markdown|raw }}</p>
    </div>
{% endif %}

{% if this.showRules and this.magazine.rules %}
    <div class="kbin-magazine-rules px-2 my-5 small">
        <p class="small">{{ this.magazine.rules|markdown|raw }}</p>
    </div>
{% endif %}

{% if this.showInfo %}
    <div class="kbin-magazine-info mb-4 col-12">
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="text-muted">{{ 'created'|trans }}:</span>
                    <time title="{{ this.magazine.createdAt|date('c') }}"
                          data-controller="timeago"
                          data-timeago-refresh-interval-value="10000"
                          data-timeago-datetime-value="{{ this.magazine.createdAt|date('c') }}">{{ this.magazine.createdAt|ago }}</time>
                </li>
                <li class="list-group-item">
                    <span class="text-muted">{{ 'author'|trans }}:</span> {{ user(this.magazine.getOwner, {prefix: false}) }}
                </li>
                <li class="list-group-item">
                    <span class="text-muted">{{ 'subscribers'|trans }}:</span> {{ this.magazine.subscriptionsCount }}
                </li>
                <li class="list-group-item" data-controller="online" data-online-magazine-name-value="{{ this.magazine.name }}">
                    <span class="text-muted">Online:</span> <span data-online-target="counter">-</span>
                </li>
            </ul>
        </div>
    </div>
{% endif %}

{% if this.showStats %}
    <div class="kbin-magazine-stats mb-4 col-12 float-sm-start">
        <ul class="list-group kbin-magazine-stats-links">
            {{ _self.stats_item( 'threads'|trans, path('front_magazine', {'name': this.magazine.name }), this.magazine.entryCount) }}
            {{ _self.stats_item( 'comments'|trans, path('magazine_entry_comments', {'name': this.magazine.name}), this.magazine.entryCommentCount) }}
            {{ _self.stats_item( 'posts'|trans, path('magazine_posts', {'name': this.magazine.name}), this.magazine.postCount) }}
            {{ _self.stats_item( 'replies'|trans, path('magazine_posts', {'name': this.magazine.name}), this.magazine.postCommentCount) }}
            {{ _self.stats_item( 'moderators'|trans, path('magazine_moderators', {'name': this.magazine.name}), this.magazine.moderators|length) }}
            {{ _self.stats_item( 'modlog'|trans, path('magazine_modlog', {'name': this.magazine.name}), this.magazine.logs|length) }}
        </ul>
    </div>
{% endif %}

{% macro stats_item(name, url, count) %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="stretched-link" href="{{ url }}">{{ name }}</a>
        <span class="badge bg-primary rounded-pill">{{ count }}</span>
    </li>
{% endmacro %}
