<blockquote{{ attributes.defaults({class: 'section comment post-comment ' ~ 'comment-level--' ~ this.getLevel()}).without('id') }} id="post-comment-{{ comment.id }}">
    <header>
        {{ component('user_inline', {user: comment.user, hideAvatar: true}) }},
        {% if dateAsUrl %}
            <a href="{{ post_url(comment.post) ~ '#post-comment-' ~ comment.id }}"
               class="link-muted">{{ component('date', {date: comment.createdAt}) }}</a>
        {% else %}
            {{ component('date', {date: comment.createdAt}) }}
        {% endif %}
    </header>
    {% if comment.user.avatar %}
        {{ component('user_avatar', {user: comment.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="content">
        {{ comment.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: comment, showDownvote: false}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ post_comment_create_url(comment) }}">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form>
                    <button class="stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if comment.post.favouriteCount %}({{ comment.post.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li class="dropdown">
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ path('post_comment_report', {id: comment.id}) }}">
                            {{ 'report'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ 'copy_link'|trans|lower }}
                        </a>
                    </li>
                    {% if app.request.locale is not same as 'en' %}
                        <li>
                            <a href="#">
                                {{ 'copy_link_to_fediverse'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </menu>
    </footer>
</blockquote>
{% if showNested %}
    {{ component('post_comments_nested', {comment: comment, level: level, showNested: true}) }}
{% endif %}
