{% if not app.user or (app.user and not app.user.isBlocked(post.user)) %}
    {% if post.getVisibility() is same as 'private' and (not app.user or not app.user.isFollower(post.user)) %}
        <div class="section section--small"
             style="z-index:3; position:relative;margin-bottom:0;">
            Private
        </div>
    {% else %}
        <blockquote{{ attributes.defaults({
            class: html_classes('section post subject ', {
                'own': app.user and post.isAuthor(app.user),
                'show-preview': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_PREVIEW')) is same as 'true'
            })}).without('id') }}
                id="post-{{ post.id }}"
                data-controller="post subject mentions"
                data-action="notifications:Notification@window->subject#notification">
            <header>
                {% if post.isAdult %}<span class="badge danger">18+</span>{% endif %}
                {{ component('user_inline', {user: post.user, showAvatar: false}) }},
                {% if dateAsUrl %}
                    <a href="{{ post_url(post) }}"
                       class="link-muted">{{ component('date', {date: post.createdAt}) }}</a>
                {% else %}
                    {{ component('date', {date: post.createdAt}) }}
                {% endif %}
                {{ component('date_edited', {createdAt: post.createdAt, editedAt: post.editedAt}) }}
                {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}{% endif %}
                {% if post.lang is not same as app.request.locale and post.lang is not same as kbin_default_lang() %}
                    <small class="badge-lang kbin-bg">{{ post.lang|language_name }}</small>
                {% endif %}
            </header>
            {{ component('user_avatar', {
                user: post.user,
                width: 40,
                height: 40,
                asLink: true
            }) }}
            <div class="content">
                {% if post.getVisibility() in ['visible', 'private'] or (post.getVisibility() is same as 'trashed' and canSeeTrashed) %}
                    {{ post.body|markdown|raw }}
                {% elseif(post.getVisibility() is same as 'trashed') %}
                    <p class="text-muted">{{ 'deleted_by_moderator' }}</p>
                {% elseif(post.getVisibility() is same as 'soft_deleted') %}
                    <p class="text-muted">{{ 'deleted_by_author' }}</p>
                {% endif %}
            </div>
            {% if post.getVisibility() in ['visible', 'private'] %}
                {{ component('vote', {
                    subject: post,
                    showDownvote: false
                }) }}
            {% endif %}
            <footer>
                {% if post.image %}
                    <figure>
                        <a class="thumb" href="{{ uploaded_asset(post.image.filePath) }}">
                            <img class="thumb-subject"
                                 src="{{ asset(post.image.filePath) |imagine_filter('post_thumb') }}"
                                 alt="{{ post.image.altText }}">
                        </a>
                    </figure>
                {% endif %}
                {% if post.getVisibility() in ['visible', 'private'] %}
                    <menu>
                        {% if post.sticky %}
                            <li>
                                <i class="fa-solid fa-thumbtack" aria-label="{{ 'pinned'|trans }}"></i>
                            </li>
                        {% endif %}
                        <li>
                            <a class="stretched-link"
                               href="{{ path('post_comment_create', {magazine_name: post.magazine.name, post_id: post.id, slug: post.slug|length ? post.slug : '-'}) }}"
                               data-action="subject#getForm">{{ 'reply'|trans|lower }}</a>
                        </li>
                        {% if not is_route_name('post_single', true) and ((not showCommentsPreview and post.commentCount > 0) or post.commentCount > 2) %}
                            <li data-post-target="expand">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#expandComments">{{ 'expand'|trans|lower }} (<span
                                            data-subject-target="commentsCounter">{{ post.commentCount }}</span>)</a>
                            </li>
                            <li data-post-target="collapse"
                                style="display: none">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#collapseComments">{{ 'collapse'|trans|lower }}
                                    ({{ post.commentCount }})
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            {{ component('boost', {
                                subject: post
                            }) }}
                        </li>
                        {% include 'post/_menu.html.twig' %}
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                    {{ component('voters_inline', {
                        subject: post,
                        url: post_voters_url(post, 'up'),
                        'data-post-target': 'voters'
                    }) }}
                {% elseif(post.getVisibility() is same as 'trashed' and canSeeTrashed) %}
                    <menu>
                        <li>
                            <form method="post"
                                  action="{{ path('post_restore', {magazine_name: post.magazine.name, post_id: post.id}) }}"
                                  onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                <input type="hidden" name="token" value="{{ csrf_token('post_restore') }}">
                                <button type="submit">{{ 'restore'|trans|lower }}</button>
                            </form>
                        </li>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% else %}
                    <menu>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% endif %}
                <div data-subject-target="container" class="js-container">
                </div>
            </footer>
        </blockquote>
    {% endif %}
{% endif %}