<blockquote{{ attributes.defaults({class: 'section post'}).without('id') }} id="post-{{ post.id }}">
    <header>
        {{ component('user_inline', {user: post.user, hideAvatar: true}) }},
        {% if dateAsUrl %}
        <a href="{{ post_url(post) }}"
           class="link-muted">{{ component('date', {date: post.createdAt}) }}</a>
        {% else %}
            {{ component('date', {date: post.createdAt}) }}
        {% endif %}
        {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}{% endif %}
    </header>
    {% if post.user.avatar %}
        {{ component('user_avatar', {user: post.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="content">
        {{ post.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: post, showDownvote: false}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ not is_route_name('post_single') ? post_url(post) : '#comment-add' }}">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form>
                    <button class="stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if post.favouriteCount %}({{ post.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li>
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
            </li>
        </menu>
    </footer>
</blockquote>
