{% if not app.user or (app.user and not app.user.isBlocked(post.user)) %}
    {% if post.visibility is same as 'private' and (not app.user or not app.user.isFollower(post.user)) %}
        <div class="section section--small"
             style="z-index:3; position:relative;margin-bottom:0;">
            Private
        </div>
    {% else %}
        <blockquote{{ attributes.defaults({
            class: html_classes('section post subject ', {
                'own': app.user and post.isAuthor(app.user),
                'show-preview': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_PREVIEW')) is same as 'true'
            })}).without('id') }}
                id="post-{{ post.id }}"
                data-controller="post subject"
                data-action="notifications:Notification@window->subject#notification">
            <header>
                {% if post.isAdult %}<span class="badge danger">+18</span>{% endif %}
                {{ component('user_inline', {user: post.user, showAvatar: false}) }},
                {% if dateAsUrl %}
                    <a href="{{ post_url(post) }}"
                       class="link-muted">{{ component('date', {date: post.createdAt}) }}</a>
                {% else %}
                    {{ component('date', {date: post.createdAt}) }}
                {% endif %}
                {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}{% endif %}
                {% if post.lang is not same as kbin_default_lang() %}
                    <small class="badge kbin-bg">{{ post.lang }}</small>
                {% endif %}
            </header>
            {{ component('user_avatar', {
                user: post.user,
                width: 40,
                height: 40,
                asLink: true
            }) }}
            <div class="content">
                {% if post.visibility in ['visible', 'private'] or (post.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    {{ post.body|markdown|raw }}
                {% elseif(post.visibility is same as 'trashed') %}
                    <p class="text-muted">{{ 'deleted_by_moderator' }}</p>
                {% elseif(post.visibility is same as 'soft_deleted') %}
                    <p class="text-muted">{{ 'deleted_by_author' }}</p>
                {% endif %}
            </div>
            {% if post.visibility in ['visible', 'private'] %}
                {{ component('vote', {
                    subject: post,
                    showDownvote: false
                }) }}
            {% endif %}
            <footer>
                {% if post.image %}
                    <figure>
                        <a class="thumb" href="{{ uploaded_asset(post.image.filePath) }}">
                            <img src="{{ asset(post.image.filePath) |imagine_filter('post_thumb') }}"
                                 alt="{{ post.image.altText }}">
                        </a>
                    </figure>
                {% endif %}
                {% if post.visibility in ['visible', 'private'] %}
                    <menu>
                        <li>
                            <a class="stretched-link"
                               href="{{ path('post_comment_create', {magazine_name: post.magazine.name, post_id: post.id, slug: post.slug|length ? post.slug : '-'}) }}"
                               data-action="subject#getForm">{{ 'reply'|trans|lower }}</a>
                        </li>
                        {% if not is_route_name('post_single', true) and ((not showCommentsPreview and post.commentCount > 0) or post.commentCount > 2) %}
                            <li data-post-target="expand">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#expandComments">{{ 'expand'|trans|lower }} (<span
                                            data-subject-target="commentsCounter">{{ post.commentCount }}</span>)</a>
                            </li>
                            <li data-post-target="collapse"
                                style="display: none">
                                <a class="stretched-link"
                                   href="#{{ get_url_fragment(post) }}"
                                   data-action="post#collapseComments">{{ 'collapse'|trans|lower }}
                                    ({{ post.commentCount }})
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            {{ component('favourite', {
                                subject: post,
                                path: 'post_favourite'
                            }) }}
                        </li>
                        <li class="dropdown">
                            <button class="stretched-link" data-subject-target="more">{{ 'more'|trans|lower }}</button>
                            <ul class="dropdown__menu" data-controller="clipboard">
                                <li>
                                    <a href="{{ path('post_report', {id: post.id}) }}"
                                       class="{{ html_classes({'active': is_route_name('post_report')}) }}"
                                       data-action="subject#getForm">
                                        {{ 'report'|trans|lower }}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ post_voters_url(post, 'up') }}"
                                       class="{{ html_classes({'active': is_route_name('post_favourites') or is_route_name('post_voters')}) }}">
                                        {{ 'activity'|trans|lower }}
                                    </a>
                                </li>
                                <li>
                                    <a data-action="clipboard#copy" href="{{ post_url(post) }}">
                                        {{ 'copy_url'|trans|lower }}
                                    </a>
                                </li>
                                <li>
                                    <a data-action="clipboard#copy"
                                       href="{{ post.apId ?? path('ap_post', {magazine_name: post.magazine.name, post_id: post.id}) }}">
                                        {{ 'copy_url_to_fediverse'|trans|lower }}
                                    </a>
                                </li>
                                {% if is_granted('edit', post) %}
                                    <li>
                                        <a href="{{ post_edit_url(post) }}"
                                           class="{{ html_classes({'active': is_route_name('post_edit')}) }}"
                                           data-action="subject#getForm">
                                            {{ 'edit'|trans|lower }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if app.user and post.isAuthor(app.user) %}
                                    <li>
                                        <form method="post"
                                              action="{{ post_delete_url(post) }}"
                                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                            <input type="hidden" name="token" value="{{ csrf_token('post_delete') }}">
                                            <button type="submit">{{ 'delete'|trans|lower }}</button>
                                        </form>
                                    </li>
                                {% endif %}
                                {% if is_granted('moderate', post) %}
                                    <li>
                                        <a href="{{ post_moderate_url(post) }}"
                                           class="{{ html_classes({'active': is_route_name('post_moderate')}) }}"
                                           data-action="subject#showModPanel">
                                            {{ 'moderate'|trans|lower }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                    {{ component('voters_inline', {
                        subject: post,
                        url: post_voters_url(post, 'up'),
                        'data-post-target': 'voters'
                    }) }}
                {% elseif(post.visibility is same as 'trashed' and this.canSeeTrashed) %}
                    <menu>
                        <li>
                            <form method="post"
                                  action="{{ path('post_restore', {magazine_name: post.magazine.name, post_id: post.id}) }}"
                                  onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                <input type="hidden" name="token" value="{{ csrf_token('post_restore') }}">
                                <button type="submit">{{ 'restore'|trans|lower }}</button>
                            </form>
                        </li>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% else %}
                    <menu>
                        <li data-subject-target="loader" style="display:none">
                            <div class="loader" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </li>
                    </menu>
                {% endif %}
                <div data-subject-target="container" class="js-container">
                </div>
            </footer>
        </blockquote>
    {% endif %}
    {% if(showCommentsPreview) %}
        {{ component('post_comments_preview', {post: post, 'data-post-target': 'preview'}) }}
    {% endif %}
{% endif %}