<blockquote{{ attributes.defaults({class: 'section comment'}).without('id') }} id="post-comment-{{ comment.id }}">
    <header>
        {{ component('user_inline', {user: comment.user}) }},
        {{ component('date', {date: comment.createdAt}) }}
    </header>
    {% if comment.user.avatar %}
        {{ component('user_avatar', {user: comment.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="content">
        {{ comment.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: comment, showDownvote: false}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ post_comment_create_url(comment) }}">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form>
                    <button class="stretched-link"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if comment.post.favouriteCount %}({{ comment.post.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li>
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
            </li>
        </menu>
    </footer>
</blockquote>
