<blockquote{{ attributes.defaults({class: 'section comment post-comment subject ' ~ 'comment-level--' ~ this.getLevel()}).without('id') }}
        id="post-comment-{{ comment.id }}"
        data-controller="comment subject"
        data-subject-parent-value="{{ comment.parent ? comment.parent.id : '' }}">
    <header>
        {{ component('user_inline', {user: comment.user, showAvatar: false}) }},
        {% if dateAsUrl %}
            <a href="{{ post_url(comment.post) ~ '#post-comment-' ~ comment.id }}"
               class="link-muted">{{ component('date', {date: comment.createdAt}) }}</a>
        {% else %}
            {{ component('date', {date: comment.createdAt}) }}
        {% endif %}
    </header>
    {% if comment.user.avatar %}
        {{ component('user_avatar', {user: comment.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="content">
        {{ comment.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: comment, showDownvote: false}) }}
    <footer>
        {% if comment.image %}
            <figure>
                <a href="{{ uploaded_asset(comment.image.filePath) }}"
                   class="thumb">
                    <img src="{{ asset(comment.image.filePath) |imagine_filter('post_thumb') }}"
                         alt="{{ comment.image.altText }}">
                </a>
            </figure>
        {% endif %}
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ post_comment_create_url(comment) }}#add-comment"
                   data-action="subject#getForm">{{ 'reply'|trans|lower }}</a>
            </li>
            <li>
                <form method="post"
                      action="{{ path('post_comment_favourite', {id: comment.id}) }}">
                    <input type="hidden" name="token" value="{{ csrf_token('favourite') }}">
                    <button class="{{ html_classes('stretched-link', {'active': app.user and comment.isFavored(app.user) }) }}"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if comment.favouriteCount %}({{ comment.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li class="dropdown">
                <button class="stretched-link" data-subject-target="more">{{ 'more'|trans|lower }}</button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ path('post_comment_report', {id: comment.id}) }}"
                           class="{{ html_classes({'active': is_route_name('post_comment_report')}) }}"
                           data-action="subject#getForm">
                            {{ 'report'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ post_comment_voters_url(comment) }}"
                           class="{{ html_classes({'active': is_route_name('post_comment_favourites') or is_route_name('post_comment_voters')}) }}">
                            {{ 'activity'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ 'copy_url'|trans|lower }}
                        </a>
                    </li>
                    {% if app.request.locale is same as 'pl' %}
                        <li>
                            <a href="#">
                                {{ 'copy_url_to_fediverse'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('edit', comment) %}
                        <li>
                            <a href="{{ post_comment_edit_url(comment) }}"
                               class="{{ html_classes({'active': is_route_name('post_comment_edit')}) }}">
                                {{ 'edit'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and comment.isAuthor(app.user) %}
                        <li>
                            <form method="post"
                                  action="{{ post_comment_delete_url(comment) }}"
                                  onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                <input type="hidden" name="token" value="{{ csrf_token('post_comment_delete') }}">
                                <button type="submit">{{ 'delete'|trans|lower }}</button>
                            </form>
                        </li>
                    {% endif %}
                    {% if is_granted('moderate', comment) %}
                        <li>
                            <a href="{{ post_comment_moderate_url(comment) }}">
                                {{ 'moderate'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
            <li data-subject-target="loader" style="display:none">
                <div class="loader" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </li>
        </menu>
        {{ component('voters_inline', {subject: comment, url: post_comment_voters_url(comment, 'up')}) }}
        <div data-subject-target="container">
        </div>
    </footer>
</blockquote>
{% if showNested %}
    {{ component('post_comments_nested', {comment: comment, level: level, showNested: true}) }}
{% endif %}
