{% if showCommentsPreview and post.commentCount %}
    {% set class = 'mb-0' %}
{% else %}
    {% set class = '' %}
{% endif %}
<blockquote{{ attributes.defaults({class: 'section post ' ~ class}).without('id') }} id="post-{{ post.id }}">
    <header>
        {{ component('user_inline', {user: post.user, showAvatar: false}) }},
        {% if dateAsUrl %}
            <a href="{{ post_url(post) }}"
               class="link-muted">{{ component('date', {date: post.createdAt}) }}</a>
        {% else %}
            {{ component('date', {date: post.createdAt}) }}
        {% endif %}
        {% if showMagazineName %}{{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}{% endif %}
    </header>
    {% if post.user.avatar %}
        {{ component('user_avatar', {user: post.user, width: 40, height: 40}) }}
    {% endif %}
    <div class="content">
        {{ post.body|markdown|raw }}
    </div>
    {{ component('vote', {subject: post, showDownvote: false}) }}
    <footer>
        <menu>
            <li>
                <a class="stretched-link"
                   href="{{ post_url(post) ~ '#comment-add' }}">{{ 'reply'|trans|lower }}</a>
            </li>
            {% if post.commentCount > 2 and not is_route_name('post_signle') %}
                <li>
                    <a class="stretched-link"
                       href="#post-{{ post.id }}">{{ 'expand'|trans|lower }} ({{ post.commentCount }})</a>
                </li>
            {% endif %}
            <li>
                <form method="post"
                      action="{{ path('post_favourite', {id: post.id}) }}">
                    <input type="hidden" name="token" value="{{ csrf_token('favourite') }}">
                    <button class="{{ html_classes('stretched-link', {'active': app.user and post.isFavored(app.user) }) }}"
                            type="submit">
                        {{ 'favourites'|trans|lower }} {% if post.favouriteCount %}({{ post.favouriteCount }}){% endif %}
                    </button>
                </form>
            </li>
            <li class="dropdown">
                <button class="stretched-link">{{ 'more'|trans|lower }}</button>
                <ul class="dropdown__menu">
                    <li>
                        <a href="{{ path('post_report', {id: post.id}) }}"
                           class="{{ html_classes({'active': is_route_name('post_report')}) }}">
                            {{ 'report'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ post_voters_url(post, 'up') }}"
                           class="{{ html_classes({'active': is_route_name('post_favourites') or is_route_name('post_voters')}) }}">
                            {{ 'activity'|trans|lower }}
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            {{ 'copy_url'|trans|lower }}
                        </a>
                    </li>
                    {% if app.request.locale is same as 'pl' %}
                        <li>
                            <a href="#">
                                {{ 'copy_url_to_fediverse'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                    {% if is_granted('edit', post) %}
                        <li>
                            <a href="{{ post_edit_url(post) }}"
                               class="{{ html_classes({'active': is_route_name('post_edit')}) }}">
                                {{ 'edit'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                    {% if app.user and post.isAuthor(app.user) %}
                        <li>
                            <form method="post"
                                  action="{{ post_delete_url(post) }}"
                                  onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                                <input type="hidden" name="token" value="{{ csrf_token('post_delete') }}">
                                <button type="submit">{{ 'delete'|trans|lower }}</button>
                            </form>
                        </li>
                    {% endif %}
                    {% if is_granted('moderate', post.magazine) %}
                        <li>
                            <a href="{{ post_moderate_url(post) }}">
                                {{ 'moderate'|trans|lower }}
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </menu>
        {{ component('voters_inline', {subject: post, url: post_voters_url(post, 'up')}) }}
        {% if post.image %}
            <figure>
                <a class="thumb" href="{{ uploaded_asset(post.image.filePath) }}">
                    <img src="{{ asset(post.image.filePath) |imagine_filter('post_thumb') }}"
                         alt="{{ post.image.altText }}">
                </a>
            </figure>
        {% endif %}
    </footer>
</blockquote>
{% if(showCommentsPreview) %}
    {{ component('post_comments_preview', {post: post}) }}
{% endif %}
