{% if posts|length %}
    <section{{ attributes.defaults({class: 'posts section'}) }}>
        <h3>
            {{ title|trans }}
            {% if type is same as 'random' %}
                <button
                        class="refresh-random"
                        aria-label="{{ 'refresh'|trans }}"
                        title="{{ 'refresh'|trans }}"
                        data-action="live#action"
                        data-action-name="refreshRandom"
                >
                    <i class="fa-solid fa-sync"></i>
                </button>
            {% endif %}
        </h3>
        <div class="container">
            {% for post in posts %}
                <figure>
                    <div class="row">
                        {% if post.image %}
                                <img src="{{ asset(post.image.filePath) | imagine_filter('post_thumb') }}"
                                     alt="{{ post.image.alt|default('') }}">
                            </a>
                        {% endif %}
                        {% if post.body %}
                            <blockquote class="content">
                                {{ get_short_sentence(post.body)|markdown|raw }}
                            </blockquote>
                        {% endif %}
                        <a href="{{ post_url(post) }}" class="stretched-link more">{{ 'show_more'|trans }}</a>
                    </div>
                    <figcaption>
                        {{ component('date', {date: post.createdAt}) }} {{ 'to'|trans }} {{ component('magazine_inline', {magazine: post.magazine}) }}
                    </figcaption>
                </figure>
            {% endfor %}
        </div>
    </section>
{% endif %}