{% from '_layout/_not_found.html.twig' import not_found_transactions %}

<div class="kbin-tips-page mt-3">
    <div class="kbin-profile-tips mt-lg-4 position-relative">
        <button type="button" class="btn-close mb-3" data-tip-target="close" aria-label="Zamknij"
                data-action="tip#close"></button>
        <div class="col-lg-6">
            <div class="kbin-cardano-background"></div>

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-external-transfer-tab" data-bs-toggle="pill"
                            data-bs-target="#kbin-{{ this.key ~ '-' ~ this.subject.id }}-external-transfer" type="button"
                            role="tab" aria-controls="kbin-{{ this.key ~ '-' ~ this.subject.id }}-external-transfer" aria-selected="true">
                        <small>{{ 'external_transfer'|trans }}</small>
                    </button>
                </li>
                {% if not app.user or not this.subject.isAuthor(app.user) %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-mnemonic-tab" data-bs-toggle="pill"
                                data-bs-target="#kbin-{{ this.key ~ '-' ~ this.subject.id }}-mnemonic" type="button"
                                role="tab" aria-controls="kbin-{{ this.key ~ '-' ~ this.subject.id }}-mnemonic" aria-selected="false">
                            <small>{{ 'mnemonic'|trans }}</small>
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-hardware-tab" data-bs-toggle="pill"
                                data-bs-target="#kbin-{{ this.key ~ '-' ~ this.subject.id }}-hardware" type="button"
                                role="tab" aria-controls="kbin-{{ this.key ~ '-' ~ this.subject.id }}-hardware" aria-selected="false">
                            <small>{{ 'hardware_wallet'|trans }}</small>
                        </button>
                    </li>
                {% endif %}
            </ul>

            <div class="tab-content clearfix" id="kbin-tab-content">
                <div class="tab-pane fade show active my-5" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-external-transfer" role="tabpanel"
                     aria-labelledby="kbin-{{ this.key ~ '-' ~ this.subject.id }}-external-tab">
                    <label for="copyWallet">{{ 'wallet_address'|trans }}</label>
                    <div data-controller="cardano-tx-init"
                         data-cardano-tx-init-url-value="{{ path('entry_cti', {id: this.subject.id}) }}">
                        <div class="input-group input-group-xl mb-5"
                             data-controller="clipboard"
                             data-clipboard-success-content="Skopiowano!">
                            <input type="text"
                                   id="{{ this.key ~ '-' ~ this.subject.id }}-copy-wallet-button"
                                   class="form-control"
                                   aria-label="Skopiuj"
                                   aria-describedby="Skopiuj ID portfela"
                                   data-clipboard-target="source"
                                   readonly
                                   value="{{ this.subject.user.cardanoWalletAddress }}">
                            <button class="input-group-text" id="{{ this.key ~ '-' ~ this.subject.id }}-copy-wallet-button"
                                    data-action="cardano-tx-init#observe clipboard#copy"
                                    data-clipboard-target="button">{{ 'copy'|trans }}</button>
                        </div>

                        <div class="mb-5">
                            <h2 class="text-center" data-cardano-tx-init-target="counter"></h2>
                        </div>
                    </div>
                    {% if app.user and app.user.cardanoWalletId %}
                    {% else %}
                        {% include 'cardano/_create_wallet_modal.html.twig' %}
                    {% endif %}

                    {% include 'cardano/_create_wallet_desc.html.twig' %}
                </div>

                {% if not app.user or not this.subject.isAuthor(app.user) %}
                    <div class="tab-pane fade" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-mnemonic" role="tabpanel"
                         aria-labelledby="kbin-{{ this.key ~ '-' ~ this.subject.id }}-mnemonic-tab">
                        {% include 'cardano/_mnemonic.html.twig' with { mnemonicForm: this.mnemonicForm } %}

                        <div class="kbin-cardano-trasaction" style="{{ app.user and app.user.cardanoWalletId ? '' : 'opacity:.4' }}">
                            {% include 'cardano/_form_transaction.html.twig' with { form: this.transactionForm } %}
                        </div>
                    </div>

                    <div class="tab-pane fade" id="kbin-{{ this.key ~ '-' ~ this.subject.id }}-hardware" role="tabpanel"
                         aria-labelledby="kbin-{{ this.key ~ '-' ~ this.subject.id }}-hardware-tab">
                        <div class="container text-center my-5 py-5">
                            <div class="py-5">
                                <div class="my-5">coming soon...</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <hr class="my-4">
        </div>
    </div>
</div>

<div class="kbin-profile-transactions mt-lg-4">
    <h2 class="font-weight-bold mb-4">{{ 'transactions'|trans }}</h2>
    {% if this.transactions|length %}
        <div class="table-responsive">
            <table class="table align-middle small">
                <tbody>
                {% for transaction in this.transactions %}
                    <tr>
                        <th scope="row">{{ loop.index }}</th>
                        <td>
                            <p class="mb-0">{{ transaction.txHash }}</p>
                            <small>
                                <a rel="nofollow noopener noreferrer"
                                   target="_blank"
                                   href="https://explorer.cardano.org/en/block?id={{ transaction.txHash }}">CardanoExplorer</a>
                                | <a rel="nofollow noopener noreferrer"
                                     target="_blank"
                                     href="https://cardanoscan.io/transaction/{{ transaction.txHash }}">CardanoScan</a>
                                | <a rel="nofollow noopener noreferrer"
                                     target="_blank"
                                     href="https://adaex.org/{{ transaction.txHash }}">ADAex</a></small>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        {{ not_found_transactions() }}
    {% endif %}

</div>
