<aside{{ attributes.defaults({class: 'user__follow', 'data-controller': 'subs'}) }}>
    <div><i class="fa-solid fa-users"></i> {{ user.followersCount }}</div>
    {% if not app.user or app.user is not same as user %}
        <form action="{{ path('user_' ~ (is_user_followed(user) ? 'unfollow' : 'follow'), {username: user.username}) }}"
              name="user_follow"
              method="post">
            <button type="submit"
                    class="{{ html_classes('btn btn__secondary', {'active': is_user_followed(user)}) }}"
                    data-action="subs#send">
                {% if is_user_followed(user) %}
                    <i class="fa-sharp fa-solid fa-folder-minus"></i> <span>{{ 'unfollow'|trans }}</span>
                {% else %}
                    <i class="fa-sharp fa-solid fa-folder-plus"></i> <span>{{ 'follow'|trans }}</span>
                {% endif %}
            </button>
            <input type="hidden" name="token" value="{{ csrf_token('follow') }}">
        </form>
        <form action="{{ path('user_' ~ (is_user_blocked(user) ? 'unblock' : 'block'), {username: user.username}) }}"
              name="user_block"
              method="post">
            <button type="submit"
                    class="{{ html_classes('btn btn__secondary', {'active danger': is_user_blocked(user)}) }}"
                    data-action="subs#send">
                {% if is_user_blocked(user) %}
                    <i class="fa-solid fa-ban"></i> <span>{{ 'unblock'|trans }}</span>
                {% else %}
                    <i class="fa-solid fa-ban"></i> <span>{{ 'block'|trans }}</span>
                {% endif %}
            </button>
            <input type="hidden" name="token" value="{{ csrf_token('block') }}">
        </form>
    {% endif %}
</aside>