<div class="actions">
    {% if showLogin %}
        <p>{{ 'already_have_account'|trans }} 
            <a class="font-weight-bold" href="{{ path('app_login') }}">{{ 'login'|trans }}</a>
        </p>
    {% endif %}
    {% if kbin_registrations_enabled() %}
        {% if showRegister %}
            <p>{{ 'dont_have_account'|trans }} 
                <a class="font-weight-bold" href="{{ path('app_register') }}">{{ 'register'|trans }}</a>
            </p>
        {% endif %}  
    {% endif %}
    {% if showPasswordReset %}
        <p>{{ 'you_cant_login'|trans }} 
            <a class="font-weight-bold" href="{{ path('app_forgot_password_request') }}">{{ 'reset_password'|trans }}</a>
        </p>
    {% endif %}
{#    {% if showResendEmail %}#}
{#        <p>{{ 'resend_account_activation_email_question'|trans }} #}
{#            <a class="font-weight-bold" href="{{ path('app_resend_email_activation') }}">{{ 'resend_account_activation_email'|trans }}</a>#}
{#        </p>#}
{#    {% endif %}#}
</div>