<figure{{ attributes }}>
    {% if asLink %}
        <a href="{{ path('user_overview', {username: user.username}) }}">
    {% endif %}
        <img width="{{ width }}" height="{{ height }}"
             src="{{ asset(user.avatar.filePath) | imagine_filter('avatar_thumb') }}"
             alt="{{ user.username ~' '~ 'avatar'|trans|lower }}">
    {% if asLink %}
        </a>
    {% endif %}
</figure>
