{% from 'user/_macros.html.twig' import avatar %}

<div class="kbin-entry card shadow-lg bg-white rounded mb-4">
    <div class="kbin-user-info card-body">
        {% if not is_active_route('user') %}
            <div class="kbin-entry-info-user clearfix text-center">
                {% if user.avatar %}
                    <div class="kbin-user-avatar">
                        {{ avatar(user) }}
                    </div>
                {% endif %}
                <div>
                    <h3 class="font-weight-bold pt-2 mb-2 h5 d-inline ">
                        <a href="{{ path('user', {username: user.username}) }}"
                           class="text-reset">{{ user.apPreferredUsername ?? user.username |trim('@', 'left') }}</a>
                    </h3>
                    <div class="mb-2 small">
                        {% if user.apProfileId %}
                            <small class="small text-muted">{{ user.email }}</small>
                        {% else %}
                            <small class="small text-muted">{{ user.username ~ '@' ~ kbin_domain() }}</small>
                        {% endif %}
                    </div>
                    {% include 'user/_follow_button.html.twig' %}
                </div>
            </div>
        {% endif %}
        <div class="mt-3">
            <ul class="list-unstyled clearfix text-center text-lg-start">
                <li>
                    <span class="text-muted small">{{ 'joined'|trans }}:</span>
                    <time data-controller="timeago"
                          data-timeago-refresh-interval-value="10000"
                          data-timeago-datetime-value="{{ user.createdAt|date('c') }}"{{ user.createdAt|ago }}></time>
                </li>
                <li>
                    <span class="text-muted small">{{ 'thread_views'|trans }}:</span> {{ user.entriesViewsCount }}
                </li>
                <li>
                    <span class="text-muted small">{{ 'awards'|trans }}:</span> {{ user.awards|length }}
                </li>
                <li>
                    <a class="small"
                       href="{{ path('user_entries', {username: user.username}) }}">
                        {{ 'threads'|trans }}:</a> {{ user.entries|length }}
                </li>
                <li>
                    <a class="small"
                       href="{{ path('user_comments', {username: user.username}) }}">
                        {{ 'comments'|trans }}:</a> {{ user.entryComments|length }}
                </li>
                <li>
                    <a class="small" href="{{ path('user_posts', {username: user.username}) }}">
                        {{ 'posts'|trans }}:</a> {{ user.posts|length }}
                </li>
                <li>
                    <a class="small"
                       href="{{ path('user_replies', {username: user.username}) }}">
                        {{ 'replies'|trans }}:</a> {{ user.postComments|length }}
                </li>
                <li>
                    <a class="small" href="{{ path('user_reputation', {username: user.username}) }}">
                        {{ 'reputation_points'|trans }}:</a> {{ get_reputation_total(user) }}
                </li>
                <li>
                    <a class="small" href="{{ path('user_moderated', {username: user.username}) }}">
                        {{ 'topbar.moderated'|trans }}
                    </a>
                </li>
                {% if user.showProfileSubscriptions %}
                    <li>
                        <a class="small" href="{{ path('user_subscriptions', {username: user.username}) }}">
                            {{ 'subscriptions'|trans }}
                        </a>
                    </li>
                {% endif %}

                {% if user.getShowProfileFollowings %}
                    <li>
                        <a class="small" href="{{ path('user_follows', {username: user.username}) }}">
                            {{ 'follows'|trans }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <span class="text-muted small"><a
                                href="{{ path('user_followers', {username: user.username}) }}">{{ 'followers'|trans }}</a></span>
                </li>
                {% if not app.user or user is not same as app.user %}
                    <li class="my-2">
                        <span class="text-muted small"><a
                                    href="{{ path('user_message', {'username': user.username}) }}"><i
                                        class="fa fa-envelope"></i> {{ 'send_message'|trans }}</a></span>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
