{% if voters|length %}
    <div{{ attributes.defaults({class: 'boosts'}) }}>
        <span aria-label="{{ 'boosts'|trans }}">+</span>
        {% for voter in voters %}
            <a href="{{ path('user_overview', {username: voter}) }}">{{ voter|username }}</a>
            {%- if not loop.last %},{% endif %}
        {% endfor %}
        {% if count > 4 %}
            <a data-action="post#expandVoters" href="{{ url }}">+{{ count - 4 }} {{ 'more'|trans|lower }}</a>
        {% endif %}
    </div>
{% endif %}