{%- set VOTE_NONE = constant('App\\Entity\\Contracts\\VotableInterface::VOTE_NONE') -%}
{%- set VOTE_UP = constant('App\\Entity\\Contracts\\VotableInterface::VOTE_UP') -%}
{%- set VOTE_DOWN = constant('App\\Entity\\Contracts\\VotableInterface::VOTE_DOWN') -%}
{% if app.user %}
    {%- set user_choice = is_granted('ROLE_USER') ? subject.userChoice(app.user) : null -%}

    {% set upUrl = path(formDest~'_favourite', {id: subject.id, choice: VOTE_UP}) %}
    {% set downUrl = path(formDest~'_vote', {id: subject.id, choice: VOTE_DOWN}) %}

    {% if(user_choice is same as(VOTE_UP)) %}
        {% set choice = VOTE_UP %}
    {% elseif(user_choice is same as(VOTE_DOWN)) %}
        {% set choice = VOTE_DOWN %}
    {% else %}
        {% set choice = VOTE_NONE %}
    {% endif %}
{% else %}
    {% set choice = VOTE_NONE %}
    {% set upUrl = path(formDest~'_favourite', {id: subject.id, choice: VOTE_NONE}) %}
    {% set downUrl = path(formDest~'_vote', {id: subject.id, choice: VOTE_NONE}) %}
{% endif %}
<aside{{ attributes.defaults({class: 'vote'}) }}>
    <form method="post"
          action="{{ upUrl }}"
          class="{{ html_classes('vote__up',{
              'active': app.user and subject.isFavored(app.user),
          }) }}">
        <button type="submit"
                title="{{ 'favourite'|trans }}"
                aria-label="{{ 'favourite'|trans }}"
                data-action="subject#vote"
                {{ html_classes({'disabled': app.user and subject.isAuthor(app.user)}) }}>
            {{ subject.favouriteCount }} <span><i class="fa-solid fa-arrow-up"></i></span>
        </button>
        <input type="hidden" name="token" value="{{ csrf_token('favourite') }}">
    </form>
    {% if showDownvote %}
        <form method="post"
              action="{{ downUrl }}"
              class="{{ html_classes('vote__down', {
                  'active': choice is same as(VOTE_DOWN),
              }) }}">
            <button type="submit"
                    title="{{ 'down_vote'|trans }}"
                    aria-label="{{ 'down_vote'|trans }}"
                    data-action="subject#vote"
                    {{ html_classes('vote__up', {'disabled': app.user and subject.isAuthor(app.user)}) }}>
                {{ subject.countDownvotes }} <span><i class="fa-solid fa-arrow-down"></i></span>
            </button>
            <input type="hidden" name="token" value="{{ csrf_token('vote') }}">
        </form>
    {% endif %}
</aside>
