{% extends 'landing.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{%- block title -%}{{- 'OCB' -}}{%- endblock -%}

{% block body %}

    <section class="section1">
        <div class="kbin-about kbin-container container">
            <div class="row">
                <h1>{{ 'about_section_1_title'|trans|raw }}</h1>
                <h2 class="mb-4 font-weight-bold h4">{{ 'about_section_1_subtitle'|trans }}</h2>
                <p>{{ 'about_section_1_desc'|trans|raw }}</p>
            </div>
            <div class="bg-images"><img src="{{ asset('build/images/render1.png') }}" alt="Portal społecznościowy, który ma sens"/></div>
        </div>
    </section>

    {% include 'page/_instance_stats.html.twig' %}

    <section class="section2">
        <div class="kbin-about kbin-container container">
            <div class="row justify-content-end">
                <div class="col col-sm-12 col-lg-7">
                    <h2 class="h1">{{ 'about_section_2_title'|trans|raw }}</h2>
                    <h3 class="mb-4 font-weight-bold h4">{{ 'about_section_2_subtitle'|trans }}</h3>
                    <p>{{ 'about_section_2_desc_1'|trans }}</p>
                    <p>{{ 'about_section_2_desc_2'|trans }}</p>
                    <p>{{ 'about_section_2_desc_3'|trans }}</p>
                </div>
            </div>

            <div class="bg-images"><img src="{{ asset('build/images/render2.png') }}" alt="Autonomiczne magazyny"/></div>
        </div>
    </section>

    <section class="section3">
        <div class="kbin-about kbin-container container">
            <div class="row">
                <h2 class="h1">{{ 'about_section_3_title'|trans|raw }}</h2>
                <h3 class="mb-4 font-weight-bold h4">{{ 'about_section_3_subtitle'|trans }}</h3>
                <p>{{ 'about_section_3_desc'|trans }}</p>
            </div>
            <div class="bg-images"><img src="{{ asset('build/images/render3.png') }}" alt="Autonomiczne magazyny"/></div>
        </div>
    </section>

    <section class="section4">
        <div class="kbin-about kbin-container container">
            <div class="row justify-content-center">
                <h2 class="h1" id="cardano">{{ 'about_section_4_title'|trans }}</h2>
                <h3 class="mb-4 font-weight-bold h4">{{ 'about_section_4_subtitle'|trans|raw }}</h3>
                <p>{{ 'about_section_4_desc_1'|trans|raw }}</p>
                <p>{{ 'about_section_4_desc_2'|trans|raw }}</p>
                <p>{{ 'about_section_4_desc_3'|trans|raw }}</p>
                <p>{{ 'about_section_4_desc_4'|trans }}</p>
                <p>{{ 'about_section_4_desc_5'|trans|raw }}</p>
            </div>
            <div class="bg-images"><img src="{{ asset('build/images/ada.png') }}" alt="Decydujesz Ty, nie algorytm"/></div>
        </div>
    </section>

    <section class="section5">
        <div class="kbin-about kbin-container container">
            <div class="row">
                <h2 class="h1">{{ 'about_section_5_title'|trans|raw }}</h2>
                <h3 class="mb-4 font-weight-bold h4">{{ 'about_section_5_subtitle'|trans|raw }}</h3>
                <p>{{ 'about_section_5_desc'|trans|raw }}</p>

                <div class="px-md-4" style="max-width: 800px;">
                    <div class="mt-5 ratio ratio-16x9 text-center px-2">
                        <iframe title="What is the Fediverse?" src="https://framatube.org/videos/embed/4294a720-f263-4ea4-9392-cf9cea4d5277" frameborder="0" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups"></iframe>
                    </div>
                </div>
            </div>
            {# <div class="bg-images"><img src="{{ asset('build/images/render2.jpg') }}" alt="Autonomiczne magazyny"/></div> #}
        </div>
    </section>
{% endblock %}


