{%- set TYPE_GENERAL = constant('App\\Repository\\StatsRepository::TYPE_GENERAL') -%}
{%- set TYPE_CONTENT = constant('App\\Repository\\StatsRepository::TYPE_CONTENT') -%}
{%- set TYPE_VOTES = constant('App\\Repository\\StatsRepository::TYPE_VOTES') -%}
<aside class="options options--top" id="options">
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ path('stats', {statsType: TYPE_GENERAL}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', TYPE_GENERAL) or get_route_param('statsType') is same as null}) }}">
                {{ TYPE_GENERAL|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ path('stats', {statsType: TYPE_CONTENT}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', TYPE_CONTENT)}) }}">
                {{ TYPE_CONTENT|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ path('stats', {statsType: TYPE_VOTES}) }}"
               class="{{ html_classes({'active': route_has_param('statsType', TYPE_VOTES)}) }}">
                {{ TYPE_VOTES|trans|lower }}
            </a>
        </li>
    </menu>
</aside>
