<section class="section">
    <form class="comment-add">
        <div class="group">
            <label>
                <textarea aria-label="{{ 'enter_your_comment'|trans }}"></textarea>
            </label>
        </div>
        <div class="group comment-add__actions">
            <button type="button"
                    class="btn btn__secondry"
                    aria-label="{{ 'markdown_howto'|trans }}"
                    title="{{ 'markdown_howto'|trans }}">
                <i class="icon__question"></i>
            </button>
            <button type="button"
                    class="btn btn__secondry"
                    aria-label="{{ 'add_media'|trans }}"
                    title="{{ 'add_media'|trans }}">
                <i class="icon__media"></i>
            </button>
            <button class="btn-kbin btn__primary" type="submit">{{ 'add_comment'|trans }}</button>
        </div>
    </form>
</section>