{% block comment %}
    {% from 'vote/_macros.html.twig' import vote %}

    <blockquote id="{{ comment.id }}"
                class="kbin-comment {{ extra_classes }} kbin-comment--{{ level > 1 ? 'nested' : 'top-level' }} kbin-comment-level--{{ level }}">
        <div class="kbin-comment-header">
            {{ vote(comment, {user: app.user, form_dest: 'entry_comment_vote', base_class: 'comment'}) }}

            <div class="kbin-comment-image">
                <img class="lazy" src="https://picsum.photos/100/{{ random(75,75) }}?hash={{ random(1,55) }}"
                     alt="Makigi.pl - Rozkład jazdy 2017">
            </div>

            <aside class="kbin-comment-meta">
                <ul class="kbin-comment-meta-list list-inline mb-0">
                    <li class="kbin-comment-meta-list-item list-inline-item">
                        <small class="text-muted">dodany
                            <time>{{ comment.createdAt|ago }}</time>
                        </small>
                    </li>
                    <li class="kbin-comment-meta-list-item list-inline-item">
                        <small class="text-muted">przez <a href="{{ path('user', {username: comment.user.username}) }}"
                                                           class="font-weight-bold">{{ comment.user.username }}</a></small>
                    </li>
                </ul>
            </aside>

            <div class="kbin-comment-main">
                <p class="kbin-comment-content mb-0">
                    {{ comment.body }}
                </p>
                <aside class="kbin-comment-meta">
                    <ul class="kbin-comment-meta-list  list-inline mb-0">
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('entry_comment_create', { 'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id, 'parent_comment_id': comment.id }) }}">odpowiedz</a>
                            </small>
                        </li>
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="#">link</a>
                            </small>
                        </li>
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="#">zgłoś</a></small>
                        </li>
                        {% if is_granted('edit', comment) %}
                            <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                <small class="text-muted">
                                    <a href="{{ path('entry_comment_edit', {'magazine_name': comment.entry.magazine.name,'entry_id': comment.entry.id, 'comment_id': comment.id}) }}">
                                        edytuj
                                    </a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>

            <div class="clearfix"></div>
        </div>
    </blockquote>

    {% if nested %}
        {% if comment.children|length > 0 %}
            {%- for reply in comment.children -%}
                {%- with { comment: reply, level: level + 1, show_context: false, show_form: false } -%}
                    {{- block('comment') -}}
                {%- endwith -%}
            {%- endfor -%}
        {% endif %}
    {% endif %}
{% endblock comment %}
