{% block comment %}
    {% from 'vote/_macros.html.twig' import vote %}

    <blockquote id="{{ comment.id }}"
                class="kbin-comment {{ extra_classes }} kbin-comment--{{ level > 1 ? 'nested' : 'top-level' }} kbin-comment-level--{{ level }} shadow-sm">
        <div class="kbin-comment-header">
            {{ vote(comment, {user: app.user, form_dest: 'entry_comment_vote', base_class: 'comment'}) }}

            <div class="kbin-comment-avatar">
                <img class="lazy img-thumbnail" src="https://picsum.photos/100/{{ random(75,75) }}?hash={{ random(1,55) }}"
                     alt="Makigi.pl - Rozkład jazdy 2017">
            </div>

            <aside class="kbin-comment-meta">
                <ul class="kbin-comment-meta-list list-inline m-0">
                    <li class="kbin-comment-meta-date kbin-comment-meta-list-item list-inline-item">
                        <small class="text-muted">dodany
                            <time>{{ comment.createdAt|ago }}</time>
                        </small>
                    </li>

                    {% if not is_user_page() %}
                        <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                            <small class="text-muted">przez
                                <a class="font-weight-bold" href="{{ path('user', {username: comment.user.username}) }}">
                                    {{ comment.user.username }}
                                </a>
                            </small>
                        </li>
                    {% endif %}

                    {% if level is same as 1 %}
                        {% if is_comments_page() and not is_magazine_page() %}
                            <li class="kbin-comment-meta-magazine kbin-comment-meta-list-item list-inline-item">

                                <small class="text-muted">do <a class="font-weight-bold"
                                                                href="{{ path('magazine', {'name': comment.entry.magazine.name}) }}">m/{{ comment.entry.magazine.name }}</a></small>
                            </li>
                        {% endif %}

                        {% if is_comments_page() or is_user_page() %}
                            <li class="kbin-comment-meta-entry kbin-comment-meta-list-item list-inline-item">

                                <small class="text-muted">w <a class="font-weight-bold"
                                                               href="{{ path('entry', {'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id}) }}">{{ comment.entry.title|slice(0, 60) ~ '...' }}</a></small>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </aside>

            <div class="kbin-comment-main">
                <p class="kbin-comment-content my-2">
                    {{ comment.body }}
                </p>
                <aside class="kbin-comment-meta">
                    <ul class="kbin-comment-meta-list  list-inline mb-0">
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="{{ path('entry_comment_create', { 'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id, 'parent_comment_id': comment.id }) }}">odpowiedz</a>
                            </small>
                        </li>

                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a href="#">link</a>
                            </small>
                        </li>

                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="#">zgłoś</a></small>
                        </li>

                        {% if is_granted('edit', comment) %}
                            <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                <small class="text-muted">
                                    <a href="{{ path('entry_comment_edit', {'magazine_name': comment.entry.magazine.name,'entry_id': comment.entry.id, 'comment_id': comment.id}) }}">
                                        edytuj
                                    </a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            </div>

            <div class="clearfix"></div>
        </div>
    </blockquote>

    {% if nested %}
        {% if comment.children|length %}
            {%- for reply in comment.children -%}
                {%- with { comment: reply, level: level + 1, show_context: false, show_form: false } -%}
                    {{- block('comment') -}}
                {%- endwith -%}
            {%- endfor -%}
        {% endif %}
    {% endif %}
{% endblock comment %}
