{% block comment %}
    {% from 'user/_macros.html.twig' import avatar %}
    {% from 'vote/_macros.html.twig' import vote %}

    {% if with_parent %}
        {% if comment.parent|length %}
            {% set level = 2 %}
            {%- with { comment: comment.parent, level: level - 1, show_context: true, show_form: false, with_parent:false } -%}
                {{- block('comment') -}}
            {%- endwith -%}
        {% endif %}
    {% endif %}
    <blockquote id="{{ comment.id }}"
                class="kbin-comment {{ extra_classes }} kbin-comment--{{ level > 1 ? 'nested' : 'top-level' }} kbin-comment-level--{{ level >= 8 ? 'last' : level }} shadow-sm"
                data-controller="comment report"
                data-comment-level-value="{{ level >= 7 ? '7' : level }}">
        <div class="kbin-comment-header mb-2">
            {{ vote(comment, {user: app.user, form_dest: 'entry_comment_vote', base_class: 'comment'}) }}

            <div class="kbin-comment-avatar">
                {{ avatar(comment.user) }}
            </div>

            <aside class="kbin-comment-meta">
                <ul class="kbin-comment-meta-list list-inline m-0">
                    {% if not is_entry_page() %}
                    <a href="{{ path('entry_single', { 'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id }) }}">
                        {% endif %}
                        <li class="kbin-comment-meta-date kbin-comment-meta-list-item list-inline-item">
                            <small class="text-muted">dodany
                                <time>{{ comment.createdAt|ago }}</time>
                            </small>
                        </li>
                        {% if not is_entry_page() %}
                    </a>
                    {% endif %}
                    <li class="kbin-comment-meta-user kbin-comment-meta-list-item list-inline-item">
                        <small class="text-muted">przez
                            <a class="font-weight-bold" href="{{ path('user', {username: comment.user.username}) }}">
                                {{ comment.user.username }}
                            </a>
                        </small>
                    </li>

                    {% if level is same as 1 %}
                        {% if is_comments_page() and not is_magazine_page() %}
                            <li class="kbin-comment-meta-magazine kbin-comment-meta-list-item list-inline-item">

                                <small class="text-muted">do <a class="font-weight-bold"
                                                                href="{{ path('front_magazine', {'name': comment.entry.magazine.name}) }}">/m/{{ comment.entry.magazine.name }}</a></small>
                            </li>
                        {% endif %}

                        {% if is_comments_page() or is_user_page() %}
                            <li class="kbin-comment-meta-entry kbin-comment-meta-list-item list-inline-item">

                                <small class="text-muted">w <a class="font-weight-bold"
                                                               href="{{ path('entry_single', {'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id}) }}">{{ comment.entry.shortTitle }}</a></small>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </aside>
        </div>
        <div class="kbin-comment-main">
            <blockquote class="kbin-comment-content" data-controller="show-more" data-action="image:thumbSelected->show-more#expand" data-action="image:thumbLoaded->show-more#checkHeight">
                {% if comment.visibility is same as 'visible' %}
                    {{ comment.body|markdown|raw }}
                    {% if comment.image %}
                        <img data-controller="image"
                             data-image-loading-class="loading-cursor"
                             data-image-full-value="{{ uploaded_asset(comment.image.getFilePath()) }}"
                             data-image-thumb-value="{{ asset(comment.image.getFilePath()) | imagine_filter('post_thumb') }}"
                             data-action="click->image#toggle"
                             src="{{ asset(comment.image.getFilePath()) | imagine_filter('post_thumb') }}"
                             alt="{{ comment.shortTitle }}">
                    {% endif %}
                {% elseif comment.visibility is same as 'trashed' %}
                    <p class="text-muted">[Treść usunięta przez moderatora]</p>
                {% elseif comment.visibility is same as 'soft_deleted' %}
                    <p class="text-muted">[Treść usunięta przez użytkownika]</p>
                {% endif %}
            </blockquote>

            {% if comment.visibility is same as 'visible' %}
                <aside class="kbin-comment-meta clearfix">
                    <ul class="kbin-comment-meta-list  list-inline mb-0">
                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted">
                                <a data-action="comment#reply"
                                   class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert kbin-link-block{% endif %}"
                                   href="{{ path('entry_comment_create', { 'magazine_name': comment.entry.magazine.name, 'entry_id': comment.entry.id, 'parent_comment_id': comment.id }) }}">
                                    odpowiedz
                                </a>
                            </small>
                        </li>

                        <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                            <small class="text-muted"><a href="{{ path('entry_comment_report', {id: comment.id}) }}"
                                                         class="{% if not (is_granted('ROLE_USER') ) %}kbin-login-alert{% endif %}"
                                                         data-action="report#report">zgłoś</a></small>
                        </li>

                        {% if is_granted('edit', comment) %}
                            <li class="kbin-comment-meta-list-item kbin-comment-meta-list-item-links list-inline-item">
                                <small class="text-muted">
                                    <a href="{{ path('entry_comment_edit', {'magazine_name': comment.entry.magazine.name,'entry_id': comment.entry.id, 'comment_id': comment.id}) }}">
                                        edytuj
                                    </a>
                                </small>
                            </li>
                        {% endif %}

                        {% if is_granted('moderate', comment.entry.magazine) %}
                            <li class="kbin-entry-meta-list-item kbin-entry-meta-list-item-links list-inline-item">
                                <small class="kbin-entry-meta-edit text-muted">
                                    <a href="{{ path('magazine_panel_ban', {'magazine_name': comment.entry.magazine.name, 'user_username': comment.entry.user.username}) }}">zbanuj</a>
                                </small>
                            </li>
                        {% endif %}
                    </ul>
                </aside>
            {% endif %}

            <div data-comment-target="form" data-report-target="form" class=""></div>
        </div>
    </blockquote>

    {% if nested %}
        {% if comment.children|length %}
            {%- for reply in comment.children -%}
                {%- with { comment: reply, level: level + 1, show_context: false, show_form: false } -%}
                    {% if not app.user or (app.user and not app.user.isBlocked(reply.user)) %}
                        {{- block('comment') -}}
                    {% endif %}
                {%- endwith -%}
            {%- endfor -%}
        {% endif %}
    {% endif %}
{% endblock comment %}
