{% if edit is not defined %}
    {% set edit = false %}
{% endif %}
{% if edit %}
    {% set title = 'edit_comment'|trans %}
    {% set action = path('entry_comment_edit', {magazine_name: entry.magazine.name, entry_id: entry.id, comment_id: comment.id}) %}
{% else %}
    {% set title = 'add_comment'|trans %}
    {% set action = path('entry_comment_create', {magazine_name: entry.magazine.name, entry_id: entry.id, parent_comment_id: parent is defined and parent ? parent.id : null}) %}
{% endif %}

<h3 hidden>{{ title }}</h3>
{{ form_start(form, {action: action, attr: {class: edit ? 'comment-edit replace' : 'comment-add'}}) }}
{{ form_row(form.body, {label: false}) }}
<div class="row actions">
    <button type="button"
            class="btn btn__secondary"
            aria-label="{{ 'markdown_howto'|trans }}"
            title="{{ 'markdown_howto'|trans }}">
        <i class="fa-solid fa-circle-question"></i>
    </button>
    <button type="button"
            class="btn btn__secondary"
            aria-label="{{ 'add_media'|trans }}"
            title="{{ 'add_media'|trans }}">
        <i class="fa-solid fa-photo-film"></i>
    </button>
    {{ form_row(form.submit, {label: edit ? 'edit_comment' : 'add_comment', attr: {class: 'btn btn__primary', 'data-action': 'subject#sendForm'}}) }}
</div>
<div hidden class="media">
    {{ form_row(form.image, {label: 'image'}) }}
    {{ form_row(form.imageAlt, {label: 'image_alt'}) }}
</div>
{{ form_end(form) }}
