<h3 hidden>{{ 'add_comment'|trans }}</h3>
{{ form_start(form) }}
{{ form_row(form.body, {label: false}) }}
<div class="row actions">
    <button type="button"
            class="btn btn__secondry"
            aria-label="{{ 'markdown_howto'|trans }}"
            title="{{ 'markdown_howto'|trans }}">
        <i class="fa-solid fa-circle-question"></i>
    </button>
    <button type="button"
            class="btn btn__secondry"
            aria-label="{{ 'add_media'|trans }}"
            title="{{ 'add_media'|trans }}">
        <i class="fa-solid fa-photo-film"></i>
    </button>
    {{ form_row(form.submit, {label: is_route_name('entry_comment_edit') ? 'edit_comment' : 'add_comment', attr: {class: 'btn-kbin btn__primary'}}) }}
</div>
<div hidden class="media">
    {{ form_row(form.image, {label: 'image'}) }}
    {{ form_row(form.imageAlt, {label: 'image_alt'}) }}
</div>
{{ form_end(form) }}
