{% set hasImage = false %}
{% if comment is defined and comment is not null and comment.image %}
    {% set hasImage = true %}
{% endif %}

{{ form_start(form, { 'attr': {'data-controller': 'media', class: 'kbin-media' }}) }}
<div class="col-xs-12 clearfix">
    <div class="kbin-comment-create-form my-3">
        <div class="mb-3">
            {{ form_label(form.body, 'comment'|trans) }}
            {{ form_widget(form.body, {'attr': {'class': 'kbin-editor'}}) }}
        </div>

        <div class="text-end btn-group float-end">
            <a class="btn btn-secondary me-1" href="https://{{ kbin_domain }}{{ kbin_markdown_howto_url }}" role="button">
                <i class="fas fa-question"></i>
            </a>


            <button type="button" class="btn btn-secondary me-1 {{ hasImage ? 'd-none' : '' }}" data-bs-toggle="modal"
                    data-bs-target="#media-modal-{{ comment is not defined or comment is null ? entry.id : comment.id }}"
                    data-media-target="modalButton">
                <i class="fas fa-camera"></i>
            </button>


            <button data-action="media#delete"
                    data-media-url-param="{{ hasImage ? path('entry_comment_image_delete', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) : '' }}"
                    data-media-target="deleteButton" type="button"
                    class="btn-close me-1 {{ hasImage ? '' : 'd-none' }}"
                    aria-label="Close"></button>

            {% if hasImage %}
                <img data-media-target="thumb" src="{{ asset(comment.image.filePath) | imagine_filter('post_thumb') }}" alt="" class="me-2"/>
            {% else %}
                <canvas data-media-target="canvas" class="d-none me-2"></canvas>
            {% endif %}

            {{ form_widget(form.submit, { 'label': 'done'|trans, 'attr': {'class': 'kbin-comment-send btn-primary'} }) }}
        </div>
    </div>
</div>

<div id="media-modal-{{ comment is not defined or comment is null ? entry.id : comment.id }}" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Dodaj zdjęcie <strike>lub film</strike></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-media-target="close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-4">
                    <small>wklej adres</small>
                    <small class="ms-2 font-weight-bold" data-action="click->media#add">wybierz plik</small>
                </div>
                <div class="input-group input-group-lg me-2">
                    {{ form_widget(form.image, {'attr':{ 'class': 'form-control', 'data-action': 'media#add', 'data-media-target': 'fileInput' }}) }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
