{% form_theme form.lang 'form/lang_select.html.twig' %}

{% set hasImage = false %}
{% if comment is defined and comment is not null and comment.image %}
    {% set hasImage = true %}
{% endif %}
{% if edit is not defined %}
    {% set edit = false %}
{% endif %}
{% if edit %}
    {% set title = 'edit_comment'|trans %}
    {% set action = path('entry_comment_edit', {magazine_name: entry.magazine.name, entry_id: entry.id, comment_id: comment.id}) %}
{% else %}
    {% set title = 'add_comment'|trans %}
    {% set action = path('entry_comment_create', {magazine_name: entry.magazine.name, entry_id: entry.id, parent_comment_id: parent is defined and parent ? parent.id : null}) %}
{% endif %}

<h3 hidden>{{ title }}</h3>
{{ form_start(form, {action: action, attr: {class: edit ? 'comment-edit replace' : 'comment-add'}}) }}
{{ component('editor_toolbar', {id: form.body.vars.id}) }}
{{ form_row(form.body, {label: false, attr: {'data-controller': 'rich-textarea'}}) }}
<div class="row actions">
    <ul>
        {% if hasImage %}
            <img width="40"
                 height="40"
                 src="{{ asset(comment.image.filePath) |imagine_filter('post_thumb') }}"
                 alt="{{ comment.image.altText }}">
            <button formaction="{{ path('entry_comment_image_delete', {magazine_name: comment.magazine.name, entry_id: comment.entry.id, comment_id: comment.id}) }}"
                    class="btn-link"
                    data-action="subject#removeImage"
                    onclick="return confirm('{{ 'are_you_sure'|trans }}');">
                <i class="fa-solid fa-xmark"></i>
            </button>
        {% endif %}
        <li class="{{ html_classes('dropdown', {'hidden': hasImage}) }}">
            <button type="button"
                    class="btn btn__secondary"
                    aria-label="{{ 'add_media'|trans }}"
                    title="{{ 'add_media'|trans }}">
                <i class="fa-solid fa-photo-film"></i>
            </button>
            <div class="dropdown__menu">
                {% include 'layout/_form_media.html.twig' %}
            </div>
        </li>
        <li class="select">
            {{ form_row(form.lang, {label: false}) }}
        </li>
        <li>
            {{ form_row(form.submit, {label: edit ? 'edit_comment' : 'add_comment', attr: {class: 'btn btn__primary', 'data-action': 'subject#sendForm'}}) }}
        </li>
    </ul>
</div>
{{ form_end(form) }}
