{% from '_layout/_not_found.html.twig' import not_found %}

<div class="kbin-comment-list mb-5" data-controller="comment-list"
   data-action="notify:EntryCommentCreatedNotification@window->comment-list#add"
   {% if entry is defined and entry %}data-comment-list-subject-id-value="{{ entry.id }}"{% endif %}>
    {% if comments|length %}
        {% for comment in comments %}
            {{ component('entry_comment', {comment: comment, extraClass: 'kbin-comment-list-item mb-0', nested: true, withParent: false}) }}
        {% endfor %}

        {% for i in 2..8 %}
            <div class="kbin-comment-line--{{ i }}"></div>
        {% endfor %}
    {% else %}
        {{ not_found() }}
    {% endif %}
</div>

{% if(comments.haveToPaginate) %}
    {{ pagerfanta(comments, null, {'pageParameter':'[p]'}) }}
{% endif %}
