<aside class="options" id="options">
    {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW')) is not same as constant('App\\Controller\\User\\ThemeSettingsController::CHAT') %}
    <div></div>
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'top') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'top')}) }}">
                {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'hot')}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'active')}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'newest')}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'oldest') }}"
               class="{{ html_classes({'active': route_has_param('sortBy', 'oldest')}) }}">
                {{ 'oldest'|trans|lower }}
            </a>
        </li>
    </menu>
    {% else %}
        <div class="options__title"><h2>{{ 'comments'|trans }} ({{ entry.commentCount }})</h2></div>
    {% endif %}
    <menu class="options__layout">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group"></i> {{ 'change_view'|trans }}</button>
            <ul class="dropdown__menu">
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::CLASSIC')}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW'), value: constant('App\\Controller\\User\\ThemeSettingsController::CLASSIC')}) }}">{{ 'classic_view'|trans|lower }}</a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::CHAT')}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW'), value: constant('App\\Controller\\User\\ThemeSettingsController::CHAT')}) }}">{{ 'chat_view'|trans|lower }}</a>
                </li>
                <li>
                    <a class="{{ html_classes({'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW')) is same as null or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW')) is same as constant('App\\Controller\\User\\ThemeSettingsController::TREE')}) }}"
                       href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::ENTRY_COMMENTS_VIEW'), value: constant('App\\Controller\\User\\ThemeSettingsController::TREE')}) }}">{{ 'tree_view'|trans|lower }}</a>
                </li>
            </ul>
        </li>
    </menu>
</aside>
