<aside class="options" id="comments-options">
    <menu class="options__main">
        <li>
            <a href="{{ options_url('sortBy', 'top'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'top'|trans|lower)}) }}">
            {{ 'top'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'hot'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'hot'|trans|lower)}) }}">
                {{ 'hot'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'active'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'active'|trans|lower)}) }}">
                {{ 'active'|trans|lower }}
            </a>
        </li>
        <li>
            <a href="{{ options_url('sortBy', 'newest'|trans|lower) }}"
               class="{{ html_classes({'active': is_route_params_contains('sortBy', 'newest'|trans|lower)}) }}">
                {{ 'newest'|trans|lower }}
            </a>
        </li>
    </menu>
    <menu class="options__layout">
        <li class="dropdown">
            <button aria-label="{{ 'change_view'|trans }}"
                    title="{{ 'change_view'|trans }}"><i
                        class="fa-solid fa-layer-group"></i> {{ 'change_view'|trans }}</button>
            <ul class="dropdown__menu">
                <li><a href="#">{{ 'classic_view'|trans|lower }}</a></li>
                <li><a href="#">{{ 'tree_view'|trans|lower }}</a></li>
            </ul>
        </li>
    </menu>
</aside>
