{% extends 'base.html.twig' %}

{% block title %}
    {% if is_sub_page() %}
        {{ 'topbar.subscriptions'|trans }} - {{ 'comments'|trans }}
    {% elseif is_mod_page() %}
        {{ 'topbar.moderated'|trans }} - {{ 'comments'|trans }}
    {% elseif is_magazine_page() %}
        {{ magazine.title }} - {{ 'comments'|trans }}
    {% else %}
        {{ 'comments'|trans ~ ' - ' ~ kbin_title }}
    {% endif %}
{% endblock %}
{% block description %}{{ magazine is defined ? magazine.description ? get_short_desc(magazine.description) : '' : kbin_description }}{% endblock %}
{% block image %}{{ magazine is defined ? magazine.cover ? uploaded_asset(magazine.cover.filePath) : '' : '' }}{% endblock %}


{% block body %}
    <div class="kbin-comment-wrapper">
        {% include '_layout/_filters.html.twig' %}
        {% include '_layout/_flash.html.twig' %}
        {% if magazine is defined and magazine.isAdult and (not app.user or app.user.hideAdult) %}
            {% include '_layout/_adult.html.twig' %}
        {% else %}
            {% include 'entry/comment/_list.html.twig' %}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {% if is_magazine_page() %}
        {% include 'magazine/_sidebar.html.twig' %}
    {% endif %}
{% endblock %}
