{% extends 'base.html.twig' %}

{%- block title -%}
    {% if magazine is defined and magazine %}
        {{- get_active_sort_option('sortBy')|trans|capitalize }} - {{ 'comments'|trans }} - {{ magazine.title }} - {{ parent() -}}
    {% else %}
        {{- get_active_sort_option('sortBy')|trans|capitalize }} - {{ 'comments'|trans }} - {{ parent() -}}
    {% endif %}
{%- endblock -%}


{% block mainClass %}page-entry-comments-front{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2 hidden>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    {% include 'entry/comment/_options.html.twig' %}
    {% include 'layout/_flash.html.twig' %}
    {% if magazine is defined and magazine %}
        {% include 'magazine/_federated_info.html.twig' %}
        {% include 'magazine/_visibility_info.html.twig' %}
    {% endif %}
    <div id="content" class="comments-tree">
        {% include 'entry/comment/_list.html.twig' %}
    </div>
{% endblock %}

