{% extends 'base.html.twig' %}

{%- block title -%}
    title
{%- endblock -%}

{% block mainClass %}kbin-page-entry-front{% endblock %}

{% block body %}
    {% if magazine is defined and magazine %}
        <h1 hidden>{{ magazine.title }}</h1>
        <h2>{{ get_active_sort_option()|trans }}</h2>
    {% else %}
        <h1 hidden>{{ get_active_sort_option()|trans }}</h1>
    {% endif %}
    {% include 'entry/_options.html.twig' %}
    {% if magazine is defined and magazine %}
        {% if magazine.apId %}
            <div class="kbin-alert kbin-alert__info">
                <p>{{ 'federated_magazine_info'|trans }} <a
                            href="{{ magazine.apProfileId }}">{{ 'go_to_original_instance'|trans }}</a></p>
            </div>
        {% endif %}
    {% endif %}
    {% include 'entry/comment/_list.html.twig' %}
{% endblock %}

