{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'moderate'|trans }} - {{ entry.title }} - {{ magazine.title }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-entry-moderate{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div id="content">
        {{ component('entry_comment', {
            comment: comment,
            showModeratePanel: true
        }) }}
    </div>
{% endblock %}
