<footer id="footer">
    <section>
        <h5>{{ kbin_domain() }}</h5>
        <menu>
            <li><a href="{{ path('about') }}">{{ 'about_instance'|trans }}</a></li>
            <li><a href="{{ path('magazine_list_all') }}">{{ 'all_magazines'|trans }}</a></li>
            <li><a href="{{ path('modlog') }}">{{ 'mod_log'|trans }}</a></li>
            <li><a href="{{ path('stats') }}">{{ 'stats'|trans }}</a></li>
            <li><a href="#">{{ 'fediverse'|trans }}</a></li>
            <li><a href="#">{{ 'awards'|trans }}</a></li>
            <li><a href="#">{{ 'ranking'|trans }}</a></li>
        </menu>
    </section>
    <section>
        <h5>{{ 'useful'|trans }}</h5>
        <menu>
            <li><a href="{{ path('magazine_create') }}">{{ 'create_new_magazine'|trans }}</a></li>
            <li><a href="#">{{ 'add_new_article'|trans }}</a></li>
            <li><a href="#">{{ 'add_new_link'|trans }}</a></li>
            <li><a href="#">{{ 'add_new_photo'|trans }}</a></li>
            <li><a href="#">{{ 'add_new_post'|trans }}</a></li>
            <li><a href="#">{{ 'add_new_video'|trans }}</a></li>
        </menu>
    </section>
    <section>
        <h5>{{ 'help'|trans }}</h5>
        <menu>
            <li><a href="#">{{ 'contact'|trans }}</a></li>
            <li><a href="#">{{ 'faq'|trans }}</a></li>
            <li><a href="{{ path('page_terms') }}">{{ 'terms'|trans }}</a></li>
            <li><a href="{{ path('page_privacy_policy') }}">{{ 'privacy_policy'|trans }}</a></li>
        </menu>
    </section>
    <section>
        <h5>© {{ 'now'|date('Y') }} {{ kbin_domain() }}</h5>
        <div>Powered by <a href="https://kbin.pub">kbin</a></div>
        <div>
            <menu>
                <li><a href="#"
                       title="{{ 'change_theme'|trans }}"
                       aria-label="{{ 'change_theme'|trans }}"><i class="icon__bulb"></i></a>
                </li>
                {% if magazine is defined and magazine %}
                    {% set args = {'magazine': magazine.name ?? '' } %}
                {% elseif user is defined and user %}
                    {% set args = {'user': user.username ?? '' } %}
                {% elseif tag is defined and tag %}
                    {% set args = {'tag': tag ?? '' } %}
                {% elseif domain is defined and domain %}
                    {% set args = {'domain': domain.name ?? '' } %}
                {% else %}
                    {% set args = {} %}
                {% endif %}
                <li><a href="{{ path('feed_rss', args) }}"
                       title="{{ 'rss'|trans }}"
                       aria-label="{{ 'rss'|trans }}"><i class="icon__rss"></i></a>
                </li>
            </menu>
        </div>
    </section>
</footer>

