<header id="header">
    <div class="sr-nav">
        <a href="#content">{{ 'go_to_content'|trans }}</a>
        <a href="#options">{{ 'go_to_filters'|trans }}</a>
        <a href="#search">{{ 'go_to_search'|trans }}</a>
        <a href="#footer">{{ 'go_to_footer'|trans }}</a>
    </div>
    <div class="brand">
        <a href="/">{{ kbin_title() }}</a>
    </div>
    {% if magazine is defined and magazine %}
        <div class="magazine">
            <span>/m/</span><a href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
        </div>
    {% elseif user is defined and user %}
        <div class="magazine">
            <span>/u/</span><a
                    href="{{ path('user_overview', {username: user.username}) }}">{{ user.username|username }}</a>
        </div>
    {% elseif domain is defined and domain %}
        <div class="magazine">
            <span>/d/</span><a href="{{ path('domain_entries', {name: domain.name}) }}">{{ domain.name }}</a>
        </div>
    {% elseif tag is defined and tag %}
        <div class="magazine">
            <span>#</span><a href="{{ path('tag_entries', {name: tag}) }}">{{ tag }}</a>
        </div>
    {% elseif is_route_name_end_with('_subscribed') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_subscribed') }}">sub</a>
        </div>
    {% elseif is_route_name_end_with('_favourite') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_favourite') }}">fav</a>
        </div>
    {% elseif is_route_name_end_with('_moderated') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_moderated') }}">mod</a>
        </div>
    {% endif %}

    {% if header_nav is empty %}
        <nav>
            <menu>
                <li>
                    <a href="{{ navbar_threads_url() }}"
                       class="{{ html_classes({'active': is_route_name_starts_with('front') or is_route_name_contains('_entries') or entry is defined and entry }) }}">
                        {{ 'threads'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ navbar_posts_url() }}"
                       class="{{ html_classes({'active': (is_route_name('posts_front') or is_route_name_contains('posts') or post is defined)  and not is_route_name_contains('user') }) }}">
                        {{ 'microblog'|trans }}
                    </a>
                </li>
                {#                <li> #}
                {#                    <a href="#"> #}
                {#                        {{ 'events'|trans }} #}
                {#                    </a> #}
                {#                </li> #}
                <li>
                    <a href="{{ navbar_people_url() }}"
                       class="{{ html_classes({'active': is_route_name_contains('people') or user is defined}) }}">
                        {{ 'people'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('magazine_list_all') }}"
                       class="{{ html_classes({'active': is_route_name('magazine_list_all') }) }}">
                        {{ 'magazines'|trans }}
                    </a>
                </li>
            </menu>
        </nav>
    {% else %}
        {{ header_nav|raw }}
    {% endif %}

    <menu>
        <li>
            <a href="#"
               class="icon"
               aria-label="{{ 'search'|trans }}"
               title="{{ 'search'|trans }}">
                <i class="fa-solid fa-magnifying-glass"></i> {{ 'search'|trans }}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('entry_create') }}"
               class="icon"
               aria-label="{{ 'add'|trans }}"
               title="{{ 'add'|trans }}">
                <i class="fa-solid fa-plus"></i> {{ 'add'|trans }}
            </a>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ path('entry_create', {type: 'type.article'|trans|lower}) }}"
                       class="{{ html_classes({'active': is_route_name('entry_create') and route_has_param('type', 'type.article'|trans|lower)}) }}">
                        {{ 'add_new_article'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('entry_create', {type: 'type.link'|trans|lower}) }}"
                       class="{{ html_classes({'active': is_route_name('entry_create') and route_has_param('type', 'type.link'|trans|lower)}) }}">
                        {{ 'add_new_link'|trans }}
                    </a>
                </li>
                <li>
                    <a href="{{ path('entry_create', {type: 'type.photo'|trans|lower}) }}"
                       class="{{ html_classes({'active': is_route_name('entry_create') and route_has_param('type', 'type.photo'|trans|lower)}) }}">
                        {{ 'add_new_photo'|trans }}
                    </a>
                </li>
                <li><a class="{{ html_classes({'active': is_route_name('post_create')}) }}"
                       href="{{ path('posts_front') }}">{{ 'add_new_post'|trans }}</a></li>
                <li><a href="#">{{ 'add_new_video'|trans }}</a></li>
                <li><a class="{{ html_classes({'active': is_route_name('magazine_create')}) }}"
                       href="{{ path('magazine_create') }}">{{ 'create_new_magazine'|trans }}</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="{{ path('front_subscribed') }}"
               class="icon"
               aria-label="{{ 'select_channel'|trans }}"
               title="{{ 'select_channel'|trans }}">
                <i class="fa-regular fa-eye"></i> {{ 'select_channel'|trans }}
            </a>
            <ul class="dropdown__menu">
                <li>
                    <a href="{{ path('front') }}"
                       class="{{ html_classes({'active': is_route_name('front')}) }}">{{ 'all'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('front_subscribed') }}"
                       class="{{ html_classes({'active': is_route_name('front_subscribed')}) }}">{{ 'subscribed'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('front_moderated') }}"
                       class="{{ html_classes({'active': is_route_name('front_moderated')}) }}">{{ 'moderated'|trans }}</a>
                </li>
                <li>
                    <a href="{{ path('front_favourite') }}"
                       class="{{ html_classes({'active': is_route_name('front_favourite')}) }}">{{ 'favourites'|trans }}</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            {% if app.user %}
                <a class="{{ html_classes('login', {'active': is_route_name_contains('settings')}) }}"
                   href="{{ path('user_overview', {username: app.user.username}) }}">{{ app.user.username }}</a>
                <ul class="dropdown__menu">
                    <li><a href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
                </ul>
            {% else %}
                <a class="{{ html_classes('login', {'active': is_route_name('app_login')}) }}"
                   href="{{ path('app_login') }}">{{ 'login'|trans }}</a>
            {% endif %}
        </li>
    </menu>
</header>
