<header id="header">
    <div class="sr-nav">
        <a href="#content">Przejdź do treści</a>
        <a href="#options">Przejdź do filtrów</a>
        <a href="#search">Przejdź do wyszukiwarki</a>
        <a href="#footer">Przejdź do stopki</a>
    </div>
    <div class="brand">
        <a href="/">karab.in</a>
    </div>
    {% if magazine is defined and magazine %}
        <div class="magazine">
            <span>/m/</span><a href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
        </div>
    {% elseif domain is defined and domain %}
        <div class="magazine">
            <span>/d/</span><a href="{{ path('domain_front', {name: domain.name}) }}">{{ domain.name }}</a>
        </div>
    {% elseif tag is defined and tag %}
        <div class="magazine">
            <span>#</span><a href="{{ path('tag_front', {name: tag}) }}">{{ tag }}</a>
        </div>
    {% elseif is_route_name_end_with('_subscribed') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_subscribed') }}">sub</a>
        </div>
    {% elseif is_route_name_end_with('_favourite') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_favourite') }}">fav</a>
        </div>
    {% elseif is_route_name_end_with('_moderated') %}
        <div class="magazine">
            <span>/</span><a href="{{ path('front_moderated') }}">mod</a>
        </div>
    {% endif %}
    <nav>
        <menu>
            <li>
                <a href="{{ navbar_threads_url() }}"
                   class="{{ html_classes({'active': is_route_name('front') or is_route_name_contains('front_') or entry is defined and entry }) }}">
                    {{ 'threads'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ navbar_posts_url() }}"
                   class="{{ html_classes({'active': is_route_name_contains('post') }) }}">
                    {{ 'microblog'|trans }}
                </a>
            </li>
{#            <li>#}
{#                <a href="#">#}
{#                    {{ 'events'|trans }}#}
{#                </a>#}
{#            </li>#}
            <li>
                <a href="#">
                    {{ 'people'|trans }}
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'magazines'|trans }}
                </a>
            </li>
        </menu>
    </nav>
    <menu>
        <li>
            <a href="#"
               aria-label="{{ 'search'|trans }}"
               title="{{ 'search'|trans }}">
                <i class="icon__search"></i>
            </a>
        </li>
        <li>
            <a href="#"
               aria-label="{{ 'add'|trans }}"
               title="{{ 'add'|trans }}">
                <i class="icon__add"></i>
            </a>
        </li>
        <li>
            <a href="#"
               aria-label="{{ 'select_channel'|trans }}"
               title="{{ 'select_channel'|trans }}">
                <i class="icon__channel"></i>
            </a>
        </li>
        <li>
            {% if app.user %}
                <a href="#"
                   aria-label="{{ 'login'|trans }}"
                   title="{{ 'login'|trans }}">
                    <i class="icon__user"></i>
                </a>
            {% else %}
                <a class="{{ html_classes('login', {'active': is_route_name('app_login')}) }}"
                   href="{{ path('app_login') }}">{{ 'login'|trans }}</a>
            {% endif %}
        </li>
    </menu>
</header>
