<header id="kbin-header">
    <div class="kbin-sr-nav">
        <a href="#kbin-content">Przejdź do treści</a>
        <a href="#kbin-options">Przejdź do filtrów</a>
        <a href="#kbin-search">Przejdź do wyszukiwarki</a>
        <a href="#kbin-footer">Przejdź do stopki</a>
    </div>
    <div class="kbin-brand">
        <a href="/">karab.in</a>
    </div>
    {% if magazine is defined and magazine %}
        <div class="kbin-magazine">
            <span>/m/</span><a href="{{ path('front_magazine', {name: magazine.name}) }}">{{ magazine.name }}</a>
        </div>
    {% endif %}
    <nav>
        <menu>
            <li>
                <a href="{{ navbar_threads_url() }}"
                   class="{{ html_classes({'kbin-active': is_route_name('front') or is_route_name_contains('front_') or entry is defined and entry }) }}">
                    {{ 'threads'|trans }}
                </a>
            </li>
            <li>
                <a href="{{ navbar_posts_url() }}"
                   class="{{ html_classes({'kbin-active': is_route_name_contains('post') }) }}">
                    {{ 'microblog'|trans }}
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'people'|trans }}
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'events'|trans }}
                </a>
            </li>
            <li>
                <a href="#">
                    {{ 'magazines'|trans }}
                </a>
            </li>
        </menu>
    </nav>
    <menu>
        <li>
            <a href="#"
               aria-label="{{ 'search'|trans }}"
               title="{{ 'search'|trans }}">
                <i class="kbin-icon__search"></i>
            </a>
        </li>
        <li>
            <a href="#"
               aria-label="{{ 'add'|trans }}"
               title="{{ 'add'|trans }}">
                <i class="kbin-icon__add"></i>
            </a>
        </li>
        <li>
            <a href="#"
               aria-label="{{ 'select_channel'|trans }}"
               title="{{ 'select_channel'|trans }}">
                <i class="kbin-icon__channel"></i>
            </a>
        </li>
        <li>
            {% if app.user %}
                <a href="#"
                   aria-label="{{ 'login'|trans }}"
                   title="{{ 'login'|trans }}">
                    <i class="kbin-icon__user"></i>
                </a>
            {% else %}
                <a class="{{ html_classes('kbin-login', {'kbin-active': is_route_name('app_login')}) }}"
                   href="{{ path('app_login') }}">{{ 'login'|trans }}</a>
            {% endif %}
        </li>
    </menu>
</header>
