<div class="appearance">
    <div class="row">
        <span>{{ 'show_users_avatars'|trans }}:</span>
        <div>
            <a class="{{ html_classes('link-muted', {'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_USERS_AVATARS')) is same as 'true'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_USERS_AVATARS'), value: 'true'}) }}">
                {{ 'yes'|trans }}
            </a>
            |
            <a class="{{ html_classes('link-muted', {'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_USERS_AVATARS')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_USERS_AVATARS')) is same as 'false'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_USERS_AVATARS'), value: 'false'}) }}">
                {{ 'no'|trans }}
            </a>
        </div>
    </div>
    <div class="row">
        <span>{{ 'show_magazines_icons'|trans }}:</span>
        <div>
            <a class="{{ html_classes('link-muted', {'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_MAGAZINES_ICONS')) is same as 'true'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_MAGAZINES_ICONS'), value: 'true'}) }}">
                {{ 'yes'|trans }}
            </a>
            |
            <a class="{{ html_classes('link-muted', {'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_MAGAZINES_ICONS')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_MAGAZINES_ICONS')) is same as 'false'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_MAGAZINES_ICONS'), value: 'false'}) }}">
                {{ 'no'|trans }}
            </a>
        </div>
    </div>
    <div class="row">
        <span>{{ 'show_threads_thumbnails'|trans }}:</span>
        <div>
            <a class="{{ html_classes('link-muted', {'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_THREADS_THUMBNAILS')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_THREADS_THUMBNAILS')) is same as 'true'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_THREADS_THUMBNAILS'), value: 'true'}) }}">
                {{ 'yes'|trans }}
            </a>
            |
            <a class="{{ html_classes('link-muted', {'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_THREADS_THUMBNAILS')) is same as 'false'}) }}"
               href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_SHOW_THREADS_THUMBNAILS'), value: 'false'}) }}">
                {{ 'no'|trans }}
            </a>
        </div>
    </div>
</div>

