<div class="sidebar-options" data-controller="options">
    <div class="section options--top options top-options">
        <menu>
            <ul data-options-target="actions">
                <li class='close-button'>
                    <a
                            href=""
                            data-action="options#closeNav"
                            title="{{ 'close'|trans }}"
                            aria-label="{{ 'close'|trans }}">
                        <i class="fa-solid fa-close"></i>
                    </a>
                </li>
                <li class='federation-button'>
                    <a 
                    href="#federation"
                    data-action="options#toggleFederation"
                    title="{{ 'federation'|trans }}"
                    aria-label="{{ 'federation'|trans }}">
                        <i class="fa-solid fa-circle-nodes"></i>
                    </a>
                </li>
                <li class='settings-button'>       
                    <a 
                    href="#settings"
                    data-action="options#toggleSettings"
                    title="{{ 'settings'|trans }}"
                    aria-label="{{ 'settings'|trans }}">
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </li>
                <li class='home-button'>
                    <a
                            href="/"
                            data-action="options#home"
                            title="{{ 'homepage'|trans }}"
                            aria-label="{{ 'homepage'|trans }}">
                        <i class="fa-solid fa-home"></i>
                    </a>
                </li>
            </ul>
        </menu>
    </div>
    <div id="settings" class="section" data-options-target="settings">
        <h3>{{ 'theme'|trans }}</h3>
        {% include 'layout/_options_theme.html.twig' %}
        {% include 'layout/_options_font_size.html.twig' %}
        {% include 'layout/_options_appearance.html.twig' %}
    </div>
    <div id="federation" class="section" data-options-target="federation">
        <h3>{{ 'federation'|trans }}</h3>
        <div class="settings-list">
            <div class="row">
                <span>{{ 'status'|trans }}:</span>
                <div>
                    <a href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FEDERATION_ENABLED'), value: 'true'}) }}"
                       class="{{ html_classes('link-muted', {'active': not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FEDERATION_ENABLED')) or app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FEDERATION_ENABLED')) is same as 'true'}) }}">
                        {{ 'on'|trans }}
                    </a>
                    |
                    <a href="{{ path('theme_settings', {key: constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FEDERATION_ENABLED'), value: 'false'}) }}"
                       class="{{ html_classes('link-muted', {'active': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_FEDERATION_ENABLED')) is same as 'false'}) }}">
                        {{ 'off'|trans }}
                    </a>
                </div>
            </div>

            <div class="row">
                <strong>{{ 'instances'|trans }}:</strong>
            </div>
        </div>
    </div>
    <div class="section mobile-nav">
        {% include 'layout/_header_bread.html.twig' %}
        <menu class="info">
            {% include 'layout/_header_nav.html.twig' with {header_nav: header_nav} %}
        </menu>
    </div>
    {% if not app.user and (is_route_name_contains('front') or is_route_name('root')  or is_route_name('magazine_list_all')) %}
        <div class="section intro">
            <div class="container">
                <h3>{{ 'kbin_intro_title'|trans }}</h3>
                <p>{{ kbin_title() }} {{ 'kbin_intro_desc'|trans }}</p>
            </div>

            <div>
                <a href="{{ path('entry_create') }}" class="btn btn-link btn__primary"
                   type="submit">{{ 'add_new_link'|trans }}</a>
                <a href="{{ path('magazine_create') }}" class="btn btn-link btn__secondary"
                   type="submit">{{ 'create_new_magazine'|trans }}</a>
            </div>
        </div>
    {% endif %}
</div>

{% if sidebar_top is empty %}
{% else %}
    {{ sidebar_top|raw }}
{% endif %}
{% if user is defined %}
    {% include 'user/_info.html.twig' %}
{% endif %}
{% if entry is defined and magazine %}
    {% include 'entry/_info.html.twig' %}
{% endif %}
{% if post is defined and magazine %}
    {% include 'post/_info.html.twig' %}
{% endif %}
{% if magazine is defined and magazine %}
    {{ component('magazine_box', {
        magazine: magazine,
        showSectionTitle: true
    }) }}
    {% include 'magazine/_moderators_sidebar.html.twig' %}
{% endif %}
{{ component('related_magazines', {magazine: magazine is defined and magazine ? magazine.name : null, tag: tag is defined and tag ? tag : null}) }}
{% if not is_route_name_contains('people') %}
    {{ component('active_users', {magazine: magazine is defined and magazine ? magazine : null}) }}
{% endif %}
{{ component('related_posts', {magazine: magazine is defined and magazine ? magazine.name : null, tag: tag is defined and tag ? tag : null}) }}
{{ component('related_entries', {magazine: magazine is defined and magazine ? magazine.name : null, tag: tag is defined and tag ? tag : null}) }}
<div class="section section--no-bg kbin-promo">
    <img height="47" src="{{ asset('favicon.svg') }}" alt="Clone repo">
    <div>
        <h4>{{ 'kbin_promo_title'|trans }}</h4>
        <p>{{ 'kbin_promo_desc'|trans({
                '%link_start%': '<a href="https://kbin.pub" class="stretched-link">',
                '%link_end%': '</a>'
            })|raw }}</p>
    </div>
</div>