<div class="options options--top">
    <menu>
        <li><a href="#" title="Federacja" aria-label="Federacja"><i class="icon__fediverse"></i></a></li>
        <li><a href="#" title="Ustawienia" aria-label="Ustawienia"><i class="icon__settings"></i></a></li>
    </menu>
</div>
{% if sidebar_top is empty %}
{% else %}
    {{ sidebar_top|raw }}
{% endif %}
{% if entry is defined and magazine %}
    {% include 'entry/_info.html.twig' %}
{% endif %}
{% if magazine is defined and magazine %}
    {{ component('magazine', {magazine: magazine, showSectionTitle: true}) }}
    <section class="user-list section">
        <h3>{{ 'moderators'|trans }}</h3>
        <ul>
            {% for moderator in magazine.moderators|slice(0, 5) %}
                <li>
                    {% if moderator.user.avatar %}
                        <img width="30"
                             height="30"
                             src="{{ asset(moderator.user.avatar.filePath) | imagine_filter('avatar_thumb') }}"
                             alt="{{ moderator.user.username ~ ' ' ~ 'avatar'|trans|lower }}">
                    {% endif %}
                    <a href="{{ path('user', {username: moderator.user.username}) }}"
                       class="stretched-link">{{ moderator.user.username|username }}</a>
                </li>
            {% endfor %}
        </ul>
        {% if magazine.moderators|length > 5 %}
            <footer>
                <a href="{{ path('magazine_moderators', {name: magazine.name}) }}"
                   class="stretched-link">{{ 'show_more'|trans|lower }}</a>
            </footer>
        {% endif %}
    </section>
{% endif %}
{{ component('related_posts') }}
