{% if attributes is not defined %}
    {% set attributes = {} %}
{% endif %}
{% if entryCommentAttributes is not defined %}
    {% set entryCommentAttributes = {} %}
{% endif %}
{% if entryAttributes is not defined %}
    {% set entryAttributes = {} %}
{% endif %}
{% if postAttributes is not defined %}
    {% set postAttributes = {} %}
{% endif %}

{% for subject in results %}
    {% include 'layout/_subject.html.twig' %}
{% endfor %}

{% if pagination is defined and pagination %}
    {% if(pagination.haveToPaginate is defined and pagination.haveToPaginate) %}
        {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is same as 'true' %}
            <div data-controller="infinite-scroll" class="infinite-scroll">
                {{ component('loader', {'data-infinite-scroll-target': 'loading'}) }}
                <div data-infinite-scroll-target="pagination" class="visually-hidden">
                    {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
                </div>
            </div>
        {% else %}
            {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    {% endif %}
{% else %}
    {% if(results.haveToPaginate is defined and results.haveToPaginate) %}
        {% if app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_GENERAL_INFINITE_SCROLL')) is same as 'true' %}
            <div data-controller="infinite-scroll" class="infinite-scroll">
                {{ component('loader', {'data-infinite-scroll-target': 'loading'}) }}
                <div data-infinite-scroll-target="pagination" class="visually-hidden">
                    {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
                </div>
            </div>
        {% else %}
            {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    {% endif %}
{% endif %}
{% if not results|length %}
    <aside class="section section--muted">
        <p>{{ 'empty'|trans }}</p>
    </aside>
{% endif %}
