{% from 'user/_macros.html.twig' import avatar %}
{% from 'user/_macros.html.twig' import user %}

<div class="table-responsive">
    <table class="table align-middle">
        <thead>
        <tr>
            <td></td>
            <td>{{ 'username'|trans }}</td>
            <td>{{ 'threads'|trans }}</td>
            <td>{{ 'comments'|trans }}</td>
            <td>{{ 'followers'|trans }}</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    {% if user.avatar %}{{ avatar(user, {width:'50px'}) }}{% endif %}
                </td>
                <td>{{ user(user) }}</td>
                <td>{{ user.entries|length }}</td>
                <td>{{ user.entryComments|length }}</td>
                <td>{{ user.followersCount }}</td>
                <td>{% include 'user/_follow_button.html.twig' %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% if(users.haveToPaginate) %}
    {{ pagerfanta(users, null, {'pageParameter':'[p]'}) }}
{% endif %}
