<ul class="nav nav-pills mb-1 small">
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user') ? 'active' : '' }}" aria-current="page" href="{{ path('user', {username: user.username}) }}">{{ 'overview'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user_entries') ? 'active' : '' }}" aria-current="page" href="{{ path('user_entries', {username: user.username}) }}">{{ 'threads'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user_comments') ? 'active' : '' }}" aria-current="page" href="{{ path('user_comments', {username: user.username}) }}">{{ 'comments'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user_posts') ? 'active' : '' }}" aria-current="page" href="{{ path('user_posts', {username: user.username}) }}">{{ 'posts'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user_replies') ? 'active' : '' }}" aria-current="page" href="{{ path('user_replies', {username: user.username}) }}">{{ 'replies'|trans }}</a>
    </li>
    <li class="nav-item small">
        <a class="nav-link {{ is_active_route('user_followers') ? 'active' : '' }}" aria-current="page" href="{{ path('user_followers', {username: user.username}) }}">{{ 'followers'|trans }}</a>
    </li>
    {% if user.getShowProfileFollowings or app.user is same as user %}
        <li class="nav-item small {{ user.getShowProfileFollowings ? '' : 'opacity-50' }}">
            <a class="nav-link {{ is_active_route('user_follows') ? 'active' : '' }}" aria-current="page" href="{{ path('user_follows', {username: user.username}) }}">{{ 'follows'|trans }}</a>
        </li>
    {% endif %}
    {% if user.getShowProfileSubscriptions or app.user is same as user %}
        <li class="nav-item small {{ user.getShowProfileSubscriptions ? '' : 'opacity-50' }}">
            <a class="nav-link {{ is_active_route('user_subscriptions') ? 'active' : '' }}" aria-current="page" href="{{ path('user_subscriptions', {username: user.username}) }}">{{ 'subscriptions'|trans }}</a>
        </li>
    {% endif %}
</ul>