{% block user %}
    {% if prefix %}<small class="text-muted">/u/</small>{% endif %}<a class="{{ bolded ? 'font-weight-bold' : '' }}"
                                                                      href="{{ path('user', {'username': user.username}) }}">{{ user.username }}</a>
{% endblock user %}

{% block avatar %}
    <div class="kbin-avatar">
        {% if user.avatar %}
            <img class="img-thumbnail" src="{{ asset(user.avatar.filePath) | imagine_filter('avatar_thumb') }}" alt="{{ user.username }}" style="{{ width ? 'max-width:'~width : '' }}"/>
        {% else %}
            <img class="img-thumbnail" src="{{ asset('build/images/avatar.jpg') }}" alt="{{ user.username }}"/>
        {% endif %}
    </div>
{% endblock %}
