{% block user %}
    {% if prefix %}<small class="text-muted">/u/</small>{% endif %}<a class="{{ bolded ? 'font-weight-bold' : '' }}"
                                                                      data-controller="user-popup"
                                                                      data-action="user-popup#show"
                                                                      href="{{ path('user', {'username': user.username}) }}">{{ user.username }}</a>
{% endblock user %}

{% block avatar %}
    <a href="{{ path('user', {'username': user.username}) }}">
        <div class="kbin-avatar">
            {% if user.avatar %}
                <img width="100" height="100" class="img-thumbnail" src="{{ asset(user.avatar.filePath) | imagine_filter('avatar_thumb') }}"
                     alt="{{ user.username }}" style="{{ width ? 'max-width:'~width : '' }}"/>
            {% else %}
                <img width="100" height="100" class="img-thumbnail" src="{{ asset('build/images/avatar.jpg') }}" alt="{{ user.username }}"/>
            {% endif %}
        </div>
    </a>
{% endblock %}
