{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{% block title %}{{ user.username }} - {{ 'overview'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-front-page kbin-entry-list kbin-comment-wrapper kbin-post-wrapper">
        {% if results|length %}
            {% for subject in results %}
                {% include '_layout/_subject.html.twig' with {subject: subject, withParent: false, nested:false} %}
            {% endfor %}
        {% else %}
            {{ not_found() }}
        {% endif %}

        {% if(results.haveToPaginate) %}
            {{ pagerfanta(results, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
