{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}
{% from 'user/_macros.html.twig' import avatar %}

{%- block title -%}{{- user.username }} - {{ 'overview'|trans -}}{%- endblock -%}

{% block body %}
    {% if user.cover %}
        <div style="height:250px; background: url({{ asset(user.cover.filePath) |imagine_filter('user_cover') }}); background-size:cover;">
        </div>
    {% else %}
        <div style="height:50px;"></div>
    {% endif %}
    <div class="position-relative text-left" style="top:-35px">
        {% if user.avatar %}
            <div class="kbin-user-avatar">
                {{ avatar(user) }}
                <div class="text-center">
                    <h3 class="card-title font-weight-bold pt-2">
                        <a href="{{ user.apProfileId ?? '#' }}"
                           rel="{{ user.appProfileId ? 'nofollow noopener noreferrer' : '' }}"
                           class="text-reset">{{ user.username|trim('@', 'left') }}</a>
                    </h3>
                    {% include 'user/_follow_button.html.twig' %}
                </div>
            </div>
        {% endif %}
    </div>

    {% if user.about %}
        <div class="about p-3">
            <p>{{ user.about|markdown|raw }}</p>
        </div>
    {% endif %}
    {% if user.apProfileId %}
        <div class="alert alert-secondary text-muted my-5" role="alert">
            {{ 'old_posts_instance_info'|trans }} <a rel="nofollow noopener noreferrer" href="{{ user.apProfileId }}"
                                                     class="font-weight-bold">{{ 'go_to_author_instance'|trans }}</a>
        </div>
    {% endif %}
    {% include 'user/_nav.html.twig' %}
    <div class="kbin-user-front-page kbin-entry-list kbin-comment-wrapper kbin-post-wrapper">
        {% if results|length %}
            {% for subject in results %}
                {% include '_layout/_subject.html.twig' with {subject: subject, withParent: false, nested:false} %}
            {% endfor %}
        {% else %}
            {{ not_found() }}
        {% endif %}

        {% if(pagination.haveToPaginate) %}
            {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
