{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{%- block title -%}{{- user.username }} - {{ 'overview'|trans -}}{%- endblock -%}

{% block body %}
    {% if user.cover %}
        <div style="height:220px; background: url({{ asset(user.cover.filePath) |imagine_filter('user_cover') }}) center; background-size:cover;">
        </div>
    {% else %}
        <div style="height:50px;"></div>
    {% endif %}

    {% include 'user/_avatar_cover.html.twig' with {extraClass: 'justify-content-md-between'} %}

    {% if user.about %}
        <div class="about p-3 pt-0">
            <p>{{ user.about|markdown|raw }}</p>
        </div>
    {% endif %}

    {% include 'user/_instance_info.twig' %}
    {{ component('title', {title: user.apPreferredUsername ?? user.username, url: path('user', {username: user.username})}) }}
    {% include 'user/_nav.html.twig' %}
    <div class="kbin-user-front-page kbin-entry-list kbin-comment-wrapper kbin-post-wrapper">
        {% if results|length %}
            {% for subject in results %}
                {% include '_layout/_subject.html.twig' with {subject: subject, withParent: false, nested:false} %}
            {% endfor %}
        {% else %}
            {{ not_found() }}
        {% endif %}

        {% if(pagination.haveToPaginate) %}
            {{ pagerfanta(pagination, null, {'pageParameter':'[p]'}) }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
