{% extends 'base.html.twig' %}

{% block title %}{{ 'login'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-login-page">
        <div class="kbin-login mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h1 class="font-weight-bold mb-5">{{ 'login'|trans }}</h1>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="inputEmail">{{ 'login_or_email'|trans }}</label>
                            <div class="input-group input-group-lg">
                                <input value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword">{{ 'password'|trans }}</label>
                            <div class="input-group input-group-lg">
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> {{ 'remember_me'|trans }}
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            {{ 'login'|trans }}
                        </button>
                    </form>

                    <p class="mt-4">{{ 'dont_have_account'|trans }} <a href="{{ path('app_register') }}">{{ 'register'|trans }}!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
