{% extends 'base.html.twig' %}

{% block title %}Zaloguj się | {{ parent() }}{% endblock %}

{% block body %}
    <div class="kbin-user-login-page">
        <div class="kbin-login mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h1 class="font-weight-bold mb-5">Zaloguj się</h1>

                    <form method="post">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        <div class="mb-3">
                            <label for="inputEmail">Login lub email</label>
                            <div class="input-group input-group-lg">
                                <input value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="inputPassword">Hasło</label>
                            <div class="input-group input-group-lg">
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Zapamiętaj mnie
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary" type="submit">
                            Zaloguj się
                        </button>
                    </form>

                    <p class="mt-4">Nie masz konta? <a href="{{ path('app_register') }}">Zarejestruj się!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
