{% extends 'base.html.twig' %}

{% block mainClass %}kbin-page-login{% endblock %}

{% block body %}
    <div id="kbin-content" class="kbin-section kbin-section--top">
        <div class="container">
            <form method="post">
                <h1>{{ 'login'|trans }}</h1>
                {% if error %}
                    <div class="kbin-alert kbin-alert__danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div>
                    <label for="email">{{ 'login_or_email'|trans }}</label>
                    <input type="text"
                           id="email"
                           name="email"
                           value="{{ last_username }}"
                           required>
                </div>
                <div>
                    <label for="password">{{ 'password'|trans }}</label>
                    <input type="{{ 'password'|trans }}"
                           id="password"
                           name="password"
                           required>
                </div>
                <div class="kbin-checkbox">
                    <label for="remember">{{ 'remember_me'|trans }}</label>
                    <input type="checkbox" name="_remember_me" id="remember">
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div>
                    <button class="kbin-btn kbin-btn__primary" type="submit">{{ 'login'|trans }}</button>
                </div>
            </form>

            <div class="kbin-actions">
                <p>{{ 'dont_have_account'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_register') }}">{{ 'register'|trans }}</a></p>

                <p>{{ 'you_cant_login'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_forgot_password_request') }}">{{ 'reset_password'|trans }}</a></p>
            </div>
            {% include 'user/_login_socials.html.twig' %}
        </div>
    </div>
{% endblock %}
