{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'login'|trans }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-login{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <h1>{{ 'login'|trans }}</h1>
    {% include 'layout/_flash.html.twig' %}
    <div id="content" class="section">
        <div class="container">
            <form method="post">
                {% if error %}
                    <div class="alert alert__danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div>
                    <label for="email">{{ 'login_or_email'|trans }}</label>
                    <input type="text"
                           id="email"
                           name="email"
                           value="{{ last_username }}"
                           required>
                </div>
                <div>
                    <label for="password">{{ 'password'|trans }}</label>
                    <input type="password"
                           id="password"
                           name="password"
                           required>
                </div>
                <div class="checkbox">
                    <label for="remember">{{ 'remember_me'|trans }}</label>
                    <input type="checkbox" name="_remember_me" id="remember" checked>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <div class="float-end">
                    <button class="btn btn__primary" type="submit">{{ 'login'|trans }}</button>
                </div>
            </form>

            <div class="actions">
                {% if kbin_registrations_enabled() %}
                <p>{{ 'dont_have_account'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_register') }}">{{ 'register'|trans }}</a></p>
                {% endif %}
                <p>{{ 'you_cant_login'|trans }} <a
                            class="font-weight-bold"
                            href="{{ path('app_forgot_password_request') }}">{{ 'reset_password'|trans }}</a></p>
            </div>
            {% include 'user/_login_socials.html.twig' %}
        </div>
    </div>
{% endblock %}
