{% extends 'base.html.twig' %}

{% block mainClass %}page-user-overview{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <div class="{{ html_classes('section section--top', {'with-cover': user.cover, 'with-avatar': user.avatar }) }}">
        {% if user.cover %}
            <img height="220" width="100%" src="{{ asset(user.cover.filePath)|imagine_filter('user_cover') }}"
                 alt="{{ user.username }}">
        {% endif %}
        <div class="user-box"
             id="content">
            <div>
                {% if user.avatar %}
                    {{ component('user_avatar', {user: user, width: 100, height: 100}) }}
                {% endif %}
                <h1>{{ user.username|username(false) }}</h1>
                <small>{{ user.username|username }}{% if not user.apId %}@{{ kbin_domain() }}{% endif %}</small>
                {{ component('user_follow', {user: user}) }}
            </div>
        </div>
        <div class="about">
            {{ user.about|markdown|raw }}
        </div>
    </div>
    {% include('user/_options.html.twig') %}
    {% include('user/_federated_info.html.twig') %}
    <div class="overview subjects">
        {% for subject in results %}
            {% include 'layout/_subject.html.twig' %}
        {% endfor %}

        {% if not results|length %}
            <aside class="section section--muted user-list">
                <p>{{ 'empty'|trans }}</p>
            </aside>
        {% endif %}
    </div>
{% endblock %}
