{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'overview'|trans }} - {{ user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-user page-user-overview{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR')) and app.user != user %}
        <div class="section magazine">
            <h3>{{ 'admin_panel'|trans }}</h3>
            <div class="panel">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                    {% if user.apId %}
                        <form action="{{ path('user_ap_refresh', {username: user.username}) }}" method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('user_ap_refresh') }}">
                            <button type="submit" class="btn btn__secondary">
                                <i class="fa-solid fa-arrows-rotate"></i>
                                <span>{{ 'refresh_user'|trans }}</span>
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if user.isTotpAuthenticationEnabled and is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('user_2fa_remove', {username: user.username}) }}"
                          method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_2fa_remove') }}">
                        <button type="submit" class="btn btn__secondary">
                            <i class="fa fa-mobile"></i> <span>{{ '2fa.remove'|trans }}</span>
                        </button>
                    </form>
                    <hr>
                {% endif %}
                {% if not user.isAdmin() or not user.isModerator() %}
                    <form action="{{ path(user.isBanned ? 'user_unban' : 'user_ban', {username: user.username}) }}"
                          method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_ban') }}">
                        <button type="submit" class="btn btn__secondary">
                            <i class="fa fa-ban"></i>
                            <span>{{ user.isBanned ? 'unban_account'|trans : 'ban_account'|trans }}</span>
                        </button>
                    </form>
                    {% if not user.apId %}
                        <form action="{{ path('user_spam_protection_toggle', {username: user.username}) }}"
                              method="POST"
                              onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                            <input type="hidden" name="token" value="{{ csrf_token('spam_protection') }}">
                            <button type="submit" class="btn btn__secondary">
                                <i class="fa fa-bug-slash"></i>
                                <span>{{ user.spamProtection ? 'disable_spam_protection'|trans : 'enable_spam_protection'|trans }}</span>
                            </button>
                        </form>
                    {% endif %}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <form action="{{ path('user_remove_following', {username: user.username}) }}"
                          method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_remove_following') }}">
                        <button type="submit" class="btn btn__secondary">
                            <i class="fa fa-solid fa-users-slash"></i> <span>{{ 'remove_following'|trans }}</span>
                        </button>
                    </form>
                    <hr>
                    <form action="{{ path('user_delete_content', {username: user.username}) }}" method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_delete_content') }}">
                        <button type="submit" class="btn btn__secondary" title="{{ 'delete_content_desc'|trans }}">
                            <i class="fa fa-dumpster"></i> <span>{{ 'delete_content'|trans }}</span>
                        </button>
                    </form>
                    <form action="{{ path('user_purge_content', {username: user.username}) }}" method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_purge_content') }}">
                        <button type="submit" class="btn btn__danger" title="{{ 'purge_content_desc'|trans }}">
                            <i class="fa-solid fa-dumpster-fire"></i> <span>{{ 'purge_content'|trans }}</span>
                        </button>
                    </form>
                    <hr>
                    <form action="{{ path('user_delete_account', {username: user.username}) }}" method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_delete_account') }}">
                        <button type="submit" class="btn btn__secondary" title="{{ 'delete_account_desc'|trans }}">
                            <i class="fa fa-dumpster"></i> <span>{{ 'delete_account'|trans }}</span>
                        </button>
                    </form>
                    <form action="{{ path('user_purge_account', {username: user.username}) }}" method="POST"
                          onsubmit="return confirm('{{ 'are_you_sure'|trans }}');">
                        <input type="hidden" name="token" value="{{ csrf_token('user_purge_account') }}">
                        <button type="submit" class="btn btn__danger" title="{{ 'purge_account_desc'|trans }}">
                            <i class="fa-solid fa-dumpster-fire"></i> <span>{{ 'purge_account'|trans }}</span>
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

    {% block body %}
        <div class="section section--top">
            {{ component('user_box', {
                user: user,
                stretchedLink: false
            }) }}
        </div>
        {% include('user/_options.html.twig') %}
        {% include('user/_federated_info.html.twig') %}
        <div id="content" class="{{ html_classes('overview subjects comments-tree comments', {
            'show-comment-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_COMMENTS_SHOW_USER_AVATAR')),
            'show-post-avatar': app.request.cookies.get(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS')) is same as 'true' or not app.request.cookies.has(constant('App\\Controller\\User\\ThemeSettingsController::KBIN_POSTS_SHOW_USERS_AVATARS'))
        }) }}">
            {% include 'layout/_subject_list.html.twig' with {attributes: {dateAsUrl: true}, entryCommentAttributes: {showMagazineName: false}} %}
        </div>
    {% endblock %}
