{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'posts'|trans }} - {{ user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-user page-user-posts{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'posts'|trans }}</h1>
        <h2 hidden>{{ user.username|username }}</h2>
    </header>
    {% include('user/_options.html.twig') %}
    {% include('user/_federated_info.html.twig') %}
    <div id="content" class="overview subjects comments-tree comments">
        {% include 'post/_list.html.twig' %}
    </div>
{% endblock %}
