{% extends 'base.html.twig' %}

{% block title %}{{ 'register'|trans }}{% endblock %}

{% block body %}
    <div class="kbin-user-register-page">
        <div class="kbin-login mt-lg-4">
            <div class="kbin-magazine-background"></div>

            <div class="row">
                <div class="col-lg-6 mb-3">
                    <h1 class="font-weight-bold mb-5">{{ 'create_account'|trans }}</h1>
                    {% include 'user/profile/_form_register.html.twig' %}
                    <p class="mt-4">{{ 'already_have_account'|trans }} <a href="{{ path('app_login') }}">{{ 'login'|trans }}!</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
