{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'replies'|trans }} - {{ user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}

{% block mainClass %}page-user page-user-replies{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'replies'|trans }}</h1>
        <h2 hidden>{{ user.username|username }}</h2>
    </header>
    {% include('user/_options.html.twig') %}
    {% include('user/_federated_info.html.twig') %}
    <div id="content">
        <aside class="subjects">
            {% for subject in results %}
                {% include 'layout/_subject.html.twig' %}
            {% endfor %}

            {% if not results|length %}
                <aside class="section section--muted">
                    <p>{{ 'empty'|trans }}</p>
                </aside>
            {% endif %}
        </aside>
    </div>
{% endblock %}
