{% extends 'base.html.twig' %}
{% from '_layout/_not_found.html.twig' import not_found %}

{%- block title -%}{{- user.username }} - {{ 'reputation_points'|trans -}}{%- endblock -%}

{% block body %}
    {%- set TYPE_ENTRY = constant('App\\Repository\\ReputationRepository::TYPE_ENTRY') -%}
    {%- set TYPE_ENTRY_COMMENT = constant('App\\Repository\\ReputationRepository::TYPE_ENTRY_COMMENT') -%}
    {%- set TYPE_POST = constant('App\\Repository\\ReputationRepository::TYPE_POST') -%}
    {%- set TYPE_POST_COMMENT = constant('App\\Repository\\ReputationRepository::TYPE_POST_COMMENT') -%}

    <div class="kbin-user-reputation-page">
        <h1 class="mt-2 mb-3">{{ 'reputation_points'|trans }}</h1>

        <ul class="nav nav-pills mb-5">
            <li class="nav-item" role="presentation">
                <a href="{{ get_reputation_page_path(TYPE_ENTRY, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_reputation_type(TYPE_ENTRY) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'threads'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_reputation_page_path(TYPE_ENTRY_COMMENT, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_reputation_type(TYPE_ENTRY_COMMENT) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'comments'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_reputation_page_path(TYPE_POST, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_reputation_type(TYPE_POST) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'posts'|trans }}</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="{{ get_reputation_page_path(TYPE_POST_COMMENT, user) }}"
                   class="btn btn-primary nav-link text-reset {{ is_active_reputation_type(TYPE_POST_COMMENT) ? 'active' : '' }}" tabindex="-1"
                   role="button"
                   aria-disabled="true">{{ 'replies'|trans }}</a>
            </li>
        </ul>

        {% include 'user/_reputation_list.html.twig' %}
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'user/_sidebar.html.twig' %}
    {{ parent() }}
    <div class="mb-4">
        {% include 'user/_moderator_list_card.html.twig' %}
    </div>
{% endblock %}
