{% extends 'base.html.twig' %}

{%- block title -%}
    {{- 'subscriptions'|trans }} - {{ user.username|username(false) }} - {{ parent() -}}
{%- endblock -%}


{% block mainClass %}page-user page-user-subscriptions{% endblock %}

{% block header_nav %}
{% endblock %}

{% block sidebar_top %}
{% endblock %}

{% block body %}
    <header>
        <h1 hidden>{{ 'subscriptions'|trans }}</h1>
        <h2 hidden>{{ user.username|username }}</h2>
    </header>
    {% include('user/_options.html.twig') %}
    {% include('user/_federated_info.html.twig') %}
    <div id="content">
        {% include 'magazine/_list.html.twig' with {view: 'columns'|trans|lower, title: 'subscriptions'|trans} %}
    </div>
{% endblock %}
